<template>
    <div class="row davivienda-checkbox form-group terms align-items-center">
        <div class="col-2 text-center">
            
            <input 
            :id="name"
            :name="name" 
            type="checkbox"
            value="S"
            checked:true
            >
        </div>
        <div class="col-10">
            <label 
            class="standard-label" > {{ placeholder }}</label>
        </div>
    </div>
</template>

<script>
    export default { 
        props: [
            'name',
            'placeholder'
        ]
    }
</script>