<template>
    <div><label 
        style="visibility: hidden;"> {{ placeholder }}</label> 
        <select 
        :class="classes" 
        :name="name" 
        :id="name"
        :placeholder="placeholder" 
        :required="required" 
        enabled="enabled"
        >
            <option value="">Seleccione la colonia...</option>
            <optgroup v-for="(index, datos) in options" :key="datos" :value="datos" :label="datos">
                <option v-for="(d0, d1) in index" :key="d1" :value="d1">{{ d0 }}</option>
            </optgroup>
        </select>
    </div>
</template>

<script>
export default { 
    props: [
        'name',
        'placeholder',
        'options',
        'classes',
        'json',
        'required',
        'enabled'
    ],

    data() {
        return {

        }
    },
    methods:{
     cambio: function(name){
        /* alert("entro")
        var valor=document.getElementById(name).value;
        var posicion = valor.indexOf("OTRA COLONIA");
        if(name == "city"){
          if (posicion != -1){
            alert("visible: city")
            document.getElementById("other_cityI").style.display = "flex";
          }else{
            alert("hidden: city")
            document.getElementById("other_cityI").style.display = "none";
          }
        }else if(name == "employer_city"){
          if (posicion != -1){
            alert("visible: employer_city")
            document.getElementById("other_employer_cityI").style.display = "flex";
          }else{
            alert("hidden: employer_city")
            document.getElementById("other_employer_cityI").style.display = "none";
          }
        } */
      }
    }
}
</script>