<template>
    <div class="row">
        <div class="col-6 radio-image" v-for="(option, index) in options" :key="index">
        <label>
            <input
            type="radio"
            :name="name"
            :value="index"
            :checked="checked"
            @input="$emit('input', $event.target.value)"
            >
            <img :src="'/design/'+option">
        </label>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            name: String,
            options: Object,
            checked: Boolean
        },
        data() {
            return {};
        },

        handleChange(e) {
            this.$emit("handleChange", e.target.value);
        } // asset('design/success.png')
    }; // src="'design/' + option.image">
</script>