<template>
    <div>
        <!-- <a href="{{ route('show.product', [$id]) }}" class="btn-back"> -->
        <a  class="btn-back">
            Regresar a los contratos
        </a>
    </div>
</template>
