<template>
    <div>
        <div class="col-4">
            <a href="/product" class="btn davivienda-file">
                <img src="#">
                <p>Nombre del producto</p>
                <p></p>
            </a>
        </div>
    </div>
</template>
