<template>
    <div>
        <multi-select
            v-model="values"
            :options="options"
            :btnLabel="btnLabel"
            :search="search"
            :historyButton="historyButton"
            :searchPlaceholder="'Buscar'"
            :selectOptions="data" 
            :class="classes" 
        />
    </div> 
        

</template>

<script>
    import multiSelect from 'vue-multi-select';
    /* import 'vue-multi-select/dist/lib/vue-multi-select.min.css'; */
    
    export default {
        props: [
    ],
    data() {
        return {
        search: 'Buscar',
        btnLabel: 'Seleccione',
        name: 'Primer grupo',
        values: [],
        data: [],
        options: {
            multi: true,
            groups: false,
        },
        };
    },
    methods: {
    },
    components: {
        multiSelect,
    },
    };
</script>