<template>
    <div><label 
        style="visibility: hidden;"> {{ placeholder }}</label> 
        <select 
        :class="classes" 
        :name="name" 
        :id="name"
        :placeholder="placeholder" 
        :required="required" 
        enabled="enabled"
        v-on:change=cambio(name)
        >
            <option value="">{{ placeholder }}</option>
            <option v-for="(dato , index) in options" :key="index" :value="index">
                {{ dato }}
            </option>
        </select>
    </div>
</template>

<script>
export default {
    props: [
        'name',
        'placeholder',
        'options',
        'resource',
        'classes',
        'json',
        'required',
        'enabled'
    ],

    data() {
        return {
        }
    },
    methods:{
      cambio: function(name){
        var valor=document.getElementById(name).value;
       // //alert("nombre: " + name + " valor: " + valor)
        if(name == "marital_status"){
            if(valor == "C"){
              document.getElementById("spouseI").style.display = 'flex';
            }else if(valor == "S"){
              document.getElementById("spouseI").style.display = 'none';
            }
        }else if(name == "foreign_currency"){
          if(valor == "N"){
            document.getElementById("monedaExtranjera_1").style.display = 'none';
            document.getElementById("monedaExtranjera_2").style.display = 'none';
            document.getElementById("monedaExtranjera_3").style.display = 'none';
            document.getElementById("monedaExtranjera_4").style.display = 'none';
            document.getElementById("monedaExtranjera_5").style.display = 'none';
            document.getElementById("monedaExtranjera_6").style.display = 'none';

            document.getElementById("transferencias_i1").style.display = 'none';
            document.getElementById("transferencias_i2").style.display = 'none';
            document.getElementById("remesasFamiliares").style.display = 'none';
               /*  document.getElementById("typical_monthly_incomeI").style.visibility = "hidden";
                document.getElementById("typical_monthly_currencyI").style.visibility = "hidden";
                document.getElementById("probable_monthly_incomeI").style.visibility = "hidden";
                document.getElementById("probable_monthly_currencyI").style.visibility = "hidden";
                document.getElementById("wire_transfersI").style.visibility = "hidden";
                document.getElementById("received_transfer_countryI").style.visibility = "hidden";
                document.getElementById("received_transfer_senderI").style.visibility = "hidden";
                document.getElementById("received_transfer_reasonI").style.visibility = "hidden";
                document.getElementById("sent_transfer_countryI").style.visibility = "hidden";
                document.getElementById("sent_transfer_senderI").style.visibility = "hidden";
                document.getElementById("sent_transfer_reasonI").style.visibility = "hidden";
                document.getElementById("remittancesI").style.visibility = "hidden";
                document.getElementById("remittance_countryI").style.visibility = "hidden";
                document.getElementById("remittance_senderI").style.visibility = "hidden";
                document.getElementById("remittance_sender_relationshipI").style.visibility = "hidden";
                document.getElementById("remittance_reasonI").style.visibility = "hidden";
                document.getElementById("currency_purchaseI").style.visibility = "hidden";
                document.getElementById("checks_in_dollarsI").style.visibility = "hidden"; */
          }else if(valor == "S"){
            document.getElementById("monedaExtranjera_1").style.display = 'flex';
            document.getElementById("monedaExtranjera_2").style.display = 'flex';
            document.getElementById("monedaExtranjera_3").style.display = 'flex';
            document.getElementById("monedaExtranjera_4").style.display = 'flex';
            document.getElementById("monedaExtranjera_5").style.display = 'flex';
            document.getElementById("monedaExtranjera_6").style.display = 'flex';
              /* document.getElementById("typical_monthly_incomeI").style.visibility = "visible";
              document.getElementById("typical_monthly_currencyI").style.visibility = "visible";
              document.getElementById("probable_monthly_incomeI").style.visibility = "visible";
              document.getElementById("probable_monthly_currencyI").style.visibility = "visible";
              document.getElementById("wire_transfersI").style.visibility = "visible";
              document.getElementById("received_transfer_countryI").style.visibility = "visible";
              document.getElementById("received_transfer_senderI").style.visibility = "visible";
              document.getElementById("received_transfer_reasonI").style.visibility = "visible";
              document.getElementById("sent_transfer_countryI").style.visibility = "visible";
              document.getElementById("sent_transfer_senderI").style.visibility = "visible";
              document.getElementById("sent_transfer_reasonI").style.visibility = "visible";
              document.getElementById("remittancesI").style.visibility = "visible";
              document.getElementById("remittance_countryI").style.visibility = "visible";
              document.getElementById("remittance_senderI").style.visibility = "visible";
              document.getElementById("remittance_sender_relationshipI").style.visibility = "visible";
              document.getElementById("remittance_reasonI").style.visibility = "visible";
              document.getElementById("currency_purchaseI").style.visibility = "visible";
              document.getElementById("checks_in_dollarsI").style.visibility = "visible"; */
          }
        }else if(name == "wire_transfers"){
          if(valor == "S"){
            document.getElementById("transferencias_i1").style.display = 'flex';
            document.getElementById("transferencias_i2").style.display = 'flex';
          }else{
            document.getElementById("transferencias_i1").style.display = 'none';
            document.getElementById("transferencias_i2").style.display = 'none';
          }
          
          
        }else if(name == "remittances"){
          if(valor == "S"){
            document.getElementById("remesasFamiliares").style.display = 'flex';
          }else{
            document.getElementById("remesasFamiliares").style.display = 'none';
          }
        }else if(name =="job"){
          //alert(valor)
          /* if(valor == 11){
            document.getElementById("dependendientes").style.display = 'flex';
          }else{
            document.getElementById("dependendientes").style.display = 'none';
          } */

          if(valor == 1){
            //alert("deberia de mostrarlo")
            document.getElementById("hide_deduction").style.display = 'flex';
          }else{
            //alert("deberia de ocultarlo")
            document.getElementById("hide_deduction").style.display = 'none';
          }
        }else if(name == "second_md_1"){
          if(valor == "S"){
            document.getElementById("show_if_second_md_1").style.display = 'flex';
            document.getElementById("show_if_second_md_1_1").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_1").style.display = 'none';
            document.getElementById("show_if_second_md_1_1").style.display = 'none';
          }
        }else if(name == "second_md_1_hospital"){
          //alert(name);
          if(valor == "Otro"){
            document.getElementById("show_if_second_md_1_other_hospital").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_1_other_hospital").style.display = 'none';
          }
        }else if(name == "second_md_2"){///////////////
          if(valor == "S"){
            document.getElementById("show_if_second_md_2").style.display = 'flex';
            document.getElementById("show_if_second_md_2_2").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_2").style.display = 'none';
            document.getElementById("show_if_second_md_2_2").style.display = 'none';
          }
        }else if(name == "second_md_2_hospital"){
          //alert(name);
          if(valor == "Otro"){
            document.getElementById("show_if_second_md_2_other_hospital").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_2_other_hospital").style.display = 'none';
          }
        }else if(name == "second_md_3"){///////////////////////////////////////////////////
          if(valor == "S"){
            document.getElementById("show_if_second_md_3").style.display = 'flex';
            document.getElementById("show_if_second_md_3_3").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_3").style.display = 'none';
            document.getElementById("show_if_second_md_3_3").style.display = 'none';
          }
        }else if(name == "second_md_3_hospital"){
          //alert(name);
          if(valor == "Otro"){
            document.getElementById("show_if_second_md_3_other_hospital").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_3_other_hospital").style.display = 'none';
          }
        }else if(name == "second_md_4"){/////////////////////////////////////
          if(valor == "S"){
            document.getElementById("show_if_second_md_4").style.display = 'flex';
            document.getElementById("show_if_second_md_4_4").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_4").style.display = 'none';
            document.getElementById("show_if_second_md_4_4").style.display = 'none';
          }
        }else if(name == "second_md_4_hospital"){
          //alert(name);
          if(valor == "Otro"){
            document.getElementById("show_if_second_md_4_other_hospital").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_4_other_hospital").style.display = 'none';
          }
        }else if(name == "second_md_5"){/////////////////////////////////////
          if(valor == "S"){
            document.getElementById("show_if_second_md_5").style.display = 'flex';
            document.getElementById("show_if_second_md_5_5").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_5").style.display = 'none';
            document.getElementById("show_if_second_md_5_5").style.display = 'none';
          }
        }else if(name == "second_md_5_hospital"){
          ////alert(name);
          if(valor == "Otro"){
            document.getElementById("show_if_second_md_5_other_hospital").style.display = 'flex';
          }else{
            document.getElementById("show_if_second_md_5_other_hospital").style.display = 'none';
          }
        } else if(name =="public_job"){
         // //alert(valor)
          if(valor == "S"){
            document.getElementById("publib_jon_second_card").style.display = 'flex';
          }else {
            document.getElementById("publib_jon_second_card").style.display = 'none';
          }
        }else if(name == "status_auto"){
          if(valor == "017"){
            ////alert(valor)
            document.getElementById("hide-appraisal").style.display = 'flex';
          }else {
            document.getElementById("hide-appraisal").style.display = 'none';
          }
        } else if(name == "public_job_active"){
          if(valor == "S"){
//            alert(valor)
            document.getElementById("trabajoHasta").style.display = 'flex';
            
          }else {
//            alert(valor)
            document.getElementById("trabajoHasta").style.display = 'none';
            
          }
        }
        
        /* else if(name == "employer_city"){
          if (posicion != -1){
            document.getElementById("other_employer_cityI").style.visibility = "visible";
          }else{
            document.getElementById("other_employer_cityI").style.visibility = "hidden";
          }
        } *//* else{
          //alert("no es ninguno de los dinamicos: " + name)
        } */
      }
    }
}
</script>