<template>
    <div>
        <label 
        style="visibility: hidden;"
         :id=name> {{ placeholder }}</label> 
        <textarea 
        :name="name" 
        :rows="rows"
        :cols="cols" 
        :class="classes"
        :placeholder="placeholder"
        :maxlength="max"
        :minlength="min"
        :required="required"
        :autocomplete="autocomplete"
        :label="label"
            v-on:focus=mostrar(name)
            v-on:blur=ocultar(name)
        ></textarea>
    </div>
</template>
<script>
    export default {
        props: [
            'name',
            'rows',
            'cols',
            'classes',
            'placeholder',
            'max',
            'min',
            'required',
            'autocomplete',
            'label'
        ],
        methods:{
            mostrar: function(name){
                document.getElementById(name).style.visibility = "visible";
            },
            ocultar: function(name){
                document.getElementById(name).style.visibility = "hidden";
            }
        }
    }
</script>
