<template>
    <div>
        <label 
        style="visibility: hidden;" 
         :id=name> {{ placeholder }}</label> 
        <input 
            :type="type"
            :class="classes"
            :name="name"
            :maxlength="max"
            :minlength="min"
            :placeholder="placeholder"
            :label="label"
            :v-model="Vmodel"
            :required="req"
            v-on:focus=mostrar(name)
            v-on:blur=ocultar(name)
            v-on:change=cambio(name)
            v-on:keyup=mask(name)
            :value="''"
            @input="$emit('input', $event.target.value)" 
        >
    </div>
</template>
<script>
    export default { 
        props: [
            'type',
            'classes',
            'name',
            'max',
            'min',
            'placeholder',
            'label',
            'Vmodel',
            'req',
            'value',
        ],
        methods:{
            mostrar: function(name){
                document.getElementById(name).style.visibility = "visible";
            },
            ocultar: function(name){
                var valor=document.getElementsByName(this.name)[0].value;
                if(valor == ""){
                    document.getElementById(name).style.visibility = "hidden";
                }else{
                    document.getElementById(name).style.visibility = "visible";
                }    
            },
            handleChange(e) {
                this.$emit("handleChange", e.target.value);
            },
            cambio:function(name){
                if(name == "income" || name == "customer_limit" || name == "isr_deduction" || name == "rap_deduction" || name == "ihss_deduction" || name == "sale_price" || name == "premium" || name == "appraisal" || name == "typical_monthly_income" || name == "probable_monthly_income"){
                    var v = document.getElementsByName(this.name)[0].value;

                    if(v.indexOf(".")==-1)  { 
                        v += ".00" 
                    } else {
                        if(v.indexOf(".") == v.length - 2) { 
                            v += "0" 
                        }
                    }
                  //  v = v.toFixed(2);
                    //alert(v)
                    document.getElementsByName(this.name)[0].value = v;
                }

               /*  let beneficiarios = 0;
                let campo = "";
                
                if(name == "beneficiary_1_participation"){
                    beneficiarios = 1;
                   // alert(beneficiarios)
                } else if(name == "beneficiary_1_participation"){
                    beneficiarios = 2;
                } else if(name == "beneficiary_1_participation"){
                    beneficiarios = 3;
                } else if(name == "beneficiary_1_participation"){
                    beneficiarios = 4;
                } else if(name == "beneficiary_1_participation"){
                    beneficiarios = 5;
                }else{
                    //alert("Hubo un problema con: " + name)
                }

                if(beneficiarios > 1 && beneficiarios < 6){
                    for(let i = 1; i<= beneficiarios; i++){
                        campo = "";
                        campo = "#beneficiary_" + i + "_name";
                        prueba = document.getElementsByName(campo)[0].value;
                       // alert(prueba);
                    }
                } */
                /* if (!document.getElementById(imagen_siguiente))
                    alert('No existo, buaaa'); */
                /* if(name == "income" || name == "customer_limit" || name == "isr_deduction" || name == "rap_deduction" || name == "ihss_deduction"){
                    var valor=document.getElementsByName(this.name)[0].value;
                    
                    document.getElementsByName(this.name)[0].value = new Intl.NumberFormat('de-DE', { style: 'decimal', currency: 'EUR' }).format(valor);
                } */
            },
            mask(name){
                if(name == "public_job_from" || name == "public_job_to" || name == "second_md_1_date" || name == "second_md_2_date" || name == "second_md_3_date" || name == "second_md_4_date" || name == "second_md_5_date" || name == "beneficiary_1_birth" || name == "beneficiary_2_birth" || name == "beneficiary_3_birth" || name == "beneficiary_4_birth" || name == "beneficiary_5_birth" || name == "premiun"){
                    var fecha = ""
                    var v = document.getElementsByName(this.name)[0].value;
                    if (v.match(/^\d{2}$/) !== null) {
                        document.getElementsByName(this.name)[0].value = v + '/';
                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                        document.getElementsByName(this.name)[0].value = v + '/';
                    }
                    //alert(fecha)
                    //return document.getElementsByName(this.name)[0].value = this.value;




                    
                }else if(name == "income" || name == "customer_limit" || name == "isr_deduction" || name == "rap_deduction" || name == "ihss_deduction" || name == "sale_price" || name == "premium" || name == "appraisal" || name == "typical_monthly_income" || name == "probable_monthly_income"){
                    var v = document.getElementsByName(this.name)[0].value;

                    /* if(numero.match(/d{1,3}(?=(d{3})+(?!d))/g) !== null){
                        alert(numero)
                    }else{
                        alert(numero)
                    } */

                    /* var validado = replace(/d{1,3}(?=(d{3})+(?!d))/g);
                    alert(validado) */
                    
                    /* if(numero.match(^[0-9]{1,3}([\\.][0-9]{3})*[\\,][0-9]{2}$) !== null ){ */
                    
                    //alert(new Intl.NumberFormat("en-IN", {maximumSignificantDigits: 2}).format(numero))


                   // new Intl.NumberFormat("en-IN", {maximumSignificantDigits: 3}).format(number)
                   v=v.replace(/([^0-9\.]+)/g,''); 
                    v=v.replace(/^[\.]/,''); 
                    v=v.replace(/[\.][\.]/g,''); 
                    v=v.replace(/\.(\d)(\d)(\d)/g,'.$1$2'); 
                    v=v.replace(/\.(\d{1,2})\./g,'.$1'); 
                    v = v.toString().split('').reverse().join('').replace(/(\d{3})/g,'$1,');    
                    v = v.split('').reverse().join('').replace(/^[\,]/,'');

                    /* document.getElementById('salida').innerHTML = new Intl.NumberFormat('es-MX').format(numero); */
                    //v = v.replace(/^[0-9]+([,][0-9]+)?$/);
                   // v = v.toFixed(2);
                    document.getElementsByName(this.name)[0].value = v;//numero;//new Intl.NumberFormat('de-DE', { style: 'decimal', currency: 'EUR' }).format(valor);
                
                }else if(name == "beneficiary_1_participation" || name == "beneficiary_2_participation" || name == "beneficiary_3_participation" || name == "beneficiary_4_participation" || name == "beneficiary_5_participation"){
                    let beneficiarios = 0;
                    let campo = "";
                    let valor = 0;
                    let temporal = 0;
                    var boton = document.getElementById('safeFamilySend');
                    
                    if(name == "beneficiary_1_participation"){
                        beneficiarios = 1;
                        //alert(beneficiarios)
                    } else if(name == "beneficiary_2_participation"){
                        beneficiarios = 2;
                        //alert(beneficiarios)
                    } else if(name == "beneficiary_3_participation"){
                        beneficiarios = 3;
                        //alert(beneficiarios)
                    } else if(name == "beneficiary_4_participation"){
                        beneficiarios = 4;
                        //alert(beneficiarios)
                    } else if(name == "beneficiary_5_participation"){
                        beneficiarios = 5;
                        //alert(beneficiarios)
                    }else{
                       // alert("Hubo un problema con: " + name)
                    }

                    if(beneficiarios > 0 && beneficiarios < 6){
                        for(let i = 1; i<= 5; i++){
                            if (document.getElementsByName(('beneficiary_' + i + '_participation'))){
                                temporal = document.getElementsByName(('beneficiary_' + i + '_participation'))[0].value;
                                if(temporal == "" || temporal == " " || temporal == null || temporal == undefined){
                                    temporal = 0
                                }
                                //alert(temporal);
                                valor = parseFloat(valor) + parseFloat(temporal);
                                //alert(valor); //total-participation

                                if(valor > 100){
                                    document.getElementById("total-participation").innerHTML = "Revise el porcentaje de participación de los beneficiarios ya que excede el 100% por " + (valor - 100) + "%.";
                                    boton.innerText = 'Participación pendiente...';
                                    boton.disabled = true;
                                }else if(valor < 100){
                                    document.getElementById("total-participation").innerHTML = "Todavía le falta asignar " + (100 - valor) + "% de participación.";
                                    boton.innerText = 'Participación pendiente...';
                                    boton.disabled = true;
                                }else{
                                    document.getElementById("total-participation").innerHTML = "";
                                    boton.innerText = 'Siguiente';
                                    boton.disabled = false;
                                } 
                                
                            }
                    //alert('No existo, buaaa'); var uno = document.getElementById('botonOn');   if (uno.innerText == 'off') 


                            
                        }
                    }// beneficiary_1_participation
                }





                
                
                
                
                /* else if(name == "beneficiary_1_participation" || name == "beneficiary_2_participation" || name == "beneficiary_3_participation" || name == "beneficiary_4_participation" || name == "beneficiary_5_participation" ){
                    var ven1 = 0, ven2 =0, ven3 = 0, ven4 = 0, ven5 = 0;
                    if(name == "beneficiary_1_participation"){
                        ven1 = document.getElementsByName(this.name)[0].value;
                    } else if(name == "beneficiary_2_participation"){
                        ven2 = document.getElementsByName(this.name)[0].value;
                    } else if(name == "beneficiary_3_participation"){
                        ven3 = document.getElementsByName(this.name)[0].value;
                    } else if(name == "beneficiary_4_participation"){
                        ven4 = document.getElementsByName(this.name)[0].value;
                    } else if(name == "beneficiary_5_participation"){
                        ven5 = document.getElementsByName(this.name)[0].value;
                    } 

                    var suma = 0;
                    var valor = document.getElementsByName(this.name)[0].value;
                    if (valor == " "){
                        valor = 0;
                    }
                    suma = suma + parseInt(valor);

                    //alert(suma)
                    document.getElementById('total-participation')[0].value = suma;
                } */
            },
        }
    }   
</script>