.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.logo {
  img {
    max-width: 300px;
  }
}

h1 {
  margin: 0.5rem 0 0;
  font-size: 1.4rem;
}

h2 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

.strong, strong, b {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.fill-box {
  border: 1px solid #000;
  width: 25px;
}

.fillable-table {
  th, td {
    padding: 5px;
  }
}

.header {
  margin: 0 0 1rem;
}

.margin-center {
  margin: 0 auto;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

.btn-printables-container {
  position: fixed;
  top: 0;
  right: 2%;
  textarea {
    position: absolute;
    top: -55px;
  }
}

.btn-print, .btn-copy-link {
  background-color: $davivienda-red;
  color: #fff;
  border: 0;
  padding: 0.7rem 2.5rem;
  border-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -webkit-box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
  box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background-color: darken($davivienda-red, 5%);
    cursor: pointer;
  }
  &:active, &:focus {
    outline: 0;
  }
  &:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
  }
}

.btn-copy-link {
  background-color: $davivienda-dark-gray;
  &:hover {
    background-color: darken($davivienda-dark-gray, 5%);
  }
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #959595;
  table {
    width: 100%;
    padding: 0 10mm 5mm;
  }
}