<template>
    <div class="container">
        <div class="hide-documents">
            <div class="row">
                <div class="col-12 form-group">
                    <h2><i class="fas fa-print"></i> Seleccione el documento a generar de la cuenta de ahorro:</h2>
                </div>
            </div>

            <div class="row" style="margin-bottom: 2rem">
                <div class="col-6 col-lg-3">
                    <!-- <a href="{{ route('bank.account.print.signature', $product->id) }}" class="btn davivienda-file" target="_blank"> -->
                        <a href="" class="btn davivienda-file" target="_blank">
                        <i class="fas fa-file-signature"></i>
                        <p>Firma</p>
                    </a>
                </div>

                <!-- @hasanyrole(env('ROL_CIF') . '|' . env('ROL_GESTOR')) -->
                    <div class="col-6 col-lg-3">
                        <!-- <a href="{{ route('bank.account.print.contract', $product->id) }}" class="btn davivienda-file" target="_blank"> -->
                            <a href="" class="btn davivienda-file" target="_blank">
                            <i class="fas fa-file-alt"></i>
                            <p>Contrato de cuenta</p>
                        </a>
                    </div>

                    <div class="col-6 col-lg-3">
                        <!-- <a href="{{ route('bank.account.print.cover', $product->id) }}" class="btn davivienda-file" target="_blank"> -->
                            <a href="" class="btn davivienda-file" target="_blank">
                            <i class="fas fa-address-book"></i>
                            <p>Solicitud de cuenta</p>
                        </a>
                    </div>
                <!-- @endhasanyrole -->

                <!-- @role(env('ROL_GESTOR')) -->
                    <div class="col-6 col-lg-3">
                        <!-- <a href="{{ $printDebitCardURL }}" class="btn davivienda-file" target="_blank"> -->
                            <a href="" class="btn davivienda-file" target="_blank">
                            <i class="fas fa-credit-card"></i>
                            <p>Embozar tarjeta</p>
                        </a>
                    </div>
                <!-- @endrole -->
            </div>

            <!-- @hasanyrole(env('ROL_CIF') . '|' . env('ROL_GESTOR'))
                @if ($product->children()->get()->count() > 0)
                    @foreach($product->children()->get() as $child)
                        @include('modules.product.' . $child->type, [
                        'product' => $child])
                    @endforeach
                @endif
            @endhasanyrole -->
        </div>
    </div>
</template>
