<template>
    <div class="container">
        <div class="row">
            <div class="col-12 form-group">
                <h2><i class="fas fa-tasks"></i> Estado del expediente:</h2>
            </div>
        </div>

        <!-- Esta parte a revisar -->
        <!-- <update-product-status :cif_audit="{{ $cifAudit }}" :product="{{ $product }}" :cif_audit_types="{{ json_encode($cifAuditTypes) }}"></update-product-status> -->







        <!-- {{--<form class="form-horizontal" role="form" method="POST" action="{{ route('update.product.audit', [$product->id, $cifAudit->id]) }}" id="comment-form">--}}
            {{--{!! csrf_field() !!}--}}

            {{--<div class="row">--}}
                {{--<div class="col-12 form-group">--}}
                    {{--@include('modules._singleSelect', [--}}
                        {{--'name' => 'name',--}}
                        {{--'placeholder' => 'Status',--}}
                        {{--'options' => $cifAuditTypes,--}}
                        {{--'resource' => $cifAudit,--}}
                        {{--'enable' => true,--}}
                        {{--'disableDefaultValue' => true--}}
                    {{--])--}}
                {{--</div>--}}
            {{--</div>--}}

            {{--<div class="row">--}}
                {{--<div class="col-12 text-right">--}}
                    {{--<button type="submit" class="btn btn-davivienda-gray" id="submit">--}}
                        {{--Enviar--}}
                    {{--</button>--}}
                {{--</div>--}}
            {{--</div>--}}
        {{--</form>--}} -->

    </div>
</template>
