<template>
    <div class="container">
        <div class="row">
            <div class="col-12 form-group">
                <h2><i class="fas fa-comment-alt"></i> Comentarios:</h2>
            </div>
        </div>

        <!-- @hasanyrole(env('ROL_CIF') . '|' . env('ROL_FIRMAS')) -->
            <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('store.product.comment', $product->id) }}" id="comment-form"> -->
                <form class="form-horizontal" role="form" id="comment-form">
                <!-- {!! csrf_field() !!} -->

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            @include('modules._textArea', [
                                'name' => 'description',
                                'label' => 'Comentario',
                                'rows' => 3,
                                'placeholder' => 'Ingresar el comentario'
                            ])
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-davivienda-gray" id="submit">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        <!-- @endhasanyrole -->

        <div class="row product-comments-container">
            <!-- @if ($comments->count() > 0) -->
                <!-- @foreach($comments as $comment) -->
                    <div class="col-12">
                        <div class="product-comment">
                            <!-- <h5 class="text-right">{{ $comment->creator->name }}</h5> -->
                            <h5 class="text-right"></h5>

                            <!-- <p>{{ $comment->description }}</p> -->
                            <p></p>

                            <!-- @hasanyrole(env('ROL_CIF') . '|' . env('ROL_GESTOR')) -->
                                <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('solve.product.comment', [$product->id, $comment->id]) }}" id="comment-form"> -->
                                <form class="form-horizontal" role="form" id="comment-form">
                                    <!-- {!! csrf_field() !!} -->
                                    <div class="row">
                                        <div class="col-12 text-right">
                                            <button type="submit" class="btn btn-davivienda-gray btn-resolve-comment" id="submit">
                                                Resolver
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            <!-- @endhasanyrole -->
                        </div>
                    </div>
                <!-- @endforeach -->
            <!-- @else -->
                <div class="col-12">
                    <div class="product-comment">
                        <p>No hay comentarios disponibles</p>
                    </div>
                </div>
            <!-- @endif -->
        </div>

        <!-- @if ($solvedComments->count() > 0) -->
            <div class="row">
                <div class="col-12 form-group">
                    <h2><i class="fas fa-check"></i> Comentarios resueltos:</h2>
                </div>
            </div>

            <div class="row product-comments-container" style="margin-top: 0">
                <!-- @foreach($solvedComments as $comment) -->
                    <div class="col-12">
                        <div class="product-comment solved-comment">
                            <!-- <h5 class="text-right">{{ $comment->creator->name }}</h5> -->
                            <h5 class="text-right"></h5>

                            <!-- <p>{{ $comment->description }}</p> -->
                            <p></p>

                            <!-- <p class="text-left mt-2"><b>Resuelto por:</b> {{ $comment->solver->name }}</p> -->
                            <p class="text-left mt-2"><b>Resuelto por:</b> </p>
                        </div>
                    </div>
                <!-- @endforeach -->
            </div>
        <!-- @endif -->
    </div>
</template>
