<template>
    <div class="container">
        <div class="row" style="margin-bottom: 5rem">
            <div class="col-12">
                <table id="support-documents" class="davivienda-datatables">
                    <thead>
                        <tr>
                            <th style="width: 20px;">No.</th>
                            <th style="width: 25%;">Tipo</th>
                            <th style="width: 100px;">Usuario</th>
                            <th style="width: 60px;">Fecha</th>
                            <th>Status</th>
                            <th style="width: 50px;">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- @foreach($product->uploads()->filterByRole()->get() as $key => $value) -->
                            <tr>
                                <td class="text-center">
                                    <!-- {{ $key + 1 }} -->
                                </td>
                                <td class="text-center" style="padding: 10px 16px">
                                    <!-- @role(env('ROL_CIF')) -->
                                        <!-- <update-upload-type :upload="{{ $value }}" :product="{{ $product }}" :upload_types="{{ json_encode($uploadTypes) }}"></update-upload-type> -->
                                    <!-- @else -->
                                        <!-- {{ $uploadTypes[$value->type] }} -->
                                    <!-- @endrole -->
                                </td>
                                <td class="text-center">
                                    <!-- {{ $value->user->name }} -->
                                </td>
                                <td class="text-center">
                                    <!-- {{ $value->created_at->format('Y/m/d') }} -->
                                </td>
                                <td class="text-center">
                                    <!-- @if ($value->type === 'firma')
                                        @role(env('ROL_FIRMAS'))
                                            <update-upload-status :upload_audit="{{ $value->audits()->first() }}" :upload="{{ $value }}" :upload_audit_types="{{ json_encode($uploadAuditTypes) }}"></update-upload-status>
                                        @else
                                            {{ $uploadAuditTypes[$value->audits()->first()->name] }}
                                        @endrole
                                    @else
                                        {{ $uploadAuditTypes[$value->audits()->first()->name] }}
                                    @endif -->
                                </td>
                                <td class="text-center" style="padding: 10px 16px">
                                    <!-- <a href="{{ asset($value->url) }}" class="btn btn-product-document" target="_blank"> -->
                                        <a href="" class="btn btn-product-document" target="_blank">
                                        <i class="fas fa-file-pdf"></i>
                                    </a>
                                </td>
                            </tr>
                        <!-- @endforeach -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
