<template>
    <div class="container">
        <div class="row">
            <div class="col-12 form-group">
                <h2><i class="fas fa-cloud-upload-alt"></i> Subir documentos:</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="upload-dropzone">
                    <!-- <form class="dropzone user-dropzone" action="{{ route('upload.product.document', [$product->id]) }}" id="upload"> -->
                    <form class="dropzone user-dropzone" id="upload">
                        <!-- {!! csrf_field() !!} -->
                        <div class="dz-message" data-dz-message>
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3><i class="fas fa-id-card"></i> Documentos del producto</h3>
                                    <p>Suba la identidad, firma y escritura de comerciante individual (Si aplica)</p>
                                    <span>
                                        <i class="fas fa-cloud-upload-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
