<template>

    <div style="width: 100%;
        min-height: 100%;
        height: 100%;
        position: fixed;
        top:0; 
        left:0;
        background: white;
        z-index:1;
        overflow-y: scroll;">
      <!--   <div class="row">
            <div class="col-12 form-group result-message">
                <h2>{{ this.paso.mensaje }}</h2>
            </div>
        </div> -->


        <div >
            <div v-if="this.paso.respuesta.product_information.result_stage == 'D'" class="row">
                <div class="col-12 form-group">
                     <div class="row">
                         <div class="col-2"></div>
                        <div class="col-8 form-group result-message">
                            <h2>{{ this.paso.mensaje }}</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <table class="results-table">
                                    <tr v-for="(dato, index) in this.paso.respuesta.product_information.suggestions" :key="index">
                                        <td class="result-title text-left">Sugerencia {{ index + 1 }}</td>
                                        <td class="result-value text-left">* {{ dato }}</td>
                                    </tr>
                            </table>
                </div>
            </div>
            <div v-if="this.paso.respuesta.product_information.result_stage == 'A'" class="row">
                <div class="col-12 form-group">
                    <div class="row">
                         <div class="col-2"></div>
                        <div class="col-8 form-group result-message">
                            <h2>{{ this.paso.mensaje }}</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <table class="results-table">
                        <tr>

                            <td class="result-title">Precio de venta:</td>
                            <td class="result-value-secondary">L {{ this.paso.respuesta.product_information.sale_price }}</td>
                        </tr>
                        <tr>
                            <td class="result-title">Prima</td>
                            <td class="result-value-secondary">L {{ this.paso.respuesta.product_information.premium }}</td>
                        </tr>
                        <tr>
                            <td class="result-title">Valor a financiar:</td>
                            <td class="result-value-secondary">L {{ this.paso.respuesta.product_information.response_scenario.value_finance }}</td>
                        </tr>
                        <tr>
                            <td class="result-title">Plazo:</td>
                            <td class="result-value-secondary">{{ this.paso.respuesta.product_information.financing_term.value }}</td>
                        </tr>
                        <tr>
                            <td class="result-title">Tasa de interes:</td>
                            <td class="result-value-secondary">{{ this.paso.respuesta.product_information.response_scenario.interest_rate }}%</td>
                        </tr>
                        <tr>
                            <td class="result-title">Cuota nivelada:</td>
                            <td class="result-value-secondary">L {{ this.paso.respuesta.product_information.response_scenario.level_fee }}%</td>
                        </tr>
                        <tr>
                            <td class="result-title">Cuota seguro de deuda:</td>
                            <td class="result-value">L {{ this.paso.respuesta.product_information.response_scenario.debt_insurance }}%</td>
                        </tr>
                        <tr>
                            <td class="result-title">Cuota seguro de daño:</td>
                            <td class="result-value">L {{ this.paso.respuesta.product_information.response_scenario.safe_insurance }}%</td>
                        </tr>

                        <tr>
                            <td class="result-title">Cuota total:</td>
                            <td class="result-value">L {{ this.paso.respuesta.product_information.response_scenario.total_quota }}%</td>
                        </tr>
                    </table>
                </div>
            
            </div>

            <div class="row justify-content-center" style="margin-bottom: 1.5rem">
                <div class="col-12 col-sm-6 text-center">

                    <form class="form-horizontal" role="form" method="POST" id="recalculate-form">
                        <button type="button" class="btn btn-davivienda-gray" 
                            style="padding: 0.8rem 3rem" v-on:click="calcular(1);">
                            <a class="fas fa-redo" style="margin-right: 1rem"></a>
                            VOLVER A COTIZAR
                        </button>
                    </form>
                </div>

                <div v-if="this.paso.respuesta.product_information.result_stage == 'A'"  class="col-12 col-sm-6 text-center">
                    <form class="form-horizontal" role="form" >
                        <button type="button" class="btn btn-davivienda-red" style="padding: 0.8rem 3rem" v-on:click="calcular(2);">
                            ACEPTAR
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                /* errors: {}, */
                datos: {},

                pasosEnviar: {
                    paso: "second",
                    respuesta: ""
                },
                datosRespose: {},
                test: {},
                objJson: {}
            };
        },
        methods: {
            mostrarJob: function () {
                if (this.paso) {
                    ////console.log("original")
                    ////console.log(this.paso)
                    //console.log("original")
                    this.test = this.paso
                    ////alert(typeof (this.test))
                    if (typeof this.test === 'object') {
                        //alert("sería de paso")
                        this.objJson = this.paso.respuesta
                        //console.log("desde paso")
                        //console.log(this.test)
                        //console.log("desde paso")
                        return true
                    } else if (typeof this.test === 'string') {
                        //this.test = ""
                        this.objJson = JSON.parse(this.paso);
                        ////alert("sería de flow")
                        ////alert(typeof (this.objJson))
                        //console.log("desde flow")
                        //console.log(this.test)
                        //console.log("desde flow")
                        return true
                    } else {
                        return false
                    }
                } else {
                    ////alert("Hubo problemas con flow")
                }
            },
            
            calcular: function (respuesta) {
                 //alert("va a calcular");
                return this.$emit("EventoRespuesta", respuesta);
            }
        }
    };
</script>