<template>
    <div class="container">
        <!-- @extends('layouts.app') -->

        <!-- @section('banner') -->
            <div class="container-fluid" style="background-color: #EBEBEB">
                <div class="container">
                    <div class="banner">
                        <div class="banner-image">
                            <!-- <img src="{{ asset('design/index/assistant.png') }}"> -->
                            <img src="../../../../public/design/index/assistant.png">
                        </div>
                        <div class="banner-title">
                            <h1>Venta cruzada</h1>
                        </div>
                        <div class="banner-description">
                            <p>Seleccione el producto que desea solicitar para su cliente</p>
                        </div>
                    </div>
                </div>
                <hr class="cintaGris">
            </div>
        <!-- @stop -->

        <!-- @section('content') -->
            <!-- @if (isset($productParameters['cross_sell']) && $product->version > '1') -->
                <div class="row justify-content-center" style="margin-bottom: 2rem">
                    <!-- @foreach($productParameters['cross_sell'] as $button)
                        @include('crossSell.products.' . $button)
                    @endforeach -->
                </div>

                <div class="row justify-content-center" style="margin-bottom: 2rem">
                    <div class="col-12 text-center">
                        <!-- <a href="{{ route('show.product', $product->id) }}" class="btn btn-davivienda-red btn-loading"> -->
                            <a href="" class="btn btn-davivienda-red btn-loading">
                            No desea otros productos
                        </a>
                    </div>
                </div>
            <!-- @else -->
                <div class="row justify-content-center" style="margin-bottom: 2rem">
                    <div class="col-12 text-center">
                        <h2 style="font-weight: 100">Este tipo de producto no tiene disponible la venta cruzada</h2>
                    </div>
                </div>

                <div class="row justify-content-center" style="margin-bottom: 2rem">
                    <div class="col-12 text-center">
                        <!-- <a href="{{ route('show.product', $product->id) }}" class="btn btn-davivienda-red btn-loading"> -->
                            <a href="/product" class="btn btn-davivienda-red btn-loading">
                            Regresar al producto
                        </a>
                    </div>
                </div>
            <!-- @endif
        @endsection -->
    </div>

</template>
