<template>
  <div class="container">
    <!-- @include('modules._progress', [
            'steps' => 5,
            'step' => 5,
            'title' => 'Revisión de la solicitud'
    ])-->
    <progress-component :steps="5" :step="5" :title="'Revisión de la solicitud'"></progress-component>
    <!-- <p v-if="lista">estamos mostrando lista: {{ lista }} </p> -->
    <!-- <p v-if="objJson">estamos mostrando flow: {{ this.objJson.customer_information.name.fullname }} </p> -->
    <!-- <p v-if="plans">estamos mostrando plans: {{ plans }} </p>
    <p v-if="products">estamos mostrando products: {{ products }} </p>     -->

    <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('insurance.safe.family.sixth') }}" id="form"> -->
    <form class="form-horizontal" role="form" id="form">
      <!-- {!! csrf_field() !!} -->

      <div class="row" style="margin-bottom: 3rem">
        <div class="col-12">
          <h3 class="review-table-titles">Información del cliente</h3>
        </div>

        <div class="col-12">
          <table class="customer-information-table">
            <tr>
              <td class="title">Nombre:</td>
              <td colspan="2" class="description">{{ this.objJson.customer_information.name.fullname }}</td>
              <td class="title">CIF:</td>
              <td class="description">{{ this.objJson.customer_information.cif.value }}</td>
              <td colspan="2" class="title">Fecha de Nacimiento:</td>
              <td colspan="2" class="description" id="fechNacimiento" name="fechNacimiento">{{ formatearUnix(this.objJson.customer_information.birth) }}</td>
            </tr>

            <tr>
              <td class="title">Edad:</td>
              <td class="description">{{ edad(this.objJson.customer_information.birth) }} años</td>
              <td class="title">Altura:</td>
              <td class="description">{{ this.objJson.customer_information.height}} metros</td>
              <td class="title">Peso:</td>
              <td class="description">{{ this.objJson.customer_information.weight}} libras</td>
              <td class="title">Masa corporal:</td>
              <td class="description">{{ this.objJson.customer_information.imc}}</td>
            </tr>
            <tr>
              <td class="title">No. de cuenta:</td>
              <td colspan="3" class="description">{{ this.objJson.product_information.account.value}}</td>
              <td class="title">Tipo de cuenta:</td>
              <td colspan="3" class="description">{{ this.objJson.product_information.account.code}}</td>
            </tr>
          </table>
        </div>

        <hr>

        <div class="col-12">
          <h3 class="review-table-titles">Información del plan Familia Segura</h3>
        </div>

        <div class="col-12">
          <!-- <table class="product-information-table">
            <tr>
              <td class="title">Emisión:</td>
              <td class="description">{{ $todayDate->format('d/m/Y') }}</td>
              <td class="title">Vigencia desde:</td>
              <td class="description">{{ $todayDate->add('1 day')->format('d/m/Y') }}</td>
              <td class="title">Vigencia hasta:</td>
              <td class="description">{{ $todayDate->add('1 year')->format('d/m/Y') }}</td>
            </tr>

            <tr>
              <td class="title">Prima anual:</td>
              <td colspan="2" class="description">
                {{ get_json($flow->product_information, 'plans')[get_json($flow->product_information, ['amount', 'code'])]['Anual'] }}
              </td>
              <td class="title">Prima mensual:</td>
              <td colspan="2" class="description">
                {{ get_json($flow->product_information, 'plans')[get_json($flow->product_information, ['amount', 'code'])]['Mensual'] }}
              </td>
            </tr>
          </table>  -->
          <table class="product-information-table">
            <tr>
              <td class="title">Emisión:</td>
              <td class="description">{{ this.hoy }}</td>
              <td class="title">Vigencia desde:</td>
              <td class="description">{{ this.desde }}</td>
              <td class="title">Vigencia hasta:</td>
              <td class="description">{{ this.Hasta }}</td>
            </tr>

            <tr v-for="(item, index) in  this.objJson.product_information.plans" :key="index">
              <!-- {{ item }} -->
              <td v-if="item.Codigo == 'C'" class="title">Prima anual:</td>
              <td v-if="item.Codigo == 'C'" colspan="2" class="description">{{item.Anual}}</td>
              <td v-if="item.Codigo == 'C'" class="title">Prima mensual:</td>
              <td v-if="item.Codigo == 'C'" colspan="2" class="description">{{item.Mensual}}</td>
            </tr>
          </table>
          <table class="coverage-information-table">
            <tr>
              <th>Coberturas</th>
              <th class="text-right">Valores asegurados</th>
            </tr>

            <tr>
              <td class="title">Vida:</td>
              <td class="description">L {{ this.objJson.product_information.coverage[1].value}}</td>
            </tr>

            <tr>
              <td class="title">Incapacidad total y permanente:</td>
              <td class="description">L {{ this.objJson.product_information.coverage[2].value}}</td>
            </tr>

            <tr>
              <td class="title">Enfermedades graves:</td>
              <td class="description">L {{ this.objJson.product_information.coverage[3].value}}</td>
            </tr>

            <tr>
              <td class="title">Gastos fúnebres:</td>
              <td class="description">L {{ this.objJson.product_information.coverage[4].value}}</td>
            </tr>

            <tr>
              <td class="title">Renta diaria por hospitalización:</td>
              <td class="description">L {{ this.objJson.product_information.coverage[5].value}}</td>
            </tr>
          </table>
        </div>

        <hr>

        <div class="col-12">
          <h3 class="review-table-titles">Información del asesor</h3>
        </div>

        <div class="col-12">
          <table class="user-information-table" width="100%">
            <tr>
              <td class="title">Asesor:</td>
              <td class="description">{{ this.objJson.user_information.agent.value }}</td>
              <td class="title">Código del Asesor:</td>
              <td class="description">{{ this.objJson.user_information.agent.code }}</td>
            </tr>
            <tr>
              <td class="title">Agencia:</td>
              <td class="description">{{ this.objJson.user_information.branch.value }}</td>
              <td class="title">Código de la agencia:</td>
              <td class="description">{{ this.objJson.user_information.branch.code }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row align-items-center" style="margin-bottom: 2rem">
        <div class="col-12 form-group">
          <h2>Confirmación</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-signature"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">Confirmo que toda la información ingresada está correcta y deseo contratar el seguro
              Familia Segura bajo estas condiciones.</span>
          </div>
        </div>

        <div class="col-3">
          <!-- <div class="form-group{{ $errors->has('confirmation') ? ' has-error' : '' }}"> -->
          <div class="form-group">
            <single-select-component :name="'confirmation'" :placeholder="'Seleccione...'" :classes="'form-control'"
              :options="lista.confirmation" :required="true" :enabled="true"></single-select-component>
            <span v-show="errors.has('confirmation')" class="help-block">
              <strong>{{ errors.first('confirmation') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <div class="help-block">
            <strong>
              <span id="total-participation"></span>
            </strong>
          </div>
          <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
            v-on:click="SendData();">FINALIZAR</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
  import * as mylib from "../../../validation";
  export default {
    props: ["lista", "paso", "planes", "products"],
    data() {
      return {
        datos: [],
        datosRespose: {},
        pasosEnviar: {
          paso: "search",
          respuesta: ""
        },

        test: {},
        objJson: {},
        plan: "",
        hoy: Date,
        desde: Date,
        Hasta: Date,
      };
    },
    mounted() {

      this.mostrarData();
      this.fecha();
      this.plan = this.objJson.product_information.amount.code;
        //alert(this.plan)
    },
    methods: {
      formSubmit(e) {
        /* e.preventDefault(); */

        axios
          .post("/flujo-de-prueba/2")
          .then(response => {
            return this.fireEvent();
          })
          .catch(function (error) {});
      },

      fireEvent() {
        this.handleClick();
        return this.$emit("updateFlow", this.pasosEnviar);
      },
      SendData: function () {
        var urlLogin = "/seguros/familia-segura/6"; //"/seguros/familia-segura/6"; //search
        var data = {};
        $("#form")
          .serializeArray()
          .map(function (x) {
            data[x.name] = x.value;
          });
        axios
          .post(urlLogin, data)
          .then(response => {
            //alert(JSON.stringify(response.data.flow));
            this.datosRespose = response.data.flow;
            this.pasosEnviar.respuesta = this.datosRespose;
            return this
              .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
                          let status = response.data.status
                          let msg = response.data.msg
                          if(status == 200){
                              return this.fireEvent(); */
            /* this.$swal({
                              type: 'success',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              }) */
            /*  }else if(status == 500){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }else if(status == 403){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }
                          // */
          })
          .catch(e => {
            this.$setErrorsFromResponse(e.response.data.errors);
          });
      },
      handleClick: function () {
        // alert("hijo");
        this.$emit("EventoHijo", this.pasosEnviar);
      },

      mostrarData: function () {
        if (this.paso) {
         /*  console.log("original")
          console.log(this.paso)
          console.log("original") */
          this.test = this.paso
          //alert(typeof (this.test))
          if (typeof this.test === 'object') {
    /*         alert("sería de paso") */
            this.objJson = this.paso.respuesta
        /*     console.log("desde paso")
            console.log(this.test)
            console.log("desde paso") */
            return true
          } else if (typeof this.test === 'string') {
            //this.test = ""
            this.objJson = JSON.parse(this.paso);
           // alert("sería de flow")
           // alert(typeof (this.objJson))
    /*         console.log("desde flow")
            console.log(this.test)
            console.log("desde flow") */
            return true
          } else {
            return false
          }
        } else {
          //alert("Hubo problemas con flow")
        }

        
        //alert(fecha)
      },
      fecha: function(){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
          dd = '0' + dd;
        } 
        if (mm < 10) {
          mm = '0' + mm;
        } 
        var today = dd + '/' + mm + '/' + yyyy;
        this.hoy =  dd + '/' + mm + '/' + yyyy;
        this.desde =  (dd + 1) + '/' + mm + '/' + yyyy;
        this.Hasta =  dd + '/' + mm + '/' + (yyyy + 1);
       /*  alert(this.hoy)
        alert(this.desde)
        alert(this.Hasta) */
      },
      formatearUnix: function(tiempo){
        var unixtimestamp = tiempo;
        var months_arr = ['1','2','3','4','5','6','7','8','9','10','11','12'];
        var date = new Date(unixtimestamp*1000);
        var year = date.getFullYear();
        var month = months_arr[date.getMonth()];
        var day = date.getDate();
        var fecha = Date;
        var convdataTime =day +'/'+month+'/'+year;
        fecha = convdataTime;
        //this.edad(tiempo);
        return fecha;
      },
      
      edad: function(tiempo){
        
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        // Unixtimestamp
        //alert(tiempo)
        var unixtimestamp = tiempo;//document.getElementById ('timestamp'). value;

        // Months array
        var months_arr = [1,2,3,4,5,6,7,8,9,10,11,12];

        // Convert timestamp to milliseconds
        var date = new Date(unixtimestamp*1000);

        // Year
        var year = date.getFullYear();

        // Month
        var month = months_arr[date.getMonth()];

        // Day
        var day = date.getDate();
      
        var convdataTime =day +'/'+month+'/'+year;
        //alert(convdataTime)
        var  age = yyyy - year;

        if (mm < (month - 1)) {
          age--;
        }
        if (((month - 1) == mm) && (dd < day)) {
          age--;
        }
       /*  console.log(age);
        alert(age)  */
        return age
      }
    }
  };
</script>