<template>
  <div class="container">
    <progress-component :steps="5" :step="1" :title="'Información general'"></progress-component>

    <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('insurance.safe.family.second') }}" id="form"> -->
      <!-- <pre v-if="this.lista">plans desde plans: {{this.planes }}</pre>
        <pre v-if="this.productos">products desde products: {{this.productos }}</pre> -->
    <form class="form-horizontal" role="form" id="form">
      <div class="row">
        <div class="col-12 form-group">
          <h2>Información personal</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user"></a>
        </div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control'"
              :name="'height'"
              :max="'4'"
              :min="'0'"
              :placeholder="'Altura en metros'"
              :label="'Altura en metros'"
            ></text-input-component>
            <span v-show="errors.has('height')" class="help-block">
              <strong>{{ errors.first('height') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control'"
              :name="'weight'"
              :max="'5'"
              :min="'0'"
              :placeholder="'Peso en libras'"
              :label="'Peso en libras'"
            ></text-input-component>
            <span v-show="errors.has('weight')" class="help-block">
              <strong>{{ errors.first('weight') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Cuestionario médico</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user-md"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">¿Padece de Diábetes?</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'first_md_1'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('first_md_1')" class="help-block">
              <strong>{{ errors.first('first_md_1') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-2"></div>

        <div class="col-7">
          <div>
            <span class="questions">¿Padece o ha padecido de Cáncer?</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'first_md_2'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('first_md_2')" class="help-block">
              <strong>{{ errors.first('first_md_2') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-2"></div>

        <div class="col-7">
          <div>
            <span class="questions">¿Padece de insuficiencia renal?</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'first_md_3'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('first_md_3')" class="help-block">
              <strong>{{ errors.first('first_md_3') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-2"></div>

        <div class="col-7">
          <div>
            <span class="questions">¿Padece de Cardiopatías?</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'first_md_4'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('first_md_4')" class="help-block">
              <strong>{{ errors.first('first_md_4') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-2"></div>

        <div class="col-7">
          <div>
            <span class="questions">¿Padece de SIDA?</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'first_md_5'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('first_md_5')" class="help-block">
              <strong>{{ errors.first('first_md_5') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-davivienda-red btn-loading"
            id="submit"
            v-on:click="SendData();"
          >SIGUIENTE</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import * as mylib from "../../../validation";
import { AnnoyingBackground } from "../../../Directivas";
export default {
  props: ["lista", "flow", "planes", "productos"],
  data() {
    return {
      datos: [],
      datosRespose: {},
      pasosEnviar: {
        paso: "second",
        respuesta: ""
      }
    };
  },
  methods: {
    formSubmit(e) {
      /* e.preventDefault(); */

      axios
        .post("/flujo-de-prueba/2")
        .then(response => {
          return this.fireEvent();
        })
        .catch(function(error) {});
    },

    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },

    SendData: function() {
      var urlLogin = "/seguros/familia-segura/2"; //"/seguros/familia-segura/2"; //search
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
          //alert(JSON.stringify(response.data.flow));
          this.datosRespose = response.data.flow;
          this.pasosEnviar.respuesta = this.datosRespose;
          return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
          /* this.$swal({
                            type: 'success',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            }) */
          /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },
    handleClick: function() {
     // alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    }
  }
};
</script>

