<template>
  <div class="container">
    <progress-component :steps="5" :step="4" :title="'Beneficiarios'"></progress-component>

    <div class="row">
      <div class="col-12 identity-form">
        <!-- <pre v-if="this.plans">plans desde plans: {{this.plans }}</pre>
        <pre v-if="this.products">products desde products: {{this.products }}</pre> -->
        <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.account.fifth') }}" id="form"> -->
        <form class="form-horizontal" role="form" id="form">
          <!-- {!! csrf_field() !!} -->
          <div class="form-group">
            <h2>Se pueden agregar hasta un máximo de 5 beneficiarios</h2>
          </div>

          <div v-for="(line, index) in lines" v-bind:key="index" class="row">
            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-users"></a>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  v-bind:name="'beneficiary_' + (index+1) + '_name'"
                  :max="'40'"
                  :min="'0'"
                  :placeholder="'Nombre del beneficiario'"
                  :v-model="line.number"
                ></text-input-component>
                <span v-show="errors.has('<beneficiary_' + (index+1) + '_name')" class="help-block">
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_name') }}</strong>
                </span>
              </div>
            </div>
 
            <!-- <div class="row"> -->
            <div class="col-2"></div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'beneficiary_' + (index+1) + '_relationship'"
                  :placeholder="'Seleccione el parentesco...'"
                  :classes="'form-control davivienda-select'"
                  :options="lista.beneficiaryOptions"
                  :required="true"
                  :enabled="true"
                ></single-select-component>
                <span
                  v-show="errors.has('beneficiary_' + (index+1) + '_relationship')"
                  class="help-block"
                >
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_relationship') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'beneficiary_' + (index+1) + '_birth'"
                  :max="'10'"
                  :min="'0'"
                  :placeholder="'Fecha de nacimiento DD/MM/AAAA'"
                ></text-input-component>
                <span v-show="errors.has('beneficiary_' + (index+1) + '_birth')" class="help-block">
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_birth') }}</strong>
                </span>
              </div>
            </div>
            <!-- </div> -->

            <!-- <div class="row"> -->
            <div class="col-2"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash sum-participation'"
                  :name="'beneficiary_' + (index+1) + '_participation'"
                  :max="'100'"
                  :min="'0'"
                  :placeholder="'Porcentaje de participación'"
                ></text-input-component>
                <span
                  v-show="errors.has('beneficiary_' + (index+1) + '_participation')"
                  class="help-block"
                >
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_participation') }}</strong>
                </span>
              </div>
            </div>

            <div class="justify-content-end">
              <div class="col-2 text-right">
                <a
                  v-if="lines.length > 1 && index  < lines.length - 1"
                  v-on:click="removeLine ((index+1))"
                  href="javascript:void(0);"
                  class="btn davivienda-remove-field"
                >
                  <a class="fas fa-plus"></a>
                  <!-- <a class="fas fa-plus"></a> -->
                </a>
                <a
                  v-if="index  == lines.length  -1"
                  v-on:click="addLine"
                  href="javascript:void(0);"
                  class="btn davivienda-add-field"
                >
                  <a class="fas fa-plus"></a>
                  <!-- <a class="fas fa-plus"></a> -->
                </a>
                <!-- :v-if="((index+1)+1) == (index+1).length" -->
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-12">
            <div class="help-block">
                <strong><span id="total-participation" name="total-participation" ></span></strong>
            </div>
              <button
                type="button"
                class="btn btn-davivienda-red btn-loading"
                id="safeFamilySend"

                v-on:click="SendData();"
              >SIGUIENTE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { AnnoyingBackground } from "../../../Directivas";
export default {
  props: ["lista", "flow", "plans", "products"],
  name: "PhoneNumberLine",
  data() {
    return {
      datos: [],
      datosRespose: {},
      pasosEnviar: {
        paso: "fifth",
        respuesta: ""
      },
      suma: 0,

      lines: [],
      porcentaje: {},
      blockRemoval: true
    };
  },
  watch: {
    lines() {
      this.blockRemoval = this.lines.length <= 1;
    }
  },
  mounted() {
    $('.davivienda-select').select2({
      language: "es"
    });

    $(document).ready(function() {
            for ($i = 2; $i <= 5; $i++)
            {
                let value = $('#beneficiary_' + $i + '_name').val();

                if (value.length === 0) {
                    if ($('#beneficiary_' + $i).find('.has-error').length !== 0)
                    {
                        $('#beneficiary_' + $i).show();
                    } else {
                        $('#beneficiary_' + $i).hide();
                    }
                }
            }
        });

        

        for (i = 1; i <= 5; i++) {
            $('#beneficiary_' + i + '_participation').keyup(function () {
                sumInputs('.sum-participation');
            });
        }

        function sumInputs(classes) {
            let sum = 0;

            $(classes).each(function(){
                sum += +$(this).val();
            }); 

            return checkSum(sum);
        }

        function checkSum(sum) {
            let form = $('#form');

            if (sum > 100) {
                $("#total-participation").html('Revise el porcentaje de participación de los beneficiarios ya que excede el 100% por ' + (sum - 100) + '%');

                form.find(".btn-loading").html('<i class="fas fa-exclamation"></i> Participación pendiente...');
                form.find(".btn-loading").prop('disabled',true);
            } else if (sum < 100) {
                $("#total-participation").html('Todavía le falta asignar ' + (100 - sum) + '% de participación');

                form.find(".btn-loading").html('<i class="fas fa-exclamation"></i> Participación pendiente...');
                form.find(".btn-loading").prop('disabled',true);
            } else {
                $("#total-participation").html('');

                form.find(".btn-loading").html('Siguiente');
                form.find(".btn-loading").prop('disabled',false);
            }
        }
    //alert("mounted en first")
  },
  methods: {
    addLine() {
      let checkEmptyLines = this.lines.filter(
        line => line.beneficiario === null
      );
      if (checkEmptyLines.length >= 0 && this.lines.length > 0 && this.lines.length <= 5) {
        /* alert(this.lines.length) */
        this.lines.push({
          beneficiario: null
        });
        return;
      } else {
        /* alert("no entro al if") */
        this.lines.push({
          beneficiario: null
        });
      }
    },
    removeLine(lineId) {
      //alert("borraría")
      if (!this.blockRemoval) {
        /* alert("entro al if") */
        this.lines.splice(lineId, 1);
      } else {
        /* alert("no entro al if") */
      }
    },

    formSubmit(e) {
      /* e.preventDefault(); */

      axios
        .post("/flujo-de-prueba/2")
        .then(response => {
          return this.fireEvent();
        })
        .catch(function(error) {});
    },

    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData: function() {
      var urlLogin = "/seguros/familia-segura/5"; //search
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
         // alert(JSON.stringify(response.data.flow));
          this.datosRespose = response.data.flow;
          this.pasosEnviar.respuesta = this.datosRespose;
          return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
          /* this.$swal({
                            type: 'success',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            }) */
          /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },
    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    },
    handleChange(payload) {
      this.value = payload;
    }
  },
  mounted() {
    this.addLine();
  }
};
</script>

