<template>
  <div class="container">
    <progress-component :steps="5" :step="2" :title="'Información médica'"></progress-component>

    <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('insurance.safe.family.fifth') }}" id="form"> -->
    <form class="form-horizontal" role="form" id="form">
      <!-- {!! csrf_field() !!} -->
      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Pregunta No. 1</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user-md"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">¿Ha padecido de otra enfermedad no mencionada anteriormente?</span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'second_md_1'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_1')" class="help-block">
              <strong>{{ errors.first('second_md_1') }}</strong>
            </span>
            <!-- <div class="form-group{{ $errors->has('second_md_1') ? ' has-error' : '' }}">
                        @include('modules._singleSelect', [
                            'name' => 'second_md_1',
                            'resource' => $flow,
                            'json' => get_json($flow->product_information, ['second_medical_questionary', 1, 'question']),
                            'placeholder' => 'Seleccione...',
                            'options' => $lists['confirmation'],
                            'required' => true,
                            'enable' => true
            ])-->
          </div>
        </div>
      </div>

      <div class="row" id="show_if_second_md_1" style="display: none;">
        <div class="col-2"></div>
        <div class="col-10" id="second_md_1_disease_container">
          <div class="form-group">
            <single-select-component
              :name="'second_md_1_disease'"
              :placeholder="'Seleccione la enfermedad...'"
              :classes="'form-control davivienda-select'"
              :options="lista.diseases"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_1_disease')" class="help-block">
              <strong>{{ errors.first('second_md_1_disease') }}</strong>
            </span>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-7" id="second_md_1_diagnostic_container">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_1_diagnostic'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Diagnóstico'"
              :label="'Diagnóstico'"
            ></text-input-component>
            <span v-show="errors.has('second_md_1_diagnostic')" class="help-block">
              <strong>{{ errors.first('second_md_1_diagnostic') }}</strong>
            </span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_1_date'"
              :max="'10'"
              :min="'0'"
              :placeholder="'DD/MM/AAAA'"
              :label="'Fecha'"
            ></text-input-component>
            <span v-show="errors.has('second_md_1_date')" class="help-block">
              <strong>{{ errors.first('second_md_1_date') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_1_1" style="display: none;">
        <div class="col-2"></div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_1_doctor'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Médico tratante'"
              :label="'Fecha'"
            ></text-input-component>
            <span v-show="errors.has('second_md_1_doctor')" class="help-block">
              <strong>{{ errors.first('second_md_1_doctor') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <single-select-component
              :name="'second_md_1_hospital'"
              :placeholder="'Seleccione...'"
              :classes="'form-control davivienda-select'"
              :options="lista.hospitals"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_1_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_1_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div
        class="row align-items-baseline"
        id="show_if_second_md_1_other_hospital"
      >
        <div class="col-2"></div>

        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_1_other_hospital'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Otro hospital o clínica'"
              :label="'Otro hospital o clínica'"
            ></text-input-component>
            <span v-show="errors.has('second_md_1_other_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_1_other_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Pregunta No. 2</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user-md"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">¿Ha sido o va a ser intervenido quirúrgicamente?</span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'second_md_2'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_2')" class="help-block">
              <strong>{{ errors.first('second_md_2') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_2" style="display: none;">
        <div class="col-2"></div>

        <div class="col-7">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_2_diagnostic'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Diagnóstico'"
              :label="'Diagnóstico'"
            ></text-input-component>
            <span v-show="errors.has('second_md_2_diagnostic')" class="help-block">
              <strong>{{ errors.first('second_md_2_diagnostic') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_2_date'"
              :max="'10'"
              :min="'0'"
              :placeholder="'DD/MM/AAAA'"
              :label="'Fecha'"
            ></text-input-component>
            <span v-show="errors.has('second_md_2_date')" class="help-block">
              <strong>{{ errors.first('second_md_2_date') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_2_2" style="display: none;">
        <div class="col-2"></div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_2_doctor'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Médico tratante'"
              :label="'Médico tratante'"
            ></text-input-component>
            <span v-show="errors.has('second_md_2_doctor')" class="help-block">
              <strong>{{ errors.first('second_md_2_doctor') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <single-select-component
              :name="'second_md_2_hospital'"
              :placeholder="'Seleccione...'"
              :classes="'form-control davivienda-select'"
              :options="lista.hospitals"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_2_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_2_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div
        class="row align-items-baseline"
        id="show_if_second_md_2_other_hospital"
      >
        <div class="col-2"></div>

        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_2_other_hospital'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Otro hospital o clínica'"
              :label="'Otro hospital o clínica'"
            ></text-input-component>
            <span v-show="errors.has('second_md_2_other_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_2_other_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Pregunta No. 3</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user-md"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">¿Se encuentra en tratamiento médico actualmente?</span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'second_md_3'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_3')" class="help-block">
              <strong>{{ errors.first('second_md_3') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_3" style="display: none;">
        <div class="col-2"></div>

        <div class="col-7">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_3_diagnostic'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Diagnóstico'"
              :label="'Diagnóstico'"
            ></text-input-component>
            <span v-show="errors.has('second_md_3_diagnostic')" class="help-block">
              <strong>{{ errors.first('second_md_3_diagnostic') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_3_date'"
              :max="'10'"
              :min="'0'"
              :placeholder="'DD/MM/AAAA'"
              :label="'Fecha'"
            ></text-input-component>
            <span v-show="errors.has('second_md_3_date')" class="help-block">
              <strong>{{ errors.first('second_md_3_date') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_3_3" style="display: none;">
        <div class="col-2"></div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_3_doctor'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Médico tratante'"
              :label="'Médico tratante'"
            ></text-input-component>
            <span v-show="errors.has('second_md_3_doctor')" class="help-block">
              <strong>{{ errors.first('second_md_3_doctor') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <single-select-component
              :name="'second_md_3_hospital'"
              :placeholder="'Seleccione...'"
              :classes="'form-control davivienda-select'"
              :options="lista.hospitals"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_3_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_3_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div
        class="row align-items-baseline"
        id="show_if_second_md_3_other_hospital"
      >
        <div class="col-2"></div>

        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_3_other_hospital'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Otro hospital o clínica'"
              :label="'Otro hospital o clínica'"
            ></text-input-component>
            <span v-show="errors.has('second_md_3_other_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_3_other_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Pregunta No. 4</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user-md"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">¿Usted tiene algún impedimento físico?</span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'second_md_4'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_4')" class="help-block">
              <strong>{{ errors.first('second_md_4') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_4" style="display: none;">
        <div class="col-2"></div>

        <div class="col-7">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_4_diagnostic'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Descríbalo'"
              :label="'Descríbalo'"
            ></text-input-component>
            <span v-show="errors.has('second_md_4_diagnostic')" class="help-block">
              <strong>{{ errors.first('second_md_4_diagnostic') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_4_date'"
              :max="'10'"
              :min="'0'"
              :placeholder="'DD/MM/AAAA'"
              :label="'Fecha'"
            ></text-input-component>
            <span v-show="errors.has('second_md_4_date')" class="help-block">
              <strong>{{ errors.first('second_md_4_date') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_4_4" style="display: none;">
        <div class="col-2"></div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_4_doctor'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Médico tratante'"
              :label="'Médico tratante'"
            ></text-input-component>
            <span v-show="errors.has('second_md_4_doctor')" class="help-block">
              <strong>{{ errors.first('second_md_4_doctor') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <single-select-component
              :name="'second_md_4_hospital'"
              :placeholder="'Seleccione...'"
              :classes="'form-control davivienda-select'"
              :options="lista.hospitals"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_4_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_4_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div
        class="row align-items-baseline"
        id="show_if_second_md_4_other_hospital"
      >
        <div class="col-2"></div>

        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_4_other_hospital'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Otro hospital o clínica'"
              :label="'Otro hospital o clínica'"
            ></text-input-component>
            <span v-show="errors.has('second_md_4_other_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_4_other_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Pregunta No. 5</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-user-md"></a>
        </div>

        <div class="col-7">
          <div>
            <span class="questions">¿Usted ha sufrido algún tipo de accidente?</span>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <single-select-component
              :name="'second_md_5'"
              :placeholder="'Seleccione...'"
              :classes="'form-control'"
              :options="lista.confirmation"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_5')" class="help-block">
              <strong>{{ errors.first('second_md_5') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_5" style="display: none;">
        <div class="col-2"></div>

        <div class="col-4">
          <div class="form-group">
            <single-select-component
              :name="'second_md_5_accident'"
              :placeholder="'Seleccione...'"
              :classes="'form-control davivienda-select'"
              :options="lista.accidents"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_5_accident')" class="help-block">
              <strong>{{ errors.first('second_md_5_accident') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_5_other_accident'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Describa el accidente'"
              :label="'Describa el accidente'"
            ></text-input-component>
            <span v-show="errors.has('second_md_5_other_accident')" class="help-block">
              <strong>{{ errors.first('second_md_5_other_accident') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-2"></div>

        <div class="col-4" id="second_md_5_sequel_container">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_5_sequel'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Secuelas'"
              :label="'Secuelas'"
            ></text-input-component>
            <span v-show="errors.has('second_md_5_sequel')" class="help-block">
              <strong>{{ errors.first('second_md_5_sequel') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-2" id="second_md_5_date_container">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_5_date'"
              :max="'10'"
              :min="'0'"
              :placeholder="'DD/MM/AAAA'"
              :label="'Fecha'"
            ></text-input-component>
            <span v-show="errors.has('second_md_5_date')" class="help-block">
              <strong>{{ errors.first('second_md_5_date') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row align-items-baseline" id="show_if_second_md_5_5" style="display: none;">
        <div class="col-2"></div>

        <div class="col-5">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_5_doctor'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Médico tratante'"
              :label="'Médico tratante'"
            ></text-input-component>
            <span v-show="errors.has('second_md_5_doctor')" class="help-block">
              <strong>{{ errors.first('second_md_5_doctor') }}</strong>
            </span>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <single-select-component
              :name="'second_md_5_hospital'"
              :placeholder="'Seleccione...'"
              :classes="'form-control davivienda-select'"
              :options="lista.hospitals"
              :required="true"
              :enabled="true"
            ></single-select-component>
            <span v-show="errors.has('second_md_5_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_5_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div
        class="row align-items-baseline"
        id="show_if_second_md_5_other_hospital"
      >
        <div class="col-2"></div>

        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'second_md_5_other_hospital'"
              :max="'100'"
              :min="'0'"
              :placeholder="'Otro hospital o clínica'"
              :label="'Otro hospital o clínica'"
            ></text-input-component>
            <span v-show="errors.has('second_md_5_other_hospital')" class="help-block">
              <strong>{{ errors.first('second_md_5_other_hospital') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-davivienda-red btn-loading"
            id="submit"
            v-on:click="SendData();"
          >SIGUIENTE</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import * as mylib from "../../../validation";
export default {
  props: ["lista", "flow", "plans", "products"],
  data() {
    return {
      datos: [],
      datosRespose: {},
      pasosEnviar: {
        paso: "third",
        respuesta: ""
      }
    };
  },
    mounted() {
      $(document).ready(function () {
        $(".davivienda-select").select2({
          language: "es"
        });

        $("#show_if_second_md_1_other_hospital").hide();
        $("#show_if_second_md_2_other_hospital").hide();
        $("#show_if_second_md_3_other_hospital").hide();
        $("#show_if_second_md_4_other_hospital").hide();
        $("#show_if_second_md_5_other_hospital").hide();

        $("#second_md_1_hospital").change(function () {
          let str = $("#second_md_1_hospital option:selected").text();

          if (str.includes("OTRO")) {
            $("#show_if_second_md_1_other_hospital").show();
          } else {
            $("#show_if_second_md_1_other_hospital").hide();
          }
        });

        $("#second_md_2_hospital").change(function () {
          let str = $("#second_md_2_hospital option:selected").text();

          if (str.includes("OTRO")) {
            $("#show_if_second_md_2_other_hospital").show();
          } else {
            $("#show_if_second_md_2_other_hospital").hide();
          }
        });

        $("#second_md_3_hospital").change(function () {
          let str = $("#second_md_3_hospital option:selected").text();

          if (str.includes("OTRO")) {
            $("#show_if_second_md_3_other_hospital").show();
          } else {
            $("#show_if_second_md_3_other_hospital").hide();
          }
        });

        $("#second_md_4_hospital").change(function () {
          let str = $("#second_md_4_hospital option:selected").text();

          if (str.includes("OTRO")) {
            $("#show_if_second_md_4_other_hospital").show();
          } else {
            $("#show_if_second_md_4_other_hospital").hide();
          }
        });

        $("#second_md_5_hospital").change(function () {
          let str = $("#second_md_5_hospital option:selected").text();

          if (str.includes("OTRO")) {
            $("#show_if_second_md_5_other_hospital").show();
          } else {
            $("#show_if_second_md_5_other_hospital").hide();
          }
        });





        $("#second_md_1").change(function () {
          let str = $("#second_md_1 option:selected").text();

          if (str.includes("No")) {
            $("#show_if_second_md_1_other_hospital").hide();
          }
        });

        $("#second_md_2").change(function () {
          let str = $("#second_md_2 option:selected").text();

          if (str.includes("No")) {
            $("#show_if_second_md_2_other_hospital").hide();
          }
        });

        $("#second_md_3").change(function () {
          let str = $("#second_md_3 option:selected").text();

          if (str.includes("No")) {
            $("#show_if_second_md_3_other_hospital").hide();
          }
        });

        $("#second_md_4").change(function () {
          let str = $("#second_md_4 option:selected").text();

          if (str.includes("No")) {
            $("#show_if_second_md_4_other_hospital").hide();
          }
        });

        $("#second_md_5").change(function () {
          let str = $("#second_md_5 option:selected").text();

          if (str.includes("No")) {
            $("#show_if_second_md_5_other_hospital").hide();
          }
        });

        
      });
      //alert("mounted en first")
    },
  methods: {
    formSubmit(e) {
      /* e.preventDefault(); */

      axios
        .post("/flujo-de-prueba/2")
        .then(response => {
          return this.fireEvent();
        })
        .catch(function(error) {});
    },

    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData: function() {
      var urlLogin = "/seguros/familia-segura/3"; //"/seguros/familia-segura/3"; //search
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
          //alert(JSON.stringify(response.data.flow));
          this.datosRespose = response.data.flow;
          //console.log("aaaaaaaaaaaaaaaaa: " + JSON.stringify(response))
          this.pasosEnviar.respuesta = this.datosRespose;
          return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
          /* this.$swal({
                            type: 'success',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            }) */
          /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },
    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    }
  }
};
</script>