<template>
  <div class="container">
    <progress-component :steps="5" :step="3" :title="'Selección del plan'"></progress-component>
    <!-- <pre> {{ objJson1 }}</pre> -->
    <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('insurance.safe.family.fourth') }}" id="form"> -->
    <form class="form-horizontal" role="form" id="form">
      <!-- {!! csrf_field() !!} -->

      <div class="row">
        <div class="col-12 form-group">
          <h2>Planes Familia Segura</h2>
        </div>
        <!-- <h1 v-if="objJson"> planes: {{ objJson.product_information }}</h1> -->
        <!-- <h1 v-if="objJson"> productos: {{ objJson.product_information.products }}</h1> -->
        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-hand-holding-usd"></a>
        </div>
        <!--  <h1 v-if="productos">{{productos}}</h1>
        <h1 v-if="planes">{{planes}}</h1> -->
        <div class="col-5">
          <div class="form-group">
            <label style="visibility: hidden;"> </label>
            <select class="form-control" name="amount" id="amount" v-on:change="cambia1();">
              <option value="">Plan a seleccionar...</option>
              <option v-for="(dato , index) in planes" :key="index" :value="index">
                {{ dato }}
              </option>
            </select>
            <!-- <single-select-component :name="'amount'" :placeholder="'Plan a seleccionar...'" :classes="'form-control'"
              :required="true" :enabled="true" :options="planes"></single-select-component> -->
            <span v-show="errors.has('amount')" class="help-block">
              <strong>{{ errors.first('amount') }}</strong>
            </span>
          </div>
          <div class="input-bottom-tooltip">
            Se recomienda que el cliente tome el plan de
            <span class="no-break">
              <b>{{ this.objJson.product_information.recommended_plan.value }}</b>
            </span> por su capacidad de pago.
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label style="visibility: hidden;"> </label>
            <select class="form-control" name="payment_type" id="payment_type" v-on:change="cambia2();">
              <option value="">Frecuencia de pago...</option>
              <option v-for="(dato , index) in lista.paymentTypes" :key="index" :value="index">
                {{ dato }}
              </option>
            </select>
            <!-- <single-select-component :name="'payment_type'" :placeholder="'Frecuencia de pago...'"
              :classes="'form-control'" :options="lista.paymentTypes" :required="true" :enabled="true">
            </single-select-component> -->
            <span v-show="errors.has('payment_type')" class="help-block">
              <strong>{{ errors.first('payment_type') }}</strong>
            </span>
          </div>
          <div class="input-bottom-tooltip" id="premium" style="display: none;">
            Su prima  <b><span id="premium_concurrency"></span></b>  sería de  <b><span id="premium_amount"
                class="no-break"></span></b>.
          </div>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 form-group">
          <h2>Forma de pago</h2>
        </div>

        <div class="col-2 form-group text-center">
          <a class="davivienda-icon fas fa-money-bill"></a>
        </div>

        <div class="col-6">
          <div>
            <span class="questions">Seleccione el producto de donde se debitará la prima:</span>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <!-- <div><label 
                style="visibility: hidden;"> </label> 
                <select 
                class="form-control" 
                name="amount" 
                id="amount"
                placeholder="Plan a seleccionar..." 
                required="true" 
                >
                    <option value="">Plan a seleccionar...</option>
                    <option v-for="(dato , index) in productos" :key="index" :value="index">
                        {{index}}
                        
                    </option>
                </select>
            </div> -->
            <label style="visibility: hidden;"> </label>
            <select class="form-control" name="debit_option" id="debit_option" >
              <option value="">Seleccione...</option>
              <option v-for="(dato , index) in productos" :key="index" :value="index">
                {{ dato }}
              </option>
            </select>
            <!--  <single-select-component :name="'debit_option'" :placeholder="'Seleccione...'" :classes="'form-control'"
              :required="true" :enabled="true" :options="productos" v-on:change="cambia3();"></single-select-component> -->

            <!-- :options="" -->
            <span v-show="errors.has('debit_option')" class="help-block">
              <strong>{{ errors.first('debit_option') }}</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
            v-on:click="SendData();">SIGUIENTE</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
  import * as mylib from "../../../validation";
  export default {
    props: ["lista", "paso", "planes", "productos", "jsonplans", "parent"],
    data() {
      return {
        datos: [],
        jsonPlans2: this.jsonplans,
        parent2: this.parent,
        datosRespose: {},
        pasosEnviar: {
          paso: "fourth",
          respuesta: ""
        },

        planObj: {},
        proObj: {},
        test: {},
        test1: {},
        objJson: {},
        objJson1: {},
      };
    },
    mounted() {
      this.mostrarData();
      this.mostrarplanes();

      $(document).ready(function () {
        //$('#premium').hide();

        //let plans = this.jsonplans; //{!! $jsonPlans !!};
        // // alert(plans)
        //let amount = $('#amount option:selected').val();

        /*   if ($('#payment_type option:selected').val() === 'M' && amount.length > 0) {
            console.log(plans);

            monthlyPremium(plans[amount]['Mensual'])
          } else if ($('#payment_type option:selected').val() === 'A' && amount.length > 0) {
            annualPremium(plans[amount]['Anual'])
          } else {
            $('#premium').hide();
          } */




        /*         function monthlyPremium(amount) {
                  $('#premium_concurrency').html('mensual');
                  $('#premium_amount').html(amount);

                  $('#premium').fadeIn();
                }

                function annualPremium(amount) {
                  $('#premium_concurrency').html('anual');
                  $('#premium_amount').html(amount);

                  $('#premium').fadeIn();
                } */
      });
    },
    methods: {
      formSubmit(e) {
        /* e.preventDefault(); */

        axios
          .post("/flujo-de-prueba/2")
          .then(response => {
            return this.fireEvent();
          })
          .catch(function (error) {});
      },

      fireEvent() {
        this.handleClick();
        return this.$emit("updateFlow", this.pasosEnviar);
      },
      SendData: function () {
        var urlLogin = "/seguros/familia-segura/4"; //"/seguros/familia-segura/4"; //search
        var data = {};
        $("#form")
          .serializeArray()
          .map(function (x) {
            data[x.name] = x.value;
          });
        axios
          .post(urlLogin, data)
          .then(response => {
            // alert(JSON.stringify(response.data.flow));
            this.datosRespose = response.data.flow;
            this.pasosEnviar.respuesta = this.datosRespose;
            return this
              .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
                          let status = response.data.status
                          let msg = response.data.msg
                          if(status == 200){
                              return this.fireEvent(); */
            /* this.$swal({
                              type: 'success',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              }) */
            /*  }else if(status == 500){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }else if(status == 403){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }
                          // */
          })
          .catch(e => {
            this.$setErrorsFromResponse(e.response.data.errors);
          });
      },
      handleClick: function () {
        this.$emit("EventoHijo", this.pasosEnviar);
      },
      mostrarData: function () {
        if (this.paso) {
          this.test = this.paso
          if (typeof this.test === 'object') {
            this.objJson = this.paso.respuesta
            return true
          } else if (typeof this.test === 'string') {
            this.objJson = JSON.parse(this.paso);
            return true
          } else {
            return false
          }
        } else {
          // alert("Hubo problemas con flow")
        }
      },
      mostrarplanes: function () {
        if (this.jsonplans) {
          this.test1 = this.jsonplans
          if (typeof this.test1 === 'object') {
            this.objJson1 = this.jsonplans
            return true
          } else if (typeof this.test1 === 'string') {
            this.objJson1 = JSON.parse(this.jsonplans);
            return true
          } else {
            return false
          }
        } else {
          // alert("Hubo problemas con flow")
        }
      },
      cambia1: function () {
        var select = document.getElementById("amount"),
        value = select.value; 
        var amount = select.options[select.selectedIndex].innerText; 
        var type = document.getElementById('payment_type').value;
        //// alert(type + " / " + amount.length)
        if (type === 'M' && amount.length > 0 && amount.length != 21) {
          var entry = this.objJson1[value];
          this.mensual(entry);
        } else if (type === 'A' && amount.length > 0) {
          var entry = this.objJson1[value];
          this.anual(entry);
        } else {
          document.getElementById("premium").style.display = 'none';
        }
      },
      cambia2: function () {
        var select = document.getElementById("amount"),
        value = select.value; 
        var amount = select.options[select.selectedIndex].innerText; 
        var type = document.getElementById('payment_type').value;
        //// alert(type + " / " + amount.length)
        if (type === 'M' && amount.length > 0 && amount.length != 21) {
          var entry = this.objJson1[value];
          this.mensual(entry);
        } else if (type === 'A' && amount.length > 0) {
          var entry = this.objJson1[value];
          this.anual(entry);
        } else {
          document.getElementById("premium").style.display = 'none';
        }
      },
      mensual: function ( valor) {
        document.getElementById("premium_concurrency").innerHTML = "Mensual"
        document.getElementById("premium_amount").innerHTML =valor.Mensual
        document.getElementById("premium").style.display = 'flex';
      },
      anual: function (valor) {
        document.getElementById("premium_concurrency").innerHTML = "Anual"
        document.getElementById("premium_amount").innerHTML =valor.Anual
        document.getElementById("premium").style.display = 'flex';
      }
    }
  };
</script>