<template>
  <div id="test-div" ref="testDiv">
    <progress-component :steps="2" :step="1" :title="'FORMULARIO DE APROBACIÓN'"></progress-component>

    <div class="row">
      <div class="col-12 identity-form">
        <!-- <form class="form-horizontal" @submit.prevent="First" id="form"> -->
        <form class="form-horizontal" role="form" id="form">
          <div class="row">
            <!--  <h1 v-if="paso.respuesta" >Desde el paso de response: {{paso}}</h1>
                <h1 v-else>Desde el flow: {{paso}}</h1>  -->
            <!--  
            <h1>data: {{ data }}</h1> -->


            <!-- <h1 v-if="mostrarJob()"> pasoooooooooooooooooooooo {{ objJson.step }}</h1> -->
            <div class="col-12 form-group">
              <h2>Fecha de nacimiento</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-calendar"></span>
            </div>

            <div class="col-10 ">
              <div class="form-group ">
                <div class="row birth-container ">
                  <div class=" col-md-4 col-12 birth-day">

                    <single-select-component :name="'day'" :placeholder="'Día'" :options="lista.dayOptions"
                      :required="true" :enabled="true" :classes="'form-control '"></single-select-component>
                    <span v-show="errors.has('day')" class="help-block">
                      <strong>{{ errors.first('day') }}</strong>
                    </span>
                  </div>
                  <div class=" col-md-4 col-12 birth-month">

                    <single-select-component :name="'month'" :placeholder="'Mes'" :options="lista.monthOptions"
                      :required="true" :enabled="true" :classes="'form-control '"></single-select-component>
                    <span v-show="errors.has('month')" class="help-block">
                      <strong>{{ errors.first('month') }}</strong>
                    </span>
                  </div>
                  <div class=" col-md-4 col-12 birth-year">

                    <single-select-component :name="'year'" :placeholder="'Año'" :options="lista.yearOptions"
                      :required="true" :enabled="true" :classes="'form-control '"></single-select-component>
                    <span v-show="errors.has('year')" class="help-block">
                      <strong>{{ errors.first('year') }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Nombres</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-edit"></span>
            </div>
            <div class="col-10">
              <div class="row">
                <div class=" col-md-6 col-12 first-name-field">
                <div class="form-group">
                  <text-input-component :type="'text'" :classes="'form-control'" :name="'first_name'"
                    :placeholder="'Primer nombre'" :label="'Primer nombre'" :max="15"></text-input-component>
                  <span v-show="errors.has('first_name')" class="help-block">
                    <strong>{{ errors.first('first_name') }}</strong>
                  </span>
                </div>
              </div>

              <div class=" col-md-6 col-12 middle-name-field">
                <div class="form-group">
                  <text-input-component :type="'text'" :classes="'form-control'" :name="'middle_name'"
                    :placeholder="'Segundo nombre'" :label="'Segundo nombre'" :max="15"></text-input-component>
                  <span v-show="errors.has('middle_name')" class="help-block">
                    <strong>{{ errors.first('middle_name') }}</strong>
                  </span>
                </div>
              </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Apellidos</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-edit"></span>
            </div>
            <div class="col-10">

             <div class="row">
                <div class=" col-md-6 col-12 last-name-field">
                <div class="form-group">
                  <text-input-component :type="'text'" :classes="'form-control'" :name="'last_name'"
                    :placeholder="'Primer apellido'" :label="'Primer apellido'" :max="15"></text-input-component>
                  <span v-show="errors.has('last_name')" class="help-block">
                    <strong>{{ errors.first('last_name') }}</strong>
                  </span>
                </div>
              </div>

              <div class=" col-md-6 col-12 second-last-name-field">
                <div class="form-group">
                  <text-input-component :type="'text'" :classes="'form-control'" :name="'second_last_name'"
                    :placeholder="'Segundo apellido'" :label="'Segundo apellido'" :max="15"></text-input-component>
                  <span v-show="errors.has('second_last_name')" class="help-block">
                    <strong>{{ errors.first('second_last_name') }}</strong>
                  </span>
                </div>
              </div>
             </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <h2>Números de contacto</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-phone"></span>
            </div>
            <div class="col-10 ">
              <div class="row">
                <div class="col-md-6 col-12 form-group">
                <div class="form-group">
                  <text-input-component :type="'text'" :classes="'form-control validate-num-dash'" :name="'phone'"
                    :placeholder="'Teléfono de domicilio'" :label="'Teléfono de domicilio'" :max="9" v-validate-num>
                  </text-input-component>
                  <span v-show="errors.has('phone')" class="help-block">
                    <strong>{{ errors.first('phone') }}</strong>
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12 form-group">
                <div class="form-group">
                  <text-input-component :type="'text'" :classes="'form-control validate-num-dash'" :name="'mobile'"
                    :placeholder="'Celular'" :label="'Celular'" :max="9" v-validate-num></text-input-component>
                  <span v-show="errors.has('mobile')" class="help-block">
                    <strong>{{ errors.first('mobile') }}</strong>
                  </span>
                </div>
              </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Colonia de domicilio</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-gps"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-opt-component :name="'city'" :placeholder="'Seleccione la colonia...'"
                  :classes="'form-control davivienda-select'" :options="lista.cities" :required="false" :enabled="true">
                </single-opt-component>
                <span v-show="errors.has('city')" class="help-block">
                  <strong>{{ errors.first('city') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row hide-other-city">
            <div class="col-2 form-group"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control'" :name="'other_city'" :max="40" :min="0"
                  :placeholder="'Nombre de la otra colonia'" :label="'Nombre de la otra colonia'">
                </text-input-component>
                <!-- id="other_cityI"
                  style="display: none;" -->
                <span v-show="errors.has('other_city')" class="help-block">
                  <strong>{{ errors.first('other_city') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Dirección de domicilio</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-gps"></span>
            </div>

            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'address_1'" :max="40"
                      :min="0" :placeholder="'Avenida, Calle, Bloque, Casa'"></text-input-component>
                    <span v-show="errors.has('address_1')" class="help-block">
                      <strong>{{ errors.first('address_1') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'address_2'" :max="40"
                      :min="0" :placeholder="'Punto de referencia de la dirección'"></text-input-component>
                    <span v-show="errors.has('address_2')" class="help-block">
                      <strong>{{ errors.first('address_2') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'address_3'" :max="40"
                      :min="0" :placeholder="'Segundo punto de referencia de la dirección'"></text-input-component>
                    <span v-show="errors.has('address_3')" class="help-block">
                      <strong>{{ errors.first('address_3') }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Nacionalidad</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-id"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'nationality'" :placeholder="'Seleccione su nacionalidad...'"
                  :classes="'form-control davivienda-select'" :options="lista.nations" :required="false"
                  :enabled="true"></single-select-component>
                <span v-show="errors.has('nationality')" class="help-block">
                  <strong>{{ errors.first('nationality') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Promoción</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-card"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'promotion'" :placeholder="'Seleccione la promoción...'"
                  :classes="'form-control davivienda-select'" :options="lista.promotions" :required="true"
                  :enabled="true"></single-select-component>
                <span v-show="errors.has('promotion')" class="help-block">
                  <strong>{{ errors.first('promotion') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Información de trabajo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-10 ">
              <div class="row">
                <div class="col-md-6 col-12 form-group">
                  <div class="form-group">
                    <single-select-component :name="'job_type'" :placeholder="'Seleccione su actividad comercial...'"
                      :classes="'form-control davivienda-select'" :options="lista.jobTypeOptions" :required="true"
                      :enabled="true"></single-select-component>
                    <span v-show="errors.has('job_type')" class="help-block">
                      <strong>{{ errors.first('job_type') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6 col-12 form-group">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control  '" :name="'income'"
                      :placeholder="'Ingrese su salario mensual'" :label="'Salario mensual'" :required="true">
                    </text-input-component>
                    <span v-show="errors.has('income')" class="help-block">
                      <strong>{{ errors.first('income') }}</strong>
                    </span>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Lugar de trabajo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control'" :name="'employer_name'" :max="40"
                  :min="0" :placeholder="'Nombre de la empresa'"></text-input-component>
                <span v-show="errors.has('employer_name')" class="help-block">
                  <strong>{{ errors.first('employer_name') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Tipo de empresa</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'employer_type'" :placeholder="'Seleccione el tipo de empresa...'"
                  :options="lista.employeeTypes" :classes="'form-control '" :enabled="true"></single-select-component>
                <span v-show="errors.has('employer_type')" class="help-block">
                  <strong>{{ errors.first('employer_type') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Fecha de ingreso al trabajo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-calendar"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <div class="row birth-container">
                  <div class=" col-md-4 col-12 birth-day">
                    <single-select-component :name="'employer_day'" :placeholder="'Día'" :classes="'form-control '"
                      :options="lista.dayOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('employer_day')" class="help-block">
                      <strong>{{ errors.first('employer_day') }}</strong>
                    </span>
                  </div>
                  <div class=" col-md-4 col-12 birth-month">
                    <single-select-component :name="'employer_month'" :placeholder="'Mes'" :classes="'form-control '"
                      :options="lista.monthOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('employer_month')" class="help-block">
                      <strong>{{ errors.first('employer_month') }}</strong>
                    </span>
                  </div>
                  <div class=" col-md-4 col-12 birth-year">
                    <single-select-component :name="'employer_year'" :placeholder="'Año'" :classes="'form-control '"
                      :options="lista.employerYearOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('employer_year')" class="help-block">
                      <strong>{{ errors.first('employer_year') }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Tipo de empleo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'job'" :placeholder="'Seleccione el tipo de empleo...'"
                  :classes="'form-control'" :options="lista.jobOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('job')" class="help-block">
                  <strong>{{ errors.first('job') }}</strong>
                </span>


                <!-- <single-select-component
                  :name="'job_contract'"
                  :placeholder="'Seleccione su situación laboral...'"
                  :classes="'form-control'"
                  :options="lista.jobContractOptions"
                  :required="true"
                  :enabled="true"
                ></single-select-component>
                <span v-show="errors.has('job_contract')" class="help-block">
                  <strong>{{ errors.first('job_contract') }}</strong>
                </span> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Situación Laboral</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'job_contract'" :placeholder="'Seleccione su situación laboral...'"
                  :classes="'form-control '" :options="lista.jobContractOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('job_contract')" class="help-block">
                  <strong>{{ errors.first('job_contract') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Teléfono del trabajo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-phone"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control validate-num-dash'"
                  :name="'employer_phone'" :max="9" :min="0" :placeholder="'Teléfono del trabajo'" v-validate-num>
                </text-input-component>
                <span v-show="errors.has('employer_phone')" class="help-block">
                  <strong>{{ errors.first('employer_phone') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Colonia de trabajo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-gps"></span>
            </div>

            <div class="col-10">
              <!-- <div class="form-group{{ $errors->has('employer_city') ? ' has-error' : '' }}"> -->
              <div class="form-group">
                <single-opt-component :name="'employer_city'" :placeholder="'Seleccione la colonia...'"
                  :classes="'form-control davivienda-select'" :options="lista.cities" :required="false" :enabled="true">
                </single-opt-component>
                <span v-show="errors.has('employer_city')" class="help-block">
                  <strong>{{ errors.first('employer_city') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row hide-other-employer-city">
            <div class="col-2 form-group"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'other_employer_city'" :max="40"
                  :min="0" :placeholder="'Nombre de la otra colonia'"></text-input-component>
                <!-- id="other_employer_cityI"
                  style="display: none;" -->
                <span v-show="errors.has('other_employer_city')" class="help-block">
                  <strong>{{ errors.first('other_employer_city') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Dirección de trabajo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-gps"></span>
            </div>

            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'employer_address_1'"
                      :max="40" :min="0" :placeholder="'Avenida, Calle, Bloque, Casa'"></text-input-component>
                    <span v-show="errors.has('employer_address_1')" class="help-block">
                      <strong>{{ errors.first('employer_address_1') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'employer_address_2'"
                      :max="40" :min="0" :placeholder="'Punto de referencia de la dirección'"></text-input-component>
                    <span v-show="errors.has('employer_address_2')" class="help-block">
                      <strong>{{ errors.first('employer_address_2') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'employer_address_3'"
                      :max="40" :min="0" :placeholder="'Segundo punto de referencia de la dirección'">
                    </text-input-component>
                    <span v-show="errors.has('employer_address_3')" class="help-block">
                      <strong>{{ errors.first('employer_address_3') }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>¿Ha desempeñado un cargo público en el gobierno en los últimos 4 años?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-10 form-group">
              <single-select-component :name="'public_job'" :placeholder="'Seleccione la respuesta...'"
                :classes="'form-control '" :options="lista.confirmation" :required="true" :enabled="true">
              </single-select-component>
              <span v-show="errors.has('public_job')" class="help-block">
                <strong>{{ errors.first('public_job') }}</strong>
              </span>
            </div>
          </div>
          <checkbox-component :name="'bureau'" :placeholder="'Autorizo a que el banco revise mi buró de crédito'"
            :type="'checkbox'"></checkbox-component>
          <span v-show="errors.has('bureau')" class="help-block">
            <strong>{{ errors.first('bureau') }}</strong>
          </span>

          <div class="row text-center">
            <div class="col-12">
              <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                v-on:click="SendData();">Solicitar aprobación</button>
            </div>
            <!-- <h3 id="error" class="help-block"></h3> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import * as mylib from "../../../../validation";
  import {
    AnnoyingBackground
  } from "../../../../Directivas";
  import Form from "../../../../Form.js";
  export default {
    props: ["lista", "paso"],
    data() {
      return {
        /* errors: {}, */
        datos: {},

        pasosEnviar: {
          paso: "second",
          respuesta: ""
        },
        datosRespose: {},
        test: {},
        objJson: {}
      };
    },
    created: function () {
      //alert("created")
      //window.scrollTo(0, 0);
      //window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
      //this.scrollvue();
      //alert("3")
      //this.scrollToEnd()
    },
    mounted() {
      $(document).ready(function () {
        $(".davivienda-select").select2({
          language: "es"
        });

        $(".hide-other-city, .hide-other-employer-city").hide();

        if (
          $("#city option:selected")
          .text()
          .includes("OTRA COLONIA")
        ) {
          $(".hide-other-city").fadeIn();
        }

        $("#city").change(function () {
          let str = $("#city option:selected").text();

          if (str.includes("OTRA COLONIA")) {
            $(".hide-other-city").fadeIn();
          } else {
            $(".hide-other-city").fadeOut();
          }
        });

        if (
          $("#employer_city option:selected")
          .text()
          .includes("OTRA COLONIA")
        ) {
          $(".hide-other-employer-city").fadeIn();
        }

        $("#employer_city").change(function () {
          let str = $("#employer_city option:selected").text();

          if (str.includes("OTRA COLONIA")) {
            $(".hide-other-employer-city").fadeIn();
          } else {
            $(".hide-other-employer-city").fadeOut();
          }
        });


        $('.hide-public-job-active, .hide-public-job').hide();


        if ($('#public_job_active option:selected').text() == "No") {
          $('.hide-public-job-active').fadeIn();
        }

        $('#public_job_active').change(function () {
          if ($('#public_job_active option:selected').text() == "No") {
            $('.hide-public-job-active').fadeIn();
          } else {
            $('.hide-public-job-active').fadeOut();
          }
        });

        if ($('#public_job option:selected').text() == "Si") {
          $('.hide-public-job').fadeIn();
        } else {

          $('.hide-public-job').fadeOut();
          //alert("debería de aparecer 1;")
        }

        $('#public_job').change(function () {
          var valor = $("#public_job option:selected").val();
          //alert(valor);
          if (valor == 'S') {
            $('.hide-public-job').fadeIn();
            //alert("si debería de aparecer 1;")
          } else {

            $('.hide-public-job').fadeOut();
            //alert("No debería de aparecer 1;")
          }
        });

      });





      //alert("mounted en first")
    },
    watch: {
      flow: function (newVal, oldVal) { // watch it
        //console.log('Prop changed: ', newVal, ' | was: ', oldVal)
      }
    },
    methods: {
      SendData: function () {
        var urlLogin = "/banco/tarjeta-de-credito/2"; //search
        var data = {};
        $("#form")
          .serializeArray()
          .map(function (x) {
            data[x.name] = x.value;
          });

        axios
          .post(urlLogin, data)
          .then(response => {
            this.datosRespose = response.data.flow;
            this.pasosEnviar.respuesta = this.datosRespose;
            // alert(this.pasosEnviar)
            return this
              .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
                          let status = response.data.status
                          let msg = response.data.msg
                          if(status == 200){
                              return this.fireEvent(); */
            /* this.$swal({
                              type: 'success',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              }) */
            /*  }else if(status == 500){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }else if(status == 403){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }
                          // */
          })
          .catch(e => {
            // alert("revento")
            this.$setErrorsFromResponse(e.response.data.errors);
          });
      },

      fireEvent() {
        this.handleClick();
        //alert("3")
        return this.$emit("updateFlow", this.pasosEnviar);
      },
      handleClick: function () {
        //alert("2")
        this.$emit("EventoHijo", this.pasosEnviar);
      },
      formSubmit(e) {
        /* e.preventDefault(); */

        axios
          .post("/flujo-de-prueba/2")
          .then(response => {
            return this.fireEvent();
          })
          .catch(function (error) {});
      },
      /* mostrarJob: function(){
                if(this.paso){
                    console.log("original") 
                    console.log(this.paso) 
                    console.log("original") 
                    this.test = this.paso
                     alert(typeof(this.test))
                    if (typeof this.test === 'object'){
                      alert("sería de paso")
                      this.objJson = this.paso.respuesta
                      console.log("desde paso") 
                      console.log(this.test) 
                      console.log("desde paso")
                      return true 
                     }else if (typeof this.test === 'string'){
                       //this.test = ""
                        this.objJson = JSON.parse(this.paso);
                        alert("sería de flow")
                        alert(typeof(this.objJson))
                        console.log("desde flow") 
                        console.log(this.test) 
                        console.log("desde flow") 
                        return true
                     }else{
                       return false
                     } 
                }else{
                    alert("Hubo problemas con flow")
                } 
            } */
    }
  };
</script>