<template>
  <div>
    <div class="col-12 identity-form">
      <form class="form-horizontal" role="form" id="form">
        <!-- <button type="button" v-on:click="emitToParent">Pribar</button> -->
        <div class="row">
          <div class="col-12 form-group">
            <h2>1. Seleccione la tarjeta</h2>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <radio-component
              :options="optionImage"
              :name="'card'"
              :checked="false"
              :value="'card'"
              @handleChange="handleChange($event)"
              v-model="form.card"
            ></radio-component>
          </div>
          <span v-show="errors.has('card')" class="help-block">
            <strong>{{ errors.first('card') }}</strong>
          </span>
        </div>

        <div class="row">
          <div class="col-12 form-group">
            <h2>2. Digite el número de identidad</h2>
          </div>

          <div class="col-2 form-group text-center">
            <span class="davivienda-icon icon-id"></span>
          </div>
          <div class="col-10">
            <div class="form-group">
              <text-input-component
                :type="'text'"
                :classes="'form-control validate-num-dash'"
                :name="'identity'"
                :max="13"
                :min="0"
                :placeholder="'Ingrese el número de identificación'"
                :req="false"
                @handleChange="handleChange($event)"
                v-model="form.identity"
              ></text-input-component>
              <span v-show="errors.has('identity')" class="help-block">
                <strong>{{ errors.first('identity') }}</strong>
              </span>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button
              type="button"
              class="btn btn-davivienda-red btn-loading"
              id="submit"
              v-on:click="SendData();"
            >SIGUIENTE</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import * as mylib from "../../../../validation";
import { AnnoyingBackground } from "../../../../Directivas";
import Form from "../../../../Form.js";
export default {
  props: ["data", "lists", "flow"],
  data() {
    return {
      form: {
        card: "",
        identity: ""
      },
      datosRespose: {},
      optionImage: {
        DPT: "oro.png",
        DDP: "plata.png"
      },
      pasosEnviar: {
        paso: "first",
        respuesta: {},
        customer: {
          identity: ""
        }
      },
      value: ""
    };
  },
  methods: {
    formSubmit(e) {
     // alert(JSON.stringify(this.form));
      axios
        .post("/flujo-de-prueba/2")
        .then(response => {
          return this.fireEvent();
        })
        .catch(function(error) {}); 
    },

    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData(e) {
      //alert("SendData")
      var urlLogin = "/buscar-cliente/bank_card"; //search
      /* var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        }); */
      axios
        .post(urlLogin, this.form)
        .then(response => {
          // console.log(JSON.stringify(response))
          //alert("response....")
          this.datosRespose = response.data.flow;
          //alert(JSON.stringify(this.datosRespose))
          this.pasosEnviar.customer.identity = this.form.identity;
          this.pasosEnviar.respuesta = this.datosRespose;
          // console.log(JSON.stringify(this.pasosEnviar))
         // alert(JSON.stringify(this.pasosEnviar))
         // console.log(JSON.stringify(this.pasosEnviar))
          return this.fireEvent();
      //e.preventDefault();
          /*localStorage.setItem('testObject', JSON.stringify(this.datosRespose)) */ //return this.fireEvent();
          //return this.fireEvent();// Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                  let status = response.data.status
                  let msg = response.data.msg
                  if(status == 200){
                    return this.fireEvent(); */
          /* this.$swal({
                      type: 'success',
                      title: msg,
                      showConfirmButton: true,
                      timer: 3000,
                      confirmButtonText: 'Continuar'
                    }) */
          /*  }else if(status == 500){
                    this.$swal({
                      type: 'error',
                      title: msg,
                      showConfirmButton: true,
                      timer: 3000,
                      confirmButtonText: 'Continuar'
                    })
                  }else if(status == 403){
                    this.$swal({
                      type: 'error',
                      title: msg,
                      showConfirmButton: true,
                      timer: 3000,
                      confirmButtonText: 'Continuar'
                    })
                  }
                  // */
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
      //e.preventDefault();
        });
    },
    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    },
    handleChange(payload) {
      this.value = payload;
    }
  }
};
</script>