<template>
    <div>
        <progress-component :steps=2 :step=2 :title="'Formulario de vinculación'"></progress-component>
        <h1>

        </h1>
        <div class="row">
            <div class="col-12 identity-form">
                <!--  <h1 v-if="paso.respuesta" >Desde el paso de response: {{paso}}</h1>
                <h1 v-else>Desde el flow: {{paso}}</h1> -->
                <form class="form-horizontal" role="form" id="form">

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Límite</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-card"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">

                                <text-input-component :type="'text'" :classes="'form-control  '"
                                    :name="'customer_limit'" :placeholder="'Puede solicitar límite menor a 5000'"
                                    :label="'Cambio de límite de la tarjeta'" :enabled="true">
                                </text-input-component>
                                <span v-show="errors.has('customer_limit')"
                                    class="help-block"><strong>{{ errors.first('customer_limit') }}</strong></span>
                                <div class="customer-limit-message" id="customer-limit-message">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de correo electrónico</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-messages"></span>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'email'"
                                    :max="'40'" :min="'0'" :placeholder="placeholderText"></text-input-component>
                                <span v-show="errors.has('email')" class="help-block">
                                    <strong>{{ errors.first('email') }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <label for="checked" style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
                        </div>
                        <div class="col-1 text-center davivienda-checkbox">
                            <input type="checkbox" id="checked" v-model="checked" v-on:change="chekear()">
                        </div>
                    </div>


<!-- 
                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de correo electrónico</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-messages"></span>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'email'"
                                    :max="'40'" :min="'0'" :placeholder="placeholderText"></text-input-component>
                                <span v-show="errors.has('email')" class="help-block">
                                    <strong>{{ errors.first('email') }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <label for="checkbox" style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
                        </div>
                        <div class="col-1 text-center davivienda-checkbox">
                            <input type="checkbox" id="checked" v-model="checked" v-on:change="chekear()">
                        </div>
                    </div> -->
                   <!--  <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de correo electrónico</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-messages"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '" :name="'email'"
                                            :max="'40'" :min="'0'" :placeholder="placeholderText">
                                        </text-input-component>
                                        <span v-show="errors.has('email')" class="help-block">
                                            <strong>{{ errors.first('email') }}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="col-8 text-right" style="
                                                                            padding-left: 0px;
                                                                            padding-right: 0px;
                                                                            top: 20px;
                                                                        ">
                                        <br>
                                        <label style="font-size: 1.4rem; line-height: 0; ">
                                            No tiene correo
                                        </label>
                                    </div>
                                    <div class="col-4 text-center davivienda-checkbox">
                                        <input type="checkbox" id="chepMail" v-model="chepMail"
                                            v-on:change="chekear()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Información personal</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'gender'"
                                            :placeholder="'Seleccione su género...'" :options="lista.genderOptions"
                                            :classes="'form-control '" :required="true">
                                        </single-select-component>
                                        <span v-show="errors.has('gender')"
                                            class="help-block"><strong>{{ errors.first('gender') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'marital_status'"
                                            :placeholder="'Seleccione su estado civil...'"
                                            :options="lista.maritalStatusOptions" :classes="'form-control'"
                                            :required="true"></single-select-component>
                                        <span v-show="errors.has('marital_status')"
                                            class="help-block"><strong>{{ errors.first('marital_status') }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row " id="spouseI" style="display:none;">
                        <div class="col-12 form-group">
                            <h2>Cónyuge</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'spouse'"
                                    :max="40" :min="0" :placeholder="'Nombre completo del cónyuge'">
                                </text-input-component>
                                <span v-show="errors.has('spouse')" class="help-block">{{ errors.first('spouse') }}
                                    <strong></strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Profesión</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-briefcase"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-select-component :name="'profession'" :placeholder="'Seleccione la profesión'"
                                    :classes="'form-control davivienda-select'" :options="lista.professionOptions"
                                    :required="true" :enabled="true"></single-select-component>
                                <span v-show="errors.has('profession')"
                                    class="help-block"><strong>{{ errors.first('profession') }}</strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Puesto de Trabajo</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-briefcase"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control'" :name="'job_name'"
                                    :label="'Nombre del puesto actual de trabajo'"
                                    :placeholder="'Nombre del puesto actual de trabajo'" :max="30" :min="0"
                                    :required="true"></text-input-component>
                                <span v-show="errors.has('job_name')"
                                    class="help-block"><strong>{{ errors.first('job_name') }}</strong></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de correo electrónico laboral</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-messages"></span>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'job_email'"
                                    :max="'40'" :min="'0'" :placeholder="placeholderTextJob"></text-input-component>
                                <span v-show="errors.has('job_email')" class="help-block">
                                    <strong>{{ errors.first('job_email') }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <label style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
                        </div>
                        <div class="col-1 text-center davivienda-checkbox">
                            <input type="checkbox" v-model="checkedJob" v-on:click="chekearJob();">
                        </div>
                    </div>


                    <!-- @if(get_json($flow->customer_information, ['public_job', 'code']) === 'S') -->
                    <!-- v-if="(this.flow  && this.flow.step == '1' &&  this.flow.product_information.original.product.code == 'DDP' && !this.paso)  || (this.paso && this.paso.respuesta.step == '1' &&  this.paso.respuesta.product_information.original.product.code == 'DDP')" -->
                    <div v-if="mostrarJob()">
                        <!-- this.responseJob = paso.respuesta.customer_information.public_job.code; -->
                        <div class="row">
                            <div class="col-12 form-group">
                                <h2>Información de cargos públicos</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-briefcase"></span>
                            </div>

                            <div class="col-10">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <text-input-component :name="'public_job_employer_name'"
                                                :placeholder="'Nombre de la Institución'" :classes="'form-control'"
                                                :max="40" :min="0" :required="true" :enabled="true">
                                            </text-input-component>
                                            <span v-show="errors.has('public_job_employer_name')"
                                                class="help-block"><strong>{{ errors.first('public_job_employer_name') }}</strong></span>

                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <text-input-component :name="'public_job_name'"
                                                :placeholder="'Cargo desempeñado'" :classes="'form-control'" :max="30"
                                                :min="0" :required="true" :enabled="true">
                                            </text-input-component>
                                            <span v-show="errors.has('public_job_name')"
                                                class="help-block"><strong>{{ errors.first('public_job_name') }}</strong></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <single-select-component :name="'public_job_active'"
                                                :placeholder="'¿Es actual?'" :options="lista.confirmation"
                                                :classes="'form-control'" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('public_job_active')"
                                                class="help-block"><strong>{{ errors.first('public_job_active') }}</strong></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <text-input-component :name="'public_job_from'"
                                                :placeholder="'Fecha de inicio DD/MM/AAAA'" :classes="'form-control'"
                                                :max="10" :min="0" :required="true" :enabled="true">
                                            </text-input-component>
                                            <span v-show="errors.has('public_job_from')"
                                                class="help-block"><strong>{{ errors.first('public_job_from') }}</strong></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <text-input-component :name="'public_job_to'"
                                                :placeholder="'Fecha final DD/MM/AAAA'" :classes="'form-control'"
                                                :max="10" :min="0" :required="true" :enabled="true">
                                            </text-input-component>
                                            <span v-show="errors.has('public_job_to')"
                                                class="help-block"><strong>{{ errors.first('public_job_to') }}</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-2"></div>


                        </div>
                    </div>
                    <!-- @endif -->

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Información financiera</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-briefcase"></span>
                        </div>


                        <div class="col-10">
                            <div class="row">
                                <!-- <div class="form-group"> -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'assets'" :placeholder="'Total de activos'"
                                            :options="lista.assetRangeOptions" :classes="'form-control'"
                                            :required="true" :enabled="true"></single-select-component>
                                        <span v-show="errors.has('assets')"
                                            class="help-block"><strong>{{ errors.first('assets') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'passive'" :placeholder="'Total de pasivos'"
                                            :options="lista.liabilityRangeOptions" :classes="'form-control'"
                                            :required="true" :enabled="true"></single-select-component>
                                        <span v-show="errors.has('passive')"
                                            class="help-block"><strong>{{ errors.first('passive') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'expenses'" :placeholder="'Total de egresos'"
                                            :options="lista.expenseRangeOptions" :classes="'form-control'"
                                            :required="true" :enabled="true"></single-select-component>
                                        <span v-show="errors.has('expenses')"
                                            class="help-block"><strong>{{ errors.first('expenses') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'other_income'"
                                            :placeholder="'¿Tiene otros ingresos?'" :options="lista.confirmation"
                                            :classes="'form-control'" :required="true" :enabled="true">
                                        </single-select-component>
                                        <span v-show="errors.has('other_income')"
                                            class="help-block"><strong>{{ errors.first('other_income') }}</strong></span>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Referencia familiar</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_1_name'"
                                            :placeholder="'Nombre de la referencia familiar'"
                                            :label="'Nombre de la referencia familiar'" :classes="'form-control'"
                                            :max="40" :min="0" :required="true" :enabled="true"></text-input-component>
                                        <span v-show="errors.has('reference_1_name')"
                                            class="help-block"><strong>{{ errors.first('reference_1_name') }}</strong></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <single-select-component :name="'reference_1_relationship'"
                                            :placeholder="'Seleccione el parentesco...'" :classes="'form-control'"
                                            :options="lista.referenceOptions" :enabled="true" :required="true">
                                        </single-select-component>
                                        <span v-show="errors.has('reference_1_relationship')"
                                            class="help-block"><strong>{{ errors.first('reference_1_relationship') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_1_mobile'" :placeholder="'Celular'"
                                            :classes="'form-control validate-num-dash'" :label="'Celular'" :max="9"
                                            :min="0" :enabled="true"></text-input-component>
                                        <span v-show="errors.has('reference_1_mobile')"
                                            class="help-block"><strong>{{ errors.first('reference_1_mobile') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_1_phone'" :placeholder="'Teléfono'"
                                            :classes="'form-control validate-num-dash'" :label="'Teléfono'" :max="9"
                                            :min="0" :enabled="true"></text-input-component>
                                        <span v-show="errors.has('reference_1_phone')"
                                            class="help-block"><strong>{{ errors.first('reference_1_phone') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_1_work_phone'"
                                            :placeholder="'Teléfono de trabajo'"
                                            :classes="'form-control validate-num-dash'" :label="'Teléfono de trabajo'"
                                            :max="9" :min="0" :enabled="true">
                                        </text-input-component>
                                        <span v-show="errors.has('reference_1_work_phone')"
                                            class="help-block"><strong>{{ errors.first('reference_1_work_phone') }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Referencia personal</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_2_name'"
                                            :placeholder="'Nombre de la referencia personal'"
                                            :label="'Nombre de la referencia personal'" :classes="'form-control'"
                                            :max="40" :min="0" :enabled="true" :required="true"></text-input-component>
                                        <span v-show="errors.has('reference_2_name')"
                                            class="help-block"><strong>{{ errors.first('reference_2_name') }}</strong></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_2_mobile'" :placeholder="'Celular'"
                                            :classes="'form-control validate-num-dash'" :label="'Celular'" :max="9"
                                            :min="0" :enabled="true"></text-input-component>
                                        <span v-show="errors.has('reference_2_mobile')"
                                            class="help-block"><strong>{{ errors.first('reference_2_mobile') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_2_phone'" :placeholder="'Teléfono'"
                                            :label="'Teléfono de domicilio'" :classes="'form-control validate-num-dash'"
                                            :max="9" :min="0" :enabled="true"></text-input-component>
                                        <span v-show="errors.has('reference_2_phone')"
                                            class="help-block"><strong>{{ errors.first('reference_2_phone') }}</strong></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <text-input-component :name="'reference_2_work_phone'"
                                            :placeholder="'Teléfono de trabajo'" :label="'Teléfono de trabajo'"
                                            :classes="'form-control validate-num-dash'" :max="9" :min="0"
                                            :enabled="true">
                                        </text-input-component>
                                        <span v-show="errors.has('reference_2_work_phone')"
                                            class="help-block"><strong>{{ errors.first('reference_2_work_phone') }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>


                    </div>

                    <div class="row">
                        <div class="col-2"></div>


                    </div>


                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Comentarios adicionales:</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon far fa-comment"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-area-component :name="'notes'"
                                    :placeholder="'Ingrese comentarios adicionales que considere necesarios para esta solicitud'"
                                    :label="'Comentarios adicionales'" :classes="'form-control'" :max="240" :min="0"
                                    :enabled="true"></text-area-component>
                                <span v-show="errors.has('notes')"
                                    class="help-block"><strong>{{ errors.first('notes') }}</strong></span>
                            </div>
                        </div>
                    </div>
                    <!-- {{-- TODO: Add extra space after inputs and before checkboxes --}} -->
                    <hr style="border: none;" class="mb-5">

                    <div class="row davivienda-checkbox form-group terms align-items-center">
                        <div class="col-2 text-center">
                            <input id="terms"  name="receive_sms" type="checkbox" value="S" required>
                        </div>
                        <div class="col-10">
                            <label class="standard-label" for="terms">Acepto envíos de mensajes a mi celular</label>
                        </div>
                    </div>


                  <!--  <checkbox-component v-if="!checked" :name="'receive_emails'"
                        :placeholder="'Acepto envíos de estados de cuenta a mi correo electrónico personal'"
                        :type="'checkbox'"></checkbox-component> -->

                    <checkbox-component v-if="!checkedJob" :name="'receive_emails_job'"
                        :placeholder="'Acepto envíos de estados de cuenta a mi correo electrónico laboral'"
                        :type="'checkbox'"></checkbox-component>

                    <!-- <div v-if="!chepCorreo" class="row davivienda-checkbox form-group terms align-items-center">
                        <div class="col-2 text-center">
                            <input id="terms" chep="chepCorreo" name="receive_emails" type="checkbox" value="S"
                                required>
                        </div>
                        <div class="col-10">
                            <label class="standard-label" for="terms">Acepto envíos de estados de cuenta a mi correo
                                electrónico personal</label>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-12 inner-form-disclaimer text-center">
                            Declaro que he suministrado de forma voluntaria la información personal ingresada para el
                            uso de este servicio, y autorizo a Davivienda para que utilice los datos que he
                            proporcionado con el propósito de hacer entrega a mi solicitud de Tarjeta de Crédito.
                        </div>
                    </div>

                    <div class="row davivienda-checkbox form-group terms align-items-center">
                        <div class="col-2 text-center">
                            <input id="terms"  name="terms" type="checkbox" value="S" required>
                        </div>
                        <div class="col-10">
                            <label class="standard-label" for="terms">Con este clic está autorizando el tratamiento de
                                sus datos según el fin informado</label>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                                v-on:click="SendData();">
                                VINCULAR CLIENTE
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import * as mylib from "../../../../validation";
    import {
        AnnoyingBackground
    } from "../../../../Directivas";
    import Form from "../../../../Form.js";
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                datos: [],
                responseJob: '',
                test: {},
                objJson: {},
                checked: false,
                placeholderText: "Ingrese su correo electrónico",
                checkedJob: false,
                placeholderTextJob: "Ingrese su correo electrónico laboral",
                checkedMail: false,
                place: {
                    'personal': 'personaaaaaal',
                    'laboral' : 'laboooooooo'
                }

            }
        },
        mounted() {


            $(document).ready(function () {

                $(".davivienda-select").select2({
                    language: "es"
                });
                ////alert("deberia ocultarlo")
                $('.hide-public-job-active, #hide-public-job').hide();

                if ($("#public_job option:selected").val() == "S") {
                    $('.hide-public-job').show();
                } else if ($("#public_job option:selected").val() == "N") {
                    $('.hide-public-job').hide();
                } else {
                    ////alert("No se sabe el valor de public_job")
                    var valor = $("#public_job option:selected").val();
                    ////alert(valor);
                }


            });





            //alert("mounted en first")
        },
        methods: {
            formSubmit(e) {
                /* e.preventDefault(); */

                axios.post('/banco/tarjeta-de-credito/3')
                    .then((response) => {
                        return this.fireEvent();
                    })
                    .catch(function (error) {

                    });
            },

            fireEvent() {
                //alert('Termino el páso')
                location.href = "/index";
            },
            SendData: function () {

                var urlLogin = "/banco/tarjeta-de-credito/3"; //search
                var data = {}
                $("#form").serializeArray().map(function (x) {
                    data[x.name] = x.value;
                })
                axios
                    .post(urlLogin, data)
                    .then(response => {
                        return this
                            .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                        /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
                        /* this.$swal({
                        type: 'success',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        }) */
                        /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
                    })
                    .catch(e => {
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            chekear: function () {
                if (this.checked) {
                    document.getElementsByName('email')[0].placeholder="Digite: notiene@davivienda.com.hn"
                } else {
                    document.getElementsByName('email')[0].placeholder="Ingrese su correo electrónico"
                }
            },
            chekearJob: function () {
                if (this.checkedJob) {
                    document.getElementsByName('job_email')[0].placeholder="Digite: notiene@davivienda.com.hn"
                } else {
                    document.getElementsByName('job_email')[0].placeholder="Ingrese su correo electrónico laboral"
                }
            },
            mostrarJob: function () {
                if (this.paso) {
                    /* console.log("original")
                    console.log(this.paso)
                    console.log("original") */
                    this.test = this.paso
                    //alert(typeof (this.test))
                    if (typeof this.test === 'object') {
                        //alert("sería de paso")
                        this.objJson = this.paso.respuesta
                        if (this.objJson.customer_information.public_job.code === 'S') {
                            //alert("Mostrara desde paso")
                            return true;
                        } else {
                            //alert("No se mostrará desde paso")
                            return false;
                        }
                        /* console.log("desde paso") 
                        console.log(this.test) 
                        console.log("desde paso") */
                        return true;
                    } else if (typeof this.test === 'string') {
                        //this.test = ""
                        this.objJson = JSON.parse(this.paso);
                        //alert("sería de flow")
                        //alert(typeof (this.objJson))
                        if (this.objJson.customer_information.public_job.code === 'S') {
                            //alert("Mostrara desde paso")
                            return true;
                        } else {
                            //alert("No se mostrará desde paso")
                            return false;
                        }
                        /* console.log("desde flow") 
                        console.log(this.test) 
                        console.log("desde flow")  */
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    //alert("Hubo problemas con flow")
                }
            }
        }
    };
</script>