<template>
    <div id="app">
        
        <router-view></router-view>
    </div>
</template>

<script>

import Footer from "./components/Footer.vue";
import Header from "./components/Header.vue";
import menu from "./components/menu.vue";

export default {
    name: "App",
    
    components: {
        Footer,
        Header,
        menu
    },
    data: () => ({
        

        roles: [],
        respuesta: Boolean = false,
        timeoutID: 0,
   //5 minutos de inactividad(milisegundos) x*60*1000,
   //1 minuto 60000
        Seconds: 1000000
        
    }),
    methods: {
        load: function(){
          this.roles=[];
            this.roles=JSON.parse(sessionStorage.getItem("datos"))
            //if (this.roles.length == 0 || this.roles.length == undefined || this.roles.length == null || this.roles.length == "[]") {
            if(this.roles != null){
              if (this.roles.length == 0 || this.roles.length == undefined || this.roles.length == "[]") {
                this.respuesta = false;
              }else{
                  this.respuesta = true;
                  this.goActive();
              }
            }
            return this.respuesta

            //  console.log(this.respuesta)
           
        },
        isLogin: function(){
        // sessionStorage.setItem('datos', JSON.stringify([]))
        this.location.reload();
      },
      Cerrar: function() {
      var urlLogin = "/logout";
      axios
        .get(urlLogin)
        .then(response => {
            //console.log(response.data.role);
            
          if(response.data.status == 200) {
              sessionStorage.setItem('datos', JSON.stringify([]))
              location.href="/index.html";
            //   window.locationf="/index.html" no funciono
              location.href= location.origin+'/index.html'
              // location.reload();
          } else if(response.data.status == 404) {
            console.log('No autorizado, error 404');
            sessionStorage.setItem('datos', JSON.stringify([]))
          } else if(response.data.status == 401) {
            console.log('No autorizado, error 401');
            sessionStorage.setItem('datos', JSON.stringify([]))
          } else if(response.data.status == 500) {
            sessionStorage.setItem('datos', JSON.stringify([]))
            console.log('No autorizado, error 500');
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    initListener() {
        document.body.addEventListener('click', () => this.reset());
        document.body.addEventListener('mouseover',()=> this.reset());
        document.body.addEventListener('mouseout',() => this.reset());
        document.body.addEventListener('keydown',() => this.reset());
        document.body.addEventListener('keyup',() => this.reset());
        document.body.addEventListener('keypress',() => this.reset());

        this.startTimer();
        },
        reset() {
        window.clearTimeout(this.timeoutID);

        
        },


        startTimer() {
        // wait 2 seconds before calling goInactive
        this.timeoutID = window.setTimeout(this.goInactive, this.Seconds);
        },
        goInactive() {
        // do something
        //this.toastr.warning('sin actividad durante 5 segundos');
        //alert("sin actividad durante 5 segundos");
        //  this.router.navigate(['/']);


        this.Cerrar();
        

        },

        goActive() {
        // do something

        this.startTimer();
        // sessionStorage.setItem('datos', JSON.stringify([]))
        }
    },
    created: function(){
        // is.isLogin();
        this.load();
        this.initListener();
        // setTimeout(() => {
        //     this.Cerrar()
        //     location.href=location.origin+'/login'
        // }, 5000);
    }
}
</script>
