<template>
  <div>
    <form class="form-horizontal" role="form" id="form">
      <div class="row">
        <div class="col-2 form-group text-center">
          <span class="davivienda-icon fas fa-building"></span>
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'concessionaire'"
                    :placeholder="'Concesionaria...'"
                    :classes="'form-control'"
                    :options="lista.concessionaireOptions"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('concessionaire')" class="help-block">
                    <strong>{{ errors.first('concessionaire') }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'seller'"
                    :placeholder="'Vendedor...'"
                    :classes="'form-control'"
                    :options="lista.sellerOptions"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('seller')" class="help-block">
                    <strong>{{ errors.first('seller') }}</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 form-group">
          <h2>Vehículo</h2>
        </div>

        <div class="col-2 form-group text-center">
          <span class="davivienda-icon fas fa-car"></span>
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'type_auto'"
                    :placeholder="'Tipo de vehículo...'"
                    :classes="'form-control'"
                    :options="lista.typeAutoOptions"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('type_auto')" class="help-block">
                    <strong>{{ errors.first('type_auto') }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'status_auto'"
                    :placeholder="'Estado de vehículo...'"
                    :classes="'form-control'"
                    :options="lista.statusAutoOptions"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('status_auto')" class="help-block">
                    <strong>{{ errors.first('status_auto') }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'year_auto'"
                    :placeholder="'Año del vehículo...'"
                    :classes="'form-control'"
                    :options="lista.yearAutoOptions"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('year_auto')" class="help-block">
                    <strong>{{ errors.first('year_auto') }}</strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
          <div class="form-group">
            <div class="form-group">
              <single-select-component
                :name="'auto_brand'"
                :placeholder="'Marca del vehículo...'"
                :classes="'form-control'"
                :options="lista.autoBrandOptions"
                :required="true"
                :enabled="true"
              ></single-select-component>
              <span v-show="errors.has('auto_brand')" class="help-block">
                <strong>{{ errors.first('auto_brand') }}</strong>
              </span>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control '"
              :name="'auto_model'"
              :max="'40'"
              :min="'0'"
              :placeholder="'Modelo de vehículo'"
            ></text-input-component>
            <span v-show="errors.has('auto_model')" class="help-block">
              <strong>{{ errors.first('auto_model') }}</strong>
            </span>
          </div>
        </div>
          </div>
        </div>
      </div>

      <div class="row">

        
      </div>

      <div class="row">
        <div class="col-12 form-group">
          <h2>Préstamo</h2>
        </div>

        <div class="col-2 form-group text-center">
          <span class="davivienda-icon fas fa-money-check"></span>
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'sale_price'"
                  :min="'0'"
                  :placeholder="'Digite el precio'"
                ></text-input-component>
                <span v-show="errors.has('sale_price')" class="help-block">
                  <strong>{{ errors.first('sale_price') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'closing_costs'"
                  :max="'9'"
                  :min="'0'"
                  :placeholder="'Digite la prima'"
                ></text-input-component>
                <span v-show="errors.has('premium')" class="help-block">
                  <strong>{{ errors.first('premium') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row hide-appraisal">
            <div class="col-12">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'appraisal'"
                  :min="'0'"
                  :placeholder="'Digite el precio de avalúo'"
                ></text-input-component>
                <span v-show="errors.has('appraisal')" class="help-block">
                  <strong>{{ errors.first('appraisal') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'financing_term'"
                    :placeholder="'Plazo de financiamiento...'"
                    :classes="'form-control'"
                    :options="lista.financingTermOptions"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('financing_term')" class="help-block">
                    <strong>{{ errors.first('financing_term') }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'closing_costs'"
                    :placeholder="'Gastos de cierre...'"
                    :classes="'form-control'"
                    :options="lista.confirmation"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('closing_costs')" class="help-block">
                    <strong>{{ errors.first('closing_costs') }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                  <single-select-component
                    :name="'grace_period'"
                    :placeholder="'Período de gracia...'"
                    :classes="'form-control'"
                    :options="lista.confirmation"
                    :required="true"
                    :enabled="true"
                  ></single-select-component>
                  <span v-show="errors.has('grace_period')" class="help-block">
                    <strong>{{ errors.first('grace_period') }}</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-davivienda-red btn-loading"
            id="submit"
            v-on:click="SendData();"
          >CALCULAR</button>
        </div>
      </div>

    </form>
  </div>
</template>

<script>
import * as mylib from "../../../../validation";
export default {
  props: ["lista", "flow"],
  data() {
    return {};
  },
  methods: {
    fireEvent() {
      return this.$emit("updateFlow", "calculator");
    },
    SendData: function() {
      var urlLogin = "/banco/prestamo-de-auto/calculate";
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
          return this.fireEvent();
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    }
  }
};
</script>