<template>
  <div class="container">
    <progress-component :steps="5" :step="5" :title="'Información operaciones internacionales'"></progress-component>

    <div class="row">
      <div class="col-12 identity-form">
        <form class="form-horizontal" role="form" id="form">
          <div class="row">
            <div class="col-12 form-group">
              <h2>¿Realizará operaciones en moneda extranjera?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-card"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component
                  :name="'foreign_currency'"
                  :placeholder="'Seleccione la respuesta...'"
                  :classes="'form-control'"
                  :options="lista.confirmation"
                  :required="true"
                  :enabled="true"
                ></single-select-component>
                <span v-show="errors.has('foreign_currency')" class="text-danger">
                  <strong>{{ errors.first('foreign_currency') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="monedaExtranjera_1">
            <div class="col-12 form-group">
              <h2>Monto mensual típico estimado</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-5">
              <div class="form-group">
                <!-- Revisar tamaño -->
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'typical_monthly_income'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Digite el monto'"
                  id="typical_monthly_incomeI"
                ></text-input-component>
                <span v-show="errors.has('typical_monthly_income')" class="text-danger">
                  <strong>{{ errors.first('typical_monthly_income') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'typical_monthly_currency'"
                  :placeholder="'Moneda...'"
                  :classes="'form-control'"
                  :options="lista.transfersCurrency"
                  :required="true"
                  :enabled="true"
                  id="typical_monthly_currencyI"
                ></single-select-component>
                <span v-show="errors.has('typical_monthly_currency')" class="text-danger">
                  <strong>{{ errors.first('typical_monthly_currency') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="monedaExtranjera_2">
            <div class="col-12 form-group">
              <h2>Monto mensual esperado eventual</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-briefcase"></span>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'probable_monthly_income'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Monto mensual esperado eventual'"
                  id="probable_monthly_incomeI"
                ></text-input-component>
                <span v-show="errors.has('probable_monthly_income')" class="text-danger">
                  <strong>{{ errors.first('probable_monthly_income') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'probable_monthly_currency'"
                  :placeholder="'Moneda...'"
                  :classes="'form-control'"
                  :options="lista.transfersCurrency"
                  :required="true"
                  :enabled="true"
                  id="probable_monthly_currencyI"
                ></single-select-component>
                <span v-show="errors.has('probable_monthly_currency')" class="text-danger">
                  <strong>{{ errors.first('probable_monthly_currency') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="monedaExtranjera_3">
            <div class="col-12 form-group">
              <h2>¿Realizará Transferencias Internacionales?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-money-check-alt"></a>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component
                  :name="'wire_transfers'"
                  :placeholder="'Seleccione la respuesta...'"
                  :classes="'form-control'"
                  :options="lista.confirmation"
                  :required="true"
                  :enabled="true"
                  id="wire_transfersI"
                ></single-select-component>
                <span v-show="errors.has('wire_transfers')" class="text-danger">
                  <strong>{{ errors.first('wire_transfers') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="transferencias_i1">
            <div class="col-12 form-group">
              <h2>Transferencias recibidas</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-id"></span>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'received_transfer_country'"
                  :placeholder="'País de procedencia...'"
                  :classes="'form-control davivienda-select'"
                  :options="lista.nations"
                  :required="true"
                  :enabled="true"
                  id="received_transfer_countryI"
                ></single-select-component>
                <span v-show="errors.has('received_transfer_country')" class="text-danger">
                  <strong>{{ errors.first('received_transfer_country') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'received_transfer_sender'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Nombre del remitente'"
                  id="received_transfer_senderI"
                ></text-input-component>
                <span v-show="errors.has('received_transfer_sender')" class="text-danger">
                  <strong>{{ errors.first('received_transfer_sender') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2 form-group text-center"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'received_transfer_reason'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Motivo de transferencia'"
                  id="received_transfer_reasonI"
                ></text-input-component>
                <span v-show="errors.has('received_transfer_reason')" class="text-danger">
                  <strong>{{ errors.first('received_transfer_reason') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="transferencias_i2">
            <div class="col-12 form-group">
              <h2>Transferencias enviadas</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-id"></span>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'sent_transfer_country'"
                  :placeholder="'País de envío...'"
                  :classes="'form-control davivienda-select'"
                  :options="lista.nations"
                  :required="true"
                  :enabled="true"
                  id="sent_transfer_countryI"
                ></single-select-component>
                <span v-show="errors.has('sent_transfer_country')" class="text-danger">
                  <strong>{{ errors.first('sent_transfer_country') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'sent_transfer_sender'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Nombre del beneficiario'"
                  id="sent_transfer_senderI"
                ></text-input-component>
                <span v-show="errors.has('sent_transfer_sender')" class="text-danger">
                  <strong>{{ errors.first('sent_transfer_sender') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2 form-group text-center"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'sent_transfer_reason'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Motivo de transferencia'"
                  id="sent_transfer_reasonI"
                ></text-input-component>
                <span v-show="errors.has('sent_transfer_reason')" class="text-danger">
                  <strong>{{ errors.first('sent_transfer_reason') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="monedaExtranjera_4">
            <div class="col-12 form-group">
              <h2>¿Recibirá Remesas Familiares?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-card"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component
                  :name="'remittances'"
                  :placeholder="'Seleccione la respuesta...'"
                  :classes="'form-control'"
                  :options="lista.confirmation"
                  :required="true"
                  :enabled="true"
                  id="remittancesI"
                ></single-select-component>
                <span v-show="errors.has('remittances')" class="text-danger">
                  <strong>{{ errors.first('remittances') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="remesasFamiliares">
            <div class="col-12 form-group">
              <h2>Remesas recibidas</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-id"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component
                  :name="'remittance_country'"
                  :placeholder="'País de procedencia...'"
                  :classes="'form-control davivienda-select'"
                  :options="lista.nations"
                  :required="true"
                  :enabled="true"
                  id="remittance_countryI"
                ></single-select-component>
                <span v-show="errors.has('remittance_country')" class="text-danger">
                  <strong>{{ errors.first('remittance_country') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2 form-group text-center"></div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'remittance_sender'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Nombre del remitente'"
                  id="remittance_senderI"
                ></text-input-component>
                <span v-show="errors.has('remittance_sender')" class="text-danger">
                  <strong>{{ errors.first('remittance_sender') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'remittance_sender_relationship'"
                  :placeholder="'Seleccione el parentesco...'"
                  :classes="'form-control'"
                  :options="lista.referenceOptions"
                  :required="true"
                  :enabled="true"
                  id="remittance_sender_relationshipI"
                ></single-select-component>
                <span v-show="errors.has('remittance_sender_relationship')" class="text-danger">
                  <strong>{{ errors.first('remittance_sender_relationship') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2 form-group text-center"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'remittance_reason'"
                  :max="'15'"
                  :min="'0'"
                  :placeholder="'Motivo de la remesa'"
                  id="remittance_reasonI"
                ></text-input-component>
                <span v-show="errors.has('remittance_reason')" class="text-danger">
                  <strong>{{ errors.first('remittance_reason') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="monedaExtranjera_5">
            <div class="col-12 form-group">
              <h2>¿Realizará Compra/Venta de divisas?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-card"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component
                  :name="'currency_purchase'"
                  :placeholder="'Seleccione la respuesta...'"
                  :classes="'form-control'"
                  :options="lista.confirmation"
                  :required="true"
                  :enabled="true"
                  id="currency_purchaseI"
                ></single-select-component>
                <span v-show="errors.has('currency_purchase')" class="text-danger">
                  <strong>{{ errors.first('currency_purchase') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="display: none;" id="monedaExtranjera_6">
            <div class="col-12 form-group">
              <h2>¿Realizará Emisión de Giros Dólar (Cheques en dólares)?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-card"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component
                  :name="'checks_in_dollars'"
                  :placeholder="'Seleccione la respuesta...'"
                  :classes="'form-control'"
                  :options="lista.confirmation"
                  :required="true"
                  :enabled="true"
                  id="checks_in_dollarsI"
                ></single-select-component>
                <span v-show="errors.has('checks_in_dollars')" class="text-danger">
                  <strong>{{ errors.first('checks_in_dollars') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-davivienda-red btn-loading"
                id="submit"
                v-on:click="SendData();"
              >FINALIZAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import * as mylib from "../../../../validation";
export default {
  props: ["lista", "flow"],
  data() {
    return {
      datos: [],

      datosRespose: {},
      pasosEnviar: {
        paso: "search",
        respuesta: ""
      }
    };
  },
  mounted() {
    $('.davivienda-select').select2({
      language: "es"
    });
    //alert("mounted en first")
  },
  methods: {
    formSubmit(e) {
      axios
        .post("/flujo-de-prueba/2")
        .then(response => {
          return this.fireEvent();
        })
        .catch(function(error) {});
    },

    fireEvent() {
      location.href = "/index"; 
      //this.handleClick();
      //return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData: function() {
      var urlLogin = "/banco/cuenta-de-ahorro/6";
      var data = {};
      $("#form")
        .serializeArray() 
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
         // alert(JSON.stringify(response.data.flow));
          this.datosRespose = response.data.flow;
          this.pasosEnviar.respuesta = this.datosRespose;
         // alert(response.data.route + response.data.id_product)
          /* console.log(response.data.route + response.data.id_product)
          console.log(response.data); */
          location.href = response.data.route+response.data.id_product; 
          //return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                    let status = response.data.status
                    let msg = response.data.msg
                    if(status == 200){
                        return this.fireEvent(); */
          /* this.$swal({
                        type: 'success',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        }) */
          /*  }else if(status == 500){
                        this.$swal({
                        type: 'error',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        })
                    }else if(status == 403){
                        this.$swal({
                        type: 'error',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        })
                    }
                    // */
        })
        .catch(e => {
          //console.log(e);
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },

    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    }
  }
};
</script>

