<template>
  <div class="container">
    <!-- <progress-component v-if="this.p_paso" :steps="5" :step=" this.objJson.respuesta.step " :title="'Información general'"></progress-component>  -->
    <progress-component v-if="this.objJson" :steps="5" :step="this.p_paso" :title="'Información general'"></progress-component>
    <!-- <pre> objJson {{ objJson }}</pre>
     <pre> obj {{ this.p_paso.respuesta.step  }}</pre> -->
    <!-- <pre> objJson {{ p_paso }}</pre> -->
    <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.account.second') }}" id="form"> -->
    <div class="row">
      <div class="col-12 identity-form">
        <form class="form-horizontal" role="form" id="form">
          <!-- {!! csrf_field() !!} -->

          <div class="row">
            <div class="col-12 form-group">
              <h2>Tipo de cuenta</h2>

            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-piggy-bank"></a>
            </div>

            <div class="col-10">
              <!-- <div class="form-group{{ $errors->has('account_type') ? ' has-error' : '' }}"> -->
              <div class="form-group">
                <single-select-component :name="'account_type'" :placeholder="'Seleccione el tipo...'"
                  :classes="'form-control'" :options="lista.accountOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('account_type')" class="help-block">
                  <strong>{{ errors.first('account_type') }}</strong>
                </span>
                <!-- @include('modules._singleSelect', [
                                        'name' => 'account_type',
                                        'placeholder' => 'Seleccione el tipo...',
                                        'resource' => $flow,
                                        'json' => get_json($flow->product_information, ['product', 'code']),
                                        'options' => $lists['accountOptions'],
                                        'required' => true,
                                        'enable' => true
                ])-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Nombres</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-user"></a>
            </div>

            <div class="col-5 first-name-field">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'first_name'" :max="'15'"
                  :min="'0'" :placeholder="'Primer nombre'"></text-input-component>
                <span v-show="errors.has('first_name')" class="help-block">
                  <strong>{{ errors.first('first_name') }}</strong>
                </span>
              </div>
              <!-- <div class="form-group{{ $errors->has('first_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'first_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['name', 'first']),
                                        'placeholder' => 'Primer nombre',
                                        'label' => 'Primer nombre',
                                        'length' => '15',
                                        'required' => true
                                    ])
              </div>-->
            </div>

            <div class="col-5 first-name-field">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'middle_name'" :max="'15'"
                  :min="'0'" :placeholder="'Segundo nombre'"></text-input-component>
                <span v-show="errors.has('middle_name')" class="help-block">
                  <strong>{{ errors.first('middle_name') }}</strong>
                </span>
              </div>
              <!-- <div class="form-group{{ $errors->has('first_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'middle_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['name', 'middle']),
                                        'placeholder' => 'Segundo nombre',
                                        'label' => 'Segundo nombre',
                                        'length' => '15'
                                    ])
              </div>-->
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Apellidos</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-user"></a>
            </div>

            <div class="col-5 last-name-field">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'last_name'" :max="'15'"
                  :min="'0'" :placeholder="'Primer apellido'"></text-input-component>
                <span v-show="errors.has('last_name')" class="help-block">
                  <strong>{{ errors.first('last_name') }}</strong>
                </span>
              </div>
              <!-- <div class="form-group{{ $errors->has('last_name') ? ' has-error' : '' }}"> -->
              <!-- @include('modules._textInput', [
                                        'name' => 'last_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['name', 'last']),
                                        'placeholder' => 'Primer apellido',
                                        'label' => 'Primer apellido',
                                        'length' => '15',
                                        'required' => true
                                    ])
              </div>-->
            </div>
            <div class="col-5 second-last-name-field">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'second_last_name'" :max="'15'"
                  :min="'0'" :placeholder="'Segundo apellido'"></text-input-component>
                <span v-show="errors.has('second_last_name')" class="help-block">
                  <strong>{{ errors.first('second_last_name') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('second_last_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'second_last_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['name', 'second_last']),
                                        'placeholder' => 'Segundo apellido',
                                        'label' => 'Segundo apellido',
                                        'length' => '15'
                ])-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Nacionalidad</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-globe-americas"></a>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'nationality'" :placeholder="'Seleccione su nacionalidad...'"
                  :classes="'form-control davivienda-select'" :options="lista.nations" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('nationality')" class="help-block">
                  <strong>{{ errors.first('nationality') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Actividad comercial</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-briefcase"></a>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-select-component :name="'job_type'" :placeholder="'Seleccione su actividad comercial...'"
                  :classes="'form-control davivienda-select'" :options="lista.jobTypeOptions" :required="true"
                  :enabled="true"></single-select-component>
                <span v-show="errors.has('job_type')" class="help-block">
                  <strong>{{ errors.first('job_type') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>¿Tiene ciudadanía, residencia o pasaporte estadounidense?</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-flag-usa"></a>
            </div>

            <div class="col-10">
              <single-select-component :name="'fatca'" :placeholder="'Seleccione la respuesta...'"
                :classes="'form-control'" :options="lista.confirmation" :required="true" :enabled="true">
              </single-select-component>
              <span v-show="errors.has('fatca')" class="help-block">
                <strong>{{ errors.first('fatca') }}</strong>
              </span>
              <!-- <div class="col-10 form-group{{ $errors->has('fatca') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'fatca',
                                    'placeholder' => 'Seleccione la respuesta...',
                                    'options' => $lists['confirmation'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['fatca', 'code']),
                                    'required' => true,
                                    'enable' => true
              ])-->
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="row text-center">
            <div class="col-12">
              <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                v-on:click="SendData();">SIGUIENTE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import * as mylib from "../../../../validation";
  export default {
    props: ["lista", "paso"],
    data() {
      return {
        datosRespose: {},
        pasosEnviar: {
          paso: "second",
          respuesta: ""
        },
        flow: {},
        p_paso: 0,
        test: {},
        objJson: {},
      };
    },
    mounted() {
      this.mostrarData();
      /* this.p_paso = this.paso;
      console.log(this.p_paso) */
      if(this.objJson.step){
        this.p_paso = parseInt(this.objJson.step);
      }else if(this.objJson.respuesta){
        this.p_paso = parseInt(this.objJson.respuesta.step);
      }else if(this.objJson.respuesta.data){
        this.p_paso = parseInt(this.objJson.respuesta.data.step);
      }
      $('.davivienda-select').select2({
        language: "es"
      });
      //alert("mounted en first")
    },
    methods: {
      mostrarData: function () {
        if (this.paso) {
          /*   console.log("original")
            console.log(this.paso)
            console.log("original") */
          this.test = this.paso
          // alert(typeof (this.test))
          if (typeof this.test === 'object') {
            // alert("sería de paso")
            this.objJson = this.paso.respuesta
            /*   console.log("desde paso")
              console.log(this.test)
              console.log("desde paso") */
            return true
          } else if (typeof this.test === 'string') {
            //this.test = ""
            this.objJson = JSON.parse(this.paso);

            /*  alert("sería de flow")
             alert(typeof (this.objJson)) */
            /*  console.log("desde flow")
             console.log(this.test)
             console.log("desde flow") */
            return true
          } else {
            return false
          }
        } else {
          // alert("Hubo problemas con flow")
        }

      },

      formSubmit(e) {
        /* e.preventDefault(); */

        axios
          .post("/flujo-de-prueba/")
          .then(response => {
            return this.fireEvent();
          })
          .catch(function (error) {});
      },

      fireEvent() {
        this.handleClick();
        // alert("el de denis");
        return this.$emit("updateFlow", this.pasosEnviar);
      },

      SendData: function () {
        var urlLogin = "/banco/cuenta-de-ahorro/2"; //search
        var data = {};
        $("#form")
          .serializeArray()
          .map(function (x) {
            data[x.name] = x.value;
          });
        axios
          .post(urlLogin, data)
          .then(response => {
            this.datosRespose = response.data;
            this.pasosEnviar.respuesta = this.datosRespose;
            return this
          .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
                          let status = response.data.status
                          let msg = response.data.msg
                          if(status == 200){
                              return this.fireEvent(); */
            /* this.$swal({
                              type: 'success',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              }) */
            /*  }else if(status == 500){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }else if(status == 403){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }
                          // */
          })
          .catch(e => {
            this.$setErrorsFromResponse(e.response.data.errors);
          });
      },
      handleClick: function () {
        //alert("hijo");
        this.$emit("EventoHijo", this.pasosEnviar);
      }
    }
  };
</script>