<template>
  <div class="container">
    <progress-component :steps="5" :step="4" :title="'Información Referencias'"></progress-component>

    <div class="row">
      <div class="col-12 identity-form">
        <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.account.fifth') }}" id="form"> -->
        <form class="form-horizontal" role="form" id="form">
          <div class="row">
            <div class="col-12 form-group">
              <h2>Beneficiarios</h2>
            </div>
          </div>
          <div v-for="(line, index) in lines" v-bind:key="index" class="row">
            <div class="col-2 form-group text-center">
              <i class="davivienda-icon fas fa-users"></i>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  v-bind:name="'beneficiary_' + (index+1) + '_name'"
                  :max="'40'"
                  :min="'0'"
                  :placeholder="'Nombre del beneficiario'"
                  :v-model="line.number"
                ></text-input-component>
                <span v-show="errors.has('beneficiary_' + (index+1) + '_name')" class="help-block">
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_name') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2"></div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'beneficiary_' + (index+1) + '_relationship'"
                  :placeholder="'Seleccione el parentesco...'"
                  :classes="'form-control'"
                  :options="lista.beneficiaryOptions"
                  :required="true"
                  :enabled="true"
                ></single-select-component>
                <span
                  v-show="errors.has('beneficiary_' + (index+1) + '_relationship')"
                  class="help-block"
                >
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_relationship') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component
                  :name="'beneficiary_' + (index+1) + '_id_type'"
                  :placeholder="'Seleccione el tipo de identificación...'"
                  :classes="'form-control'"
                  :options="lista.idOptions"
                  :required="true"
                  :enabled="true"
                ></single-select-component>
                <span
                  v-show="errors.has('beneficiary_' + (index+1) + '_id_type')"
                  class="help-block"
                >
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_id_type') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'beneficiary_' + (index+1) + '_identity'"
                  :max="'13'"
                  :min="'0'"
                  :placeholder="'No. de identificación'"
                ></text-input-component>
                <span
                  v-show="errors.has('beneficiary_' + (index+1) + '_identity')"
                  class="help-block"
                >
                  <strong>{{ errors.first('beneficiary_' + (index+1) + '_identity') }}</strong>
                </span>
              </div>
            </div>

            <div class="justify-content-end">
              <div class="col-2 text-right">
                <a
                  v-if="lines.length > 1 && index  < lines.length - 1"
                  v-on:click="removeLine ((index+1))"
                  href="javascript:void(0);"
                  class="btn davivienda-remove-field"
                >
                  <a class="fas fa-plus"></a>
                  <!-- <i class="fas fa-plus"></i> -->
                </a>
                <a
                  v-if="index  == lines.length  -1"
                  v-on:click="addLine"
                  href="javascript:void(0);"
                  class="btn davivienda-add-field"
                >
                  <a class="fas fa-plus"></a>
                  <!-- <i class="fas fa-plus"></i> -->
                </a>
                <!-- :v-if="((index+1)+1) == (index+1).length" -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Referencia familiar</h2>
            </div>

            <div class="col-2 form-group text-center">
              <i class="davivienda-icon fas fa-user-friends"></i>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'reference_1_name'"
                  :max="'40'"
                  :min="'0'"
                  :placeholder="'Nombre de la referencia familiar'"
                ></text-input-component>
                <span v-show="errors.has('reference_1_name')" class="help-block">
                  <strong>{{ errors.first('reference_1_name') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2"></div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'reference_1_mobile'"
                  :max="'9'"
                  :min="'0'"
                  :placeholder="'Celular'"
                ></text-input-component>
                <span v-show="errors.has('reference_1_mobile')" class="help-block">
                  <strong>{{ errors.first('reference_1_mobile') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'reference_1_phone'"
                  :max="'9'"
                  :min="'0'"
                  :placeholder="'Teléfono de domicilio'"
                ></text-input-component>
                <span v-show="errors.has('reference_1_phone')" class="help-block">
                  <strong>{{ errors.first('reference_1_phone') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Referencia personal</h2>
            </div>

            <div class="col-2 form-group text-center">
              <i class="davivienda-icon fas fa-user-friends"></i>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control '"
                  :name="'reference_2_name'"
                  :max="'40'"
                  :min="'0'"
                  :placeholder="'Nombre de la referencia personal'"
                ></text-input-component>
                <span v-show="errors.has('reference_2_name')" class="help-block">
                  <strong>{{ errors.first('reference_2_name') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2"></div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'reference_2_mobile'"
                  :max="'9'"
                  :min="'0'"
                  :placeholder="'Celular'"
                ></text-input-component>
                <span v-show="errors.has('reference_2_mobile')" class="help-block">
                  <strong>{{ errors.first('reference_2_mobile') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component
                  :type="'text'"
                  :classes="'form-control validate-num-dash'"
                  :name="'reference_2_phone'"
                  :max="'9'"
                  :min="'0'"
                  :placeholder="'Teléfono de domicilio'"
                ></text-input-component>
                <span v-show="errors.has('reference_2_phone')" class="help-block">
                  <strong>{{ errors.first('reference_2_phone') }}</strong>
                </span>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-davivienda-red btn-loading"
                id="submit"
                v-on:click="SendData();"
              >SIGUIENTE</button>
            </div>
          </div>
        </form>
      </div>
    </div> 
  </div>
</template>
<script>
import * as mylib from "../../../../validation";
export default {
  props: ["lista", "flow"],
  name: "PhoneNumberLine",
  data() {
    return {
      datosRespose: {},
      pasosEnviar: {
        paso: "fifth",
        respuesta: "",
                test: {},
                objJson: {}
      },
      datos: [],

      lines: [],
      blockRemoval: true
    };
  },
  watch: {
    lines() {
      this.blockRemoval = this.lines.length <= 1;
    }
  },
  methods: {
    addLine() {
      let checkEmptyLines = this.lines.filter(
        line => line.beneficiario === null
      );
      if (checkEmptyLines.length >= 1 && this.lines.length > 0) {
        /* alert(this.lines.length) */
        this.lines.push({
          beneficiario: null
        });
        return;
      } else {
        /* alert("no entro al if") */
      }
      this.lines.push({
        beneficiario: null
      });
    },
    removeLine(lineId) {
      //alert("borraría")
      if (!this.blockRemoval) {
        /* alert("entro al if") */
        this.lines.splice(lineId, 1);
      } else {
        /* alert("no entro al if") */
      }
    },

    formSubmit(e) {
      /* e.preventDefault(); */

      axios
        .post("/flujo-de-prueba/2")
        .then(response => {
          return this.fireEvent();
        })
        .catch(function(error) {});
    },

    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData: function() {
      var urlLogin = "/banco/cuenta-de-ahorro/5"; //search
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
            this.datosRespose = response.data;
            this.pasosEnviar.respuesta = this.datosRespose;
            return this.fireEvent();  // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
          /* this.$swal({
                            type: 'success',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            }) */
          /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },

    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    },
            mostrarJob: function () {
                if (this.paso) {
                    // console.log("original")
                   // console.log(this.paso)
                    //console.log("original") 
                    this.test = this.paso
                   //alert(typeof (this.test))
                    if (typeof this.test === 'object') {
                        //alert("sería de paso")
                        this.objJson = this.paso.respuesta
                        
                        /* console.log("desde paso") 
                        console.log(this.test) 
                        console.log("desde paso") */
                        return true;
                    } else if (typeof this.test === 'string') {
                        //this.test = ""
                        this.objJson = JSON.parse(this.paso);
                        //alert("sería de flow")
                        //alert(typeof (this.objJson))
                        
                        //console.log("desde flow") 
                        //console.log(this.test) 
                        //console.log("desde flow") 
                        return true;
                    } else {
                        return false;
                    }
                } else {
                   // alert("Hubo problemas con flow")
                }
            }
  },
  mounted() {
    this.addLine();
  }
};
</script>

