<template>
  <div class="container">
    <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('search.customer', ['bank_account']) }}" id="form"> -->
    <form class="form-horizontal" role="form" id="form">
      <!-- {!! csrf_field() !!} -->

      <div class="row">
        <div class="col-12 form-group">
          <h2>Información de identificación</h2>
        </div>

        <div class="col-2 form-group text-center">
          <span class="davivienda-icon icon-id"></span>
        </div>

        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control validate-num-dash'"
              :name="'identity'"
              :max="13"
              :min="0"
              :placeholder="'Ingrese el número de identificación'"
              v-validate-num
            ></text-input-component>
            <span v-show="errors.has('identity')" class="help-block">
              <strong>{{ errors.first('identity') }}</strong>
            </span>
            <!-- <div class="form-group{{ $errors->has('identity') ? ' has-error' : '' }}">
                        @include('modules._textInput', [
                            'name' => 'identity',
                            'placeholder' => 'Ingrese el número de identificación',
                            'label' => 'Identidad',
                            'length' => '13',
                            'classes' => 'validate-num-dash', 
                            'required' => 'required'
            ])-->
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-davivienda-red btn-loading"
            id="submit"
            v-on:click="SendData();"
          >SIGUIENTE</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import * as mylib from "../../../../validation";
export default {
  props: ["lista", "flow"],
  data() {
    return {
      datosRespose: {},
      pasosEnviar: {
        paso: "first",
        respuesta: ""
      }
    };
  },
  methods: {
    formSubmit(e) {
      axios
        .post("/flujo-de-prueba/2")
        .then(response => {// Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
          /* this.$swal({
                            type: 'success',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            }) */
          /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            /*})
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        */
        })
        .catch(function(error) {});
    },

    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData: function() {
      var urlLogin = "/buscar-cliente/bank_account"; //search
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      axios
        .post(urlLogin, data)
        .then(response => {
          //alert(JSON.stringify(response.data.flow));
          this.datosRespose = response.data.flow;
          this.pasosEnviar.respuesta = this.datosRespose;
          return this.fireEvent(); 
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },
    handleClick: function() {
    //  alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    }
  }
};
</script>