<template>
  <div class="container">
    <progress-component :steps="5" :step="2" :title="'Información personal'"></progress-component>
    <div class="row">
      <div class="col-12 identity-form">
        <form class="form-horizontal" role="form" id="form">
          <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.account.third') }}" id="form"> -->
          <!-- {!! csrf_field() !!} -->
          <div class="row">
            <div class="col-12 form-group">
              <h2>Fecha de nacimiento</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-calendar"></span>
            </div>

            <div class="col-10">
              <!-- <div class="form-group{{ $errors->has('day') ? ' has-error' : '' }}"> -->
              <div class="form-group">
                <div class="row birth-container">
                  <div class="col-4 birth-day">
                    <single-select-component :name="'day'" :placeholder="'Día'" :classes="'form-control'"
                      :options="lista.dayOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('day')" class="help-block">
                      <strong>{{ errors.first('day') }}</strong>
                    </span>
                    <!-- @include('modules._singleSelect', [
                                            'name' => 'day',
                                            'placeholder' => 'Día',
                                            'options' => $lists['dayOptions'],
                                            'resource' => $flow,
                                            'json' => get_json_date(get_json($flow->customer_information,'birth'), 'd'),
                                            'required' => true
                    ])-->
                  </div>
                  <div class="col-4 birth-month">
                    <single-select-component :name="'month'" :placeholder="'Mes'" :classes="'form-control'"
                      :options="lista.monthOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('month')" class="help-block">
                      <strong>{{ errors.first('month') }}</strong>
                    </span>
                    <!-- @include('modules._singleSelect', [
                                            'name' => 'month',
                                            'placeholder' => 'Mes',
                                            'options' => $lists['monthOptions'],
                                            'resource' => $flow,
                                            'json' => get_json_date(get_json($flow->customer_information,'birth'), 'm'),
                                            'required' => true
                    ])-->
                  </div>
                  <div class="col-4 birth-year">
                    <single-select-component :name="'year'" :placeholder="'Año'" :classes="'form-control'"
                      :options="lista.yearOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('year')" class="help-block">
                      <strong>{{ errors.first('year') }}</strong>
                    </span>
                    <!-- @include('modules._singleSelect', [
                                            'name' => 'year',
                                            'options' => $lists['yearOptions'],
                                            'resource' => $flow,
                                            'json' => get_json_date(get_json($flow->customer_information,'birth'), 'Y'),
                                            'default' => $lists['selectedYear'],
                                            'placeholder' => 'Año',
                                            'required' => true
                    ])-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Números de contacto</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-phone"></span>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control validate-num-dash'" :name="'phone'"
                  :max="'9'" :min="'0'" :placeholder="'Teléfono de domicilio'"></text-input-component>
                <span v-show="errors.has('phone')" class="help-block">
                  <strong>{{ errors.first('phone') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('phone') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'phone',
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, 'phone'),
                                    'placeholder' => 'Teléfono de domicilio',
                                    'label' => 'Teléfono de domicilio',
                                    'length' => '9',
                                    'classes' => 'validate-num-dash'
                ])-->
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control validate-num-dash'" :name="'mobile'"
                  :max="'9'" :min="'0'" :placeholder="'Celular'"></text-input-component>
                <span v-show="errors.has('mobile')" class="help-block">
                  <strong>{{ errors.first('mobile') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('mobile') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'mobile',
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, 'mobile'),
                                    'placeholder' => 'Celular',
                                    'label' => 'Celular',
                                    'length' => '9',
                                    'classes' => 'validate-num-dash',
                                    'required' => true
                ])-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Colonia de domicilio</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-gps"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <single-opt-component :name="'city'" :placeholder="'Seleccione la colonia...'"
                  :classes="'form-control davivienda-select'" :options="lista.cities" :required="false" :enabled="true">
                </single-opt-component>
                <span v-show="errors.has('city')" class="help-block">
                  <strong>{{ errors.first('city') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('city') ? ' has-error' : '' }}">
                                <select class="form-control davivienda-select" name="city" id="city" value="{{ old('city') }}" placeholder="Seleccione la colonia..." required>
                                    @include('modules._singleSelectOptGroup', [
                                        'name' => 'city',
                                        'options' => $lists['cities'],
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['address', 'code']),
                                    ])
                </select>-->
                <!-- @if ($errors->has('city'))
                                    <span class="help-block">
                                        <strong>{{ $errors->first('city') }}</strong>
                                    </span>
                @endif-->
              </div>
            </div>
          </div>

          <div class="row hide-other-city">
            <div class="col-2 form-group"></div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control'" :name="'other_city'" :max="'40'"
                  :min="'0'" :placeholder="'Nombre de la otra colonia'"></text-input-component>
                <span v-show="errors.has('other_city')" class="help-block">
                  <strong>{{ errors.first('other_city') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Dirección de domicilio</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-gps"></span>
            </div>

            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'address_1'" :max="40"
                      :min="0" :placeholder="'Avenida, Calle, Bloque, Casa'"></text-input-component>
                    <span v-show="errors.has('address_1')" class="help-block">
                      <strong>{{ errors.first('address_1') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'address_2'" :max="40"
                      :min="0" :placeholder="'Punto de referencia de la dirección'"></text-input-component>
                    <span v-show="errors.has('address_2')" class="help-block">
                      <strong>{{ errors.first('address_2') }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <text-input-component :type="'text'" :classes="'form-control'" :name="'address_3'" :max="40"
                      :min="0" :placeholder="'Segundo punto de referencia de la dirección'"></text-input-component>
                    <span v-show="errors.has('address_3')" class="help-block">
                      <strong>{{ errors.first('address_3') }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Dirección de correo electrónico</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-messages"></span>
            </div>
            <div class="col-6">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control'" :name="'email'" :max="'40'" :min="'0'"
                  :placeholder="placeholderText"></text-input-component>
                <span v-show="errors.has('email')" class="help-block">
                  <strong>{{ errors.first('email') }}</strong>
                </span>
              </div>
            </div>
            <div class="col-3 text-right">
              <label for="checkbox" style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
            </div>
            <div class="col-1 text-center davivienda-checkbox">
              <input type="checkbox" id="checkbox" v-model="checked" v-on:change="chekear()">
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Información personal</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-id"></span>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component :name="'gender'" :placeholder="'Seleccione su género...'"
                  :classes="'form-control'" :options="lista.genderOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('gender')" class="help-block">
                  <strong>{{ errors.first('gender') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('gender') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'gender',
                                    'placeholder' => 'Seleccione su género...',
                                    'options' => $lists['genderOptions'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['gender', 'code']),
                                    'required' => true,
                ])-->
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <single-select-component :name="'marital_status'" :placeholder="'Seleccione su estado civil...'"
                  :classes="'form-control'" :options="lista.maritalStatusOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('marital_status')" class="help-block">
                  <strong>{{ errors.first('marital_status') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('marital_status') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'marital_status',
                                    'placeholder' => 'Seleccione su estado civil...',
                                    'options' => $lists['maritalStatusOptions'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['marital_status', 'code']),
                                    'required' => true,
                                    'enable' => true
                ])-->
              </div> 
            </div>
          </div>

          <div class="row" id="spouseI" style="display:none;">
            <div class="col-12 form-group">
              <h2>Cónyuge</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon icon-id"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'spouse'" :max="40" :min="0"
                  :placeholder="'Nombre completo del cónyuge'"></text-input-component>
                <span v-show="errors.has('spouse')" class="help-block">
                  <strong>{{ errors.first('spouse') }}</strong>
                </span>
                <!-- <div class="form-group{{ $errors->has('spouse') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'spouse',
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, 'spouse'),
                                    'placeholder' => 'Nombre completo del cónyuge',
                                    'label' => 'Nombre completo del cónyuge',
                                    'length' => '40',
                                    'enable' => true
                ])-->
              </div>
            </div>
          </div>
          <checkbox-component  :name="'receive_sms'"
              :placeholder="'Acepto envíos de mensajes a mi celular'"
                type="'checkbox'">
          </checkbox-component>

          <checkbox-component v-if="!checked" :name="'receive_emails'"
              :placeholder="'Acepto envíos de estados de cuenta a mi correo electrónico personal'"
                type="'checkbox'">
          </checkbox-component>
          <br>
          <br>
          <br>
          <div class="row text-center">
            <div class="col-12">
              <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                v-on:click="SendData();">SIGUIENTE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import * as mylib from "../../../../validation";
  export default {
    props: ["lista", "flow"],
    data() {
      return {
        datosRespose: {},
        pasosEnviar: {
          paso: "third",
          respuesta: ""
        },
        checked: false,
        placeholderText: "Ingrese su correo electrónico"
      };
    },
    mounted() {
      $(document).ready(function () {
        $(".davivienda-select").select2({
          language: "es"
        });

        $(".hide-other-city, .hide-other-employer-city").hide();

        if (
          $("#city option:selected")
          .text()
          .includes("OTRA COLONIA")
        ) {
          $(".hide-other-city").fadeIn();
        }

        $("#city").change(function () {
          let str = $("#city option:selected").text();

          if (str.includes("OTRA COLONIA")) {
            $(".hide-other-city").fadeIn();
          } else {
            $(".hide-other-city").fadeOut();
          }
        });

        if (
          $("#employer_city option:selected")
          .text()
          .includes("OTRA COLONIA")
        ) {
          $(".hide-other-employer-city").fadeIn();
        }

        $("#employer_city").change(function () {
          let str = $("#employer_city option:selected").text();

          if (str.includes("OTRA COLONIA")) {
            $(".hide-other-employer-city").fadeIn();
          } else {
            $(".hide-other-employer-city").fadeOut();
          }
        });
      });
      //alert("mounted en first")
    },
    methods: {
      formSubmit(e) {
        // e.preventDefault();

        axios
          .post("/flujo-de-prueba/2")
          .then(response => {
            return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
                          let status = response.data.status
                          let msg = response.data.msg
                          if(status == 200){
                              return this.fireEvent(); */
            /* this.$swal({
                              type: 'success',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              }) */
            /*  }else if(status == 500){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }else if(status == 403){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }
                          // */
          })
          .catch(function (error) {});
      },

      fireEvent() {
        // alert("esto enviaremos al flow desde 2: " + JSON.stringify(this.pasosEnviar))
        console.log("esto enviaremos al flow desde 2: " + JSON.stringify(this.pasosEnviar))
        this.handleClick();
        
        // alert("esto enviaremos al flow desde ya al uddate: " + JSON.stringify(this.pasosEnviar))
        return this.$emit("updateFlow", this.pasosEnviar);
      },
      SendData: function () {
        var urlLogin = "/banco/cuenta-de-ahorro/3"; //search
        var data = {};
        $("#form")
          .serializeArray()
          .map(function (x) {
            data[x.name] = x.value;
          });
        axios
          .post(urlLogin, data)
          .then(response => {
            this.datosRespose = response.data;
            this.pasosEnviar.respuesta = this.datosRespose;
            return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
                          let status = response.data.status
                          let msg = response.data.msg
                          if(status == 200){
                              return this.fireEvent(); */
            /* this.$swal({
                              type: 'success',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              }) */
            /*  }else if(status == 500){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }else if(status == 403){
                              this.$swal({
                              type: 'error',
                              title: msg,
                              showConfirmButton: true,
                              timer: 3000,
                              confirmButtonText: 'Continuar'
                              })
                          }
                          // */
          })
          .catch(e => {
            this.$setErrorsFromResponse(e.response.data.errors);
          });
      },
      handleClick: function () {
        
        // alert("esto enviaremos al flow desde 2 handleeee: " + JSON.stringify(this.pasosEnviar))
        //alert("hijo");
        this.$emit("EventoHijo", this.pasosEnviar);
      },
      chekear: function () {
        if (this.checked) {
          this.placeholderText = "Digite: notiene@davivienda.com.hn";
        } else {
          this.placeholderText = "Ingrese su correo electrónico";
        }
      }
    }
  };
</script>