<template>
    <div class="container">
        <progress-component 
            v-if="this.paso"
            :steps="5" 
            :step="4" 
            :title="'Información Finaciera'"
        ></progress-component>
        <progress-component 
            v-else-if="this.flow"
            :steps="5" 
            :step="3" 
            :title="'Información Finaciera'"
        ></progress-component>
        <!-- <pre>deberia de estar el flow {{ this.codigoJob }}</pre> -->

        <div class="row">
            <div class="col-12 identity-form">
                <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.account.fourth') }}" id="form"> -->
                <form class="form-horizontal" role="form" id="form">
                    <!-- {!! csrf_field() !!} -->

                    <!-- @if(!in_array(get_json($flow->customer_information, ['employer', 'job', 'type', 'code']), ['10','11','44'])) -->
                    <div v-if="this.codigoJob != 10 || this.codigoJob != 11 || this.codigoJob != 44">
                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Lugar de trabajo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <a class="davivienda-icon fas fa-briefcase"></a>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control '"
                                        :name="'employer_name'" :max="'40'" :min="'0'"
                                        :placeholder="'Nombre de la empresa'"></text-input-component>
                                    <span v-show="errors.has('employer_name')"
                                        class="help-block"><strong>{{ errors.first('employer_name') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('employer_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'employer_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['employer', 'name']),
                                        'placeholder' => 'Nombre de la empresa',
                                        'label' => 'Nombre de la empresa',
                                        'length' => '40',
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>

                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Puesto de Trabajo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <a class="davivienda-icon fas fa-briefcase"></a>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control '" :name="'job_name'"
                                        :max="'30'" :min="'0'" :placeholder="'Nombre del puesto actual de trabajo'">
                                    </text-input-component>
                                    <span v-show="errors.has('job_name')"
                                        class="help-block"><strong>{{ errors.first('job_name') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('job_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'job_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['employer', 'job', 'name']),
                                        'placeholder' => 'Nombre del puesto de trabajo',
                                        'label' => 'Nombre del puesto actual de trabajo',
                                        'length' => '30',
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-12 form-group">
                                <h2>Dirección de correo electrónico laboral</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-messages"></span>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control'" :name="'job_email'"
                                        :max="'40'" :min="'0'" :placeholder="placeholderText"></text-input-component>
                                    <span v-show="errors.has('job_email')" class="help-block">
                                        <strong>{{ errors.first('job_email') }}</strong>
                                    </span>
                                    <!--  @include('modules._textInput', [
                                        'name' => 'job_email',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['job_email', 'account']),
                                        'placeholder' => 'Ingrese su correo laboral',
                                        'label' => 'Correo laboral',
                                        'length' => '40',
                                        'required' => true
                                    ]) -->
                                </div>
                            </div>
                            <div class="col-3 text-right">
                                <label for="has_job_email" style="font-size: 1.4rem; line-height: 1;">No tiene
                                    correo</label>
                            </div>
                            <div class="col-1 text-center davivienda-checkbox">
                                <input type="checkbox" id="checkbox" v-model="checked" v-on:change="chekear()">
                            </div>
                            <!-- <div class="col-3 text-right">
                                <label for="has_job_email" style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
                            </div>
                            <div class="col-1 text-center davivienda-checkbox">
                                @include('modules._checkbox', [
                                    'name' => 'has_job_email',
                                    'json' => get_json($flow->customer_information, ['job_email', 'has_job_email']),
                                    'label' => ''
                                    ]
                                )
                            </div> -->
                        </div>



                        <div class="row">
                            <div class="col-12 form-group show-if-independent">
                                <h2>Salario mensual</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-card"></span>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control'" :name="'income'"
                                        :max="'12'" :min="'0'" :placeholder="'Ingrese su salario mensual'">
                                    </text-input-component>
                                    <span v-show="errors.has('income')" class="help-block">
                                        <strong>{{ errors.first('income') }}</strong>
                                    </span>
                                    <!--  @include('modules._textInput', [
                                    'name' => 'income',
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, 'income'),
                                    'placeholder' => $incomePlaceholder,
                                    'label' => 'Salario mensual',
                                    'classes'  => 'format-amount',
                                    'autocomplete' => 'No',
                                    'enable' => true
                                ]) -->
                                </div>
                            </div>
                        </div>

                        <!-- @include('bank.account.form.partials._income', [
                            'incomeTitle' => 'Salario mensual',
                            'incomePlaceholder' => 'Ingrese su salario mensual'
                        ]) -->

                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Tipo de empresa</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <a class="davivienda-icon fas fa-building"></a>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <single-select-component :name="'employer_type'"
                                        :placeholder="'Seleccione el tipo de empresa...'" :classes="'form-control'"
                                        :options="lista.employeeTypes" :required="true" :enabled="true">
                                    </single-select-component>
                                    <span v-show="errors.has('employer_type')"
                                        class="help-block"><strong>{{ errors.first('employer_type') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('employer_type') ? ' has-error' : '' }}">
                                    @include('modules._singleSelect', [
                                        'name' => 'employer_type',
                                        'placeholder' => 'Seleccione el tipo de empresa...',
                                        'options' => $lists['employeeTypes'],
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['employer', 'type', 'code']),
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>


                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Fecha de ingreso al trabajo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-calendar"></span>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <!-- <div class="form-group{{ $errors->has('employer_day') ? ' has-error' : '' }}"> -->
                                    <div class="row birth-container">
                                        <div class="col-4 birth-day">
                                            <single-select-component :name="'employer_day'" :placeholder="'Día'"
                                                :classes="'form-control'" :options="lista.dayOptions" :required="true"
                                                :enabled="true"></single-select-component>
                                            <span v-show="errors.has('employer_day')"
                                                class="help-block"><strong>{{ errors.first('employer_day') }}</strong></span>
                                            <!-- @include('modules._singleSelect', [
                                                'name' => 'employer_day',
                                                'placeholder' => 'Día',
                                                'options' => $lists['dayOptions'],
                                                'resource' => $flow,
                                                'json' => get_json_date(get_json($flow->customer_information, ['employer', 'started_at']), 'd'),
                                                'enable' => true
                                            ]) -->
                                        </div>
                                        <div class="col-4 birth-month">
                                            <single-select-component :name="'employer_month'" :placeholder="'Mes'"
                                                :classes="'form-control'" :options="lista.monthOptions" :required="true"
                                                :enabled="true"></single-select-component>
                                            <span v-show="errors.has('employer_month')"
                                                class="help-block"><strong>{{ errors.first('employer_month') }}</strong></span>
                                            <!-- @include('modules._singleSelect', [
                                                'name' => 'employer_month',
                                                'placeholder' => 'Mes',
                                                'options' => $lists['monthOptions'],
                                                'resource' => $flow,
                                                'json' => get_json_date(get_json($flow->customer_information, ['employer', 'started_at']), 'm'),
                                                'enable' => true
                                            ]) -->
                                        </div>
                                        <div class="col-4 birth-year">
                                            <single-select-component :name="'employer_year'" :placeholder="'Año'"
                                                :classes="'form-control'" :options="lista.employerYearOptions"
                                                :required="true" :enabled="true"></single-select-component>
                                            <span v-show="errors.has('employer_year')"
                                                class="help-block"><strong>{{ errors.first('employer_year') }}</strong></span>
                                            <!-- @include('modules._singleSelect', [
                                                'name' => 'employer_year',
                                                'options' => $lists['employerYearOptions'],
                                                'resource' => $flow,
                                                'json' => get_json_date(get_json($flow->customer_information, ['employer', 'started_at']), 'Y'),
                                                'default' => $lists['selectedEmployerYear'],
                                                'placeholder' => 'Año',
                                                'enable' => true
                                            ]) -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Tipo de empleo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <a class="davivienda-icon fas fa-briefcase"></a>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <single-select-component :name="'job'"
                                        :placeholder="'Seleccione el tipo de empleo...'" :classes="'form-control'"
                                        :options="lista.jobOptions" :required="true" :enabled="true">
                                    </single-select-component>
                                    <span v-show="errors.has('job')"
                                        class="help-block"><strong>{{ errors.first('job') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('job') ? ' has-error' : '' }}">
                                    @include('modules._singleSelect', [
                                        'name' => 'job',
                                        'placeholder' => 'Seleccione el tipo de empleo...',
                                        'options' => $lists['jobOptions'],
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['employer', 'job', 'status', 'code']),
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>

                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Teléfono del trabajo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-phone"></span>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control validate-num-dash'"
                                        :name="'employer_phone'" :max="'9'" :min="'0'"
                                        :placeholder="'Teléfono del trabajo'"></text-input-component>
                                    <span v-show="errors.has('employer_phone')"
                                        class="help-block"><strong>{{ errors.first('employer_phone') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('employer_phone') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'employer_phone',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['employer', 'phone']),
                                        'placeholder' => 'Ingrese el teléfono del trabajo',
                                        'label' => 'Teléfono del trabajo',
                                        'length' => '9',
                                        'classes' => 'validate-num-dash',
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>

                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Colonia de trabajo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-gps"></span>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <single-opt-component :name="'employer_city'"
                                        :placeholder="'Seleccione la colonia...'"
                                        :classes="'form-control davivienda-select'" :options="lista.cities"
                                        :required="false" :enabled="true">
                                    </single-opt-component>
                                    <span v-show="errors.has('employer_city')"
                                        class="help-block"><strong>{{ errors.first('employer_city') }}</strong></span>
                                </div>
                            </div>
                        </div>

                        <div class="row hide-other-employer-city">
                            <div class="col-2 form-group"></div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control '"
                                        :name="'other_employer_city'" :max="'40'" :min="'0'"
                                        :placeholder="'Nombre de la otra colonia'"></text-input-component>
                                    <span v-show="errors.has('other_employer_city')"
                                        class="help-block"><strong>{{ errors.first('other_employer_city') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('other_employer_city') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'other_employer_city',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['employer', 'address', 'other_city']),
                                        'placeholder' => 'Nombre de la otra colonia',
                                        'label' => 'Nombre de la otra colonia',
                                        'length' => '40',
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>

                        <div class="row show-if-independent">
                            <div class="col-12 form-group">
                                <h2>Dirección de trabajo</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-gps"></span>
                            </div>

                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <text-input-component :type="'text'" :classes="'form-control'"
                                                :name="'employer_address_1'" :max="40" :min="0"
                                                :placeholder="'Avenida, Calle, Bloque, Casa'"></text-input-component>
                                            <span v-show="errors.has('employer_address_1')" class="help-block">
                                                <strong>{{ errors.first('employer_address_1') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <text-input-component :type="'text'" :classes="'form-control'"
                                                :name="'employer_address_2'" :max="40" :min="0"
                                                :placeholder="'Punto de referencia de la dirección'">
                                            </text-input-component>
                                            <span v-show="errors.has('employer_address_2')" class="help-block">
                                                <strong>{{ errors.first('employer_address_2') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <text-input-component :type="'text'" :classes="'form-control'"
                                                :name="'employer_address_3'" :max="40" :min="0"
                                                :placeholder="'Segundo punto de referencia de la dirección'">
                                            </text-input-component>
                                            <span v-show="errors.has('employer_address_3')" class="help-block">
                                                <strong>{{ errors.first('employer_address_3') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- @endif -->

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Profesión</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-briefcase"></a>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-select-component :name="'profession'"
                                    :placeholder="'Seleccione la profesión...'"
                                    :classes="'form-control davivienda-select'" :options="lista.professionOptions"
                                    :required="true" :enabled="true"></single-select-component>
                                <span v-show="errors.has('profession')"
                                    class="help-block"><strong>{{ errors.first('profession') }}</strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>¿Ha desempeñado un cargo público en el gobierno en los últimos 4 años?</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-landmark"></a>
                        </div>

                        <div class="form-group col-10">
                            <single-select-component :name="'public_job'" :placeholder="'Seleccione la respuesta...'"
                                :classes="'form-control'" :options="lista.confirmation" :required="true"
                                :enabled="true"></single-select-component>
                            <span v-show="errors.has('public_job')"
                                class="help-block"><strong>{{ errors.first('public_job') }}</strong></span>

                            <!-- <div class="col-10 form-group{{ $errors->has('public_job') ? ' has-error' : '' }}">
                            @include('modules._singleSelect', [
                                'name' => 'public_job',
                                'placeholder' => 'Seleccione la respuesta...',
                                'options' => $lists['confirmation'],
                                'resource' => $flow,
                                'json' => get_json($flow->customer_information, ['public_job', 'code']),
                                'enable' => true
                            ]) -->
                        </div>
                    </div>

                    <div class="row" id="publib_jon_second_card" style="display: none;">
                        <div class="col-12 form-group">
                            <h2>Información de cargos públicos</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-landmark"></a>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'public_job_employer_name'" :max="'40'" :min="'0'"
                                    :placeholder="'Nombre de la institución'"></text-input-component>
                                <span v-show="errors.has('public_job_employer_name')"
                                    class="help-block"><strong>{{ errors.first('public_job_employer_name') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('public_job_employer_name') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'public_job_employer_name',
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['public_job', 'employer_name']),
                                    'placeholder' => 'Nombre de la institución',
                                    'label' => 'Nombre de la institución',
                                    'length' => '40',
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'public_job_name'" :max="'30'" :min="'0'" :placeholder="'Cargo desempeñado'">
                                </text-input-component>
                                <span v-show="errors.has('public_job_name')"
                                    class="help-block"><strong>{{ errors.first('public_job_name') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('public_job_name') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'public_job_name',
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['public_job', 'job']),
                                    'placeholder' => 'Cargo desempeñado',
                                    'label' => 'Cargo desempeñado',
                                    'length' => '30',
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                        <div class="col-2"></div>

                        <div class="col-2">
                            <div class="form-group">
                                <single-select-component :name="'public_job_active'" :placeholder="'¿Es actual?'"
                                    :classes="'form-control'" :options="lista.confirmation" :required="true"
                                    :enabled="true"></single-select-component>
                                <span v-show="errors.has('public_job_active')"
                                    class="help-block"><strong>{{ errors.first('public_job_active') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('public_job_active') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'public_job_active',
                                    'placeholder' => '¿Es actual?',
                                    'options' => $lists['confirmation'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['public_job', 'active']),
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'public_job_from'" :max="'10'" :min="'0'" :placeholder="'Desde DD/MM/AAAA'">
                                </text-input-component>
                                <span v-show="errors.has('public_job_from')"
                                    class="help-block"><strong>{{ errors.first('public_job_from') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('public_job_from') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'public_job_from',
                                    'resource' => $flow,
                                    'json' => get_json_date(get_json($flow->customer_information, ['public_job', 'from']), 'd/m/Y'),
                                    'placeholder' => 'Desde DD/MM/AAAA',
                                    'label' => 'Fecha de inicio',
                                    'length' => '10',
                                    'classes' => 'date',
                                    'autocomplete' => 'No',
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                        <div class="col-4" id="trabajoHasta" style="display: none;">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'public_job_to'"
                                    :max="'10'" :min="'0'" :placeholder="'Hasta DD/MM/AAAA'"></text-input-component>
                                <span v-show="errors.has('public_job_to')"
                                    class="help-block"><strong>{{ errors.first('public_job_to') }}</strong></span>

                                <!-- <div class="form-group{{ $errors->has('public_job_to') ? ' has-error' : '' }}">
                                @include('modules._textInput', [
                                    'name' => 'public_job_to',
                                    'resource' => $flow,
                                    'json' => get_json_date(get_json($flow->customer_information, ['public_job', 'to']), 'd/m/Y'),
                                    'placeholder' => 'Hasta DD/MM/AAAA',
                                    'label' => 'Fecha final',
                                    'length' => '10',
                                    'classes' => 'hide-public-job-active date',
                                    'autocomplete' => 'No',
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Información financiera</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-coins"></a>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'assets'" :placeholder="'Total de activos'"
                                    :classes="'form-control'" :options="lista.assetRangeOptions" :required="true"
                                    :enabled="true"></single-select-component>
                                <span v-show="errors.has('assets')"
                                    class="help-block"><strong>{{ errors.first('assets') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('assets') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'assets',
                                    'placeholder' => 'Total de activos',
                                    'options' => $lists['assetRangeOptions'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['assets', 'code']),
                                    'required' => true,
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'passive'" :placeholder="'Total de pasivos'"
                                    :classes="'form-control'" :options="lista.liabilityRangeOptions" :required="true"
                                    :enabled="true"></single-select-component>
                                <span v-show="errors.has('passive')"
                                    class="help-block"><strong>{{ errors.first('passive') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('passive') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'passive',
                                    'placeholder' => 'Total de pasivos',
                                    'options' => $lists['liabilityRangeOptions'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['passive', 'code']),
                                    'required' => true,
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'expenses'" :placeholder="'Total de egresos'"
                                    :classes="'form-control'" :options="lista.expenseRangeOptions" :required="true"
                                    :enabled="true"></single-select-component>
                                <span v-show="errors.has('expenses')"
                                    class="help-block"><strong>{{ errors.first('expenses') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('expenses') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'expenses',
                                    'placeholder' => 'Total de egresos',
                                    'options' => $lists['expenseRangeOptions'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['expenses', 'code']),
                                    'required' => true,
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'other_income'" :placeholder="'¿Tiene otros ingresos?'"
                                    :classes="'form-control'" :options="lista.confirmation" :required="true"
                                    :enabled="true"></single-select-component>
                                <span v-show="errors.has('other_income')"
                                    class="help-block"><strong>{{ errors.first('other_income') }}</strong></span>
                                <!-- <div class="form-group{{ $errors->has('other_income') ? ' has-error' : '' }}">
                                @include('modules._singleSelect', [
                                    'name' => 'other_income',
                                    'placeholder' => '¿Tiene otros ingresos?',
                                    'options' => $lists['confirmation'],
                                    'resource' => $flow,
                                    'json' => get_json($flow->customer_information, ['other_income', 'code']),
                                    'required' => true,
                                    'enable' => true
                                ]) -->
                            </div>
                        </div>
                    </div>

                    <!-- @if(in_array(get_json($flow->customer_information, ['employer', 'job', 'type', 'code']), ['10','11','44'])) -->
                    <!-- <div id="dependendientes" style="display: none;"> -->
                    <div v-if="this.codigoJob === 10 || this.codigoJob === 11 || this.codigoJob === 44">
                        <div class="row">
                            <div class="col-12 form-group">
                                <h2>Dependencia profesional | Datos de quien depende económicamente</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <a class="davivienda-icon fas fa-briefcase"></a>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control '"
                                        :name="'professional_dependant_name'" :max="'40'" :min="'0'"
                                        :placeholder="'Nombre del dependiente profesiona'"></text-input-component>
                                    <span v-show="errors.has('professional_dependant_name')"
                                        class="help-block"><strong>{{ errors.first('professional_dependant_name') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('professional_dependant_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'professional_dependant_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['professional_dependant', 'name']),
                                        'placeholder' => 'Nombre del dependiente profesional',
                                        'label' => 'Nombre del dependiente profesional',
                                        'length' => '40',
                                        'enable' => true,
                                    ]) -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2"></div>

                            <div class="col-5">
                                <div class="form-group">
                                    <single-select-component :name="'professional_dependant_relationship'"
                                        :placeholder="'Seleccione el parentesco...'" :classes="'form-control'"
                                        :options="lista.beneficiaryOptions" :required="true" :enabled="true">
                                    </single-select-component>
                                    <span v-show="errors.has('professional_dependant_relationship')"
                                        class="help-block"><strong>{{ errors.first('professional_dependant_relationship') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('professional_dependant_relationship') ? ' has-error' : '' }}">
                                    @include('modules._singleSelect', [
                                        'name' => 'professional_dependant_relationship',
                                        'placeholder' => 'Seleccione el parentesco...',
                                        'options' => $lists['beneficiaryOptions'],
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['professional_dependant', 'relationship', 'code']),
                                        'enable' => true,
                                    ]) -->
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="form-group">
                                    <single-select-component :name="'professional_dependant_job_type'"
                                        :placeholder="'Seleccione la actividad comercial...'"
                                        :classes="'form-control davivienda-select'" :options="lista.jobTypeOptions"
                                        :required="true" :enabled="true"></single-select-component>
                                    <span v-show="errors.has('professional_dependant_job_type')"
                                        class="help-block"><strong>{{ errors.first('professional_dependant_job_type') }}</strong></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2"></div>

                            <div class="col-5">
                                <div class="form-group">
                                    <single-select-component :name="'professional_dependant_id_type'"
                                        :placeholder="'Seleccione el tipo de identidad...'" :classes="'form-control'"
                                        :options="lista.idOptions" :required="true" :enabled="true">
                                    </single-select-component>
                                    <span v-show="errors.has('professional_dependant_id_type')"
                                        class="help-block"><strong>{{ errors.first('professional_dependant_id_type') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('professional_dependant_id_type') ? ' has-error' : '' }}">
                                    @include('modules._singleSelect', [
                                        'name' => 'professional_dependant_id_type',
                                        'placeholder' => 'Seleccione el tipo de identidad...',
                                        'options' => $lists['idOptions'],
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['professional_dependant', 'id_type', 'code']),
                                        'enable' => true,
                                    ]) -->
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control validate-num-dash'"
                                        :name="'professional_dependant_identity'" :max="'15'" :min="'0'"
                                        :placeholder="'Identidad del dependiente'"></text-input-component>
                                    <span v-show="errors.has('professional_dependant_identity')"
                                        class="help-block"><strong>{{ errors.first('professional_dependant_identity') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('professional_dependant_identity') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'professional_dependant_identity',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['professional_dependant', 'identity']),
                                        'placeholder' => 'Identidad del dependiente',
                                        'label' => 'Identidad del dependiente',
                                        'length' => '15',
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>
                        <!-- @include('bank.account.form.partials._income', [
                            'incomeTitle' => 'Salario mensual de la persona de quien depende económicamente',
                            'incomePlaceholder' => 'Ingrese salario del dependiente profesional'
                        ])
                    @endif -->
                        <div class="row">
                            <div class="col-12 form-group">
                                <h2>Salario mensual de la persona de quien depende económicamente</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <a class="davivienda-icon icon-card"></a>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control '"
                                        :name="'professional_dependant_name1'" :max="'40'" :min="'0'"
                                        :placeholder="'Ingrese salario del dependiente profesional'">
                                    </text-input-component>
                                    <span v-show="errors.has('professional_dependant_name1')"
                                        class="help-block"><strong>{{ errors.first('professional_dependant_name1') }}</strong></span>
                                    <!-- <div class="form-group{{ $errors->has('professional_dependant_name') ? ' has-error' : '' }}">
                                    @include('modules._textInput', [
                                        'name' => 'professional_dependant_name',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, ['professional_dependant', 'name']),
                                        'placeholder' => 'Nombre del dependiente profesional',
                                        'label' => 'Nombre del dependiente profesional',
                                        'length' => '40',
                                        'enable' => true,
                                    ]) -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group show-if-independent">
                                <h2>Salario mensual de la persona de quien depende económicamente</h2>
                            </div>

                            <div class="col-2 form-group text-center">
                                <span class="davivienda-icon icon-card"></span>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    <text-input-component :type="'text'" :classes="'form-control  '" :name="'income'"
                                        :placeholder="'Ingrese su salario mensual'" :label="'Salario mensual'"
                                        :required="true"></text-input-component>
                                    <span v-show="errors.has('income')" class="help-block">
                                        <strong>{{ errors.first('income') }}</strong>
                                    </span>
                                    <!--  @include('modules._textInput', [
                                        'name' => 'income',
                                        'resource' => $flow,
                                        'json' => get_json($flow->customer_information, 'income'),
                                        'placeholder' => $incomePlaceholder,
                                        'label' => 'Salario mensual',
                                        'classes'  => '',
                                        'autocomplete' => 'No',
                                        'enable' => true
                                    ]) -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <checkbox-component v-if="!checked" :name="'receive_emails'"
                        :placeholder="'Acepto envíos de estados de cuenta a mi correo electrónico personal'"
                        type="'checkbox'">
                    </checkbox-component>

                    <!-- 
                    <div class="row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-davivienda-red btn-long btn-loading" id="submit">
                                SIGUIENTE
                            </button>
                        </div>
                    </div> -->
                    <div class="row text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                                v-on:click="SendData();">
                                SIGUIENTE
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import * as mylib from '../../../../validation';
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                test: {},
                objJson: {},
                datosRespose: {},
                pasosEnviar: {
                    paso: "fourth",
                    respuesta: ""
                },
                checked: false,
                placeholderText: "Ingrese su correo laboral",
                codigoJob: null,
      value: ""
            }
        },
        mounted() {
            this.mostrarData();
            this.codigoJob = this.objJson.customer_information.employer.job.type.code;
            $(document).ready(function () {



                let dependantClass = $('.show-if-dependant');
                let independentClass = $('.show-if-independent');
                let income = $('#income');

                dependantClass.hide();
                independentClass.hide();
                income.attr("placeholder", "Ingrese su salario mensual");

                let jobType = $('#job_type option:selected').val();

                if (jobType == 10 || jobType == 11 || jobType == 44) {
                    dependantClass.show();
                    independentClass.hide();
                    income.attr("placeholder", "Salario mensual del dependiente");
                } else {
                    dependantClass.hide();
                    independentClass.show();
                    income.attr("placeholder", "Ingrese su salario mensual");
                }

                $('#job_type').change(function () {

                    let jobType = $('#job_type option:selected').val();

                    if (jobType == 10 || jobType == 11 || jobType == 44) {
                        dependantClass.fadeIn();
                        independentClass.fadeOut();
                        income.attr("placeholder", "Salario mensual del dependiente");
                    } else {
                        dependantClass.fadeOut();
                        independentClass.fadeIn();
                        income.attr("placeholder", "Ingrese su salario mensual");
                    }
                });





                $(".davivienda-select").select2({
                    language: "es"
                });

                $(".hide-other-city, .hide-other-employer-city").hide();

                if (
                    $("#city option:selected")
                    .text()
                    .includes("OTRA COLONIA")
                ) {
                    $(".hide-other-city").fadeIn();
                }

                $("#city").change(function () {
                    let str = $("#city option:selected").text();

                    if (str.includes("OTRA COLONIA")) {
                        $(".hide-other-city").fadeIn();
                    } else {
                        $(".hide-other-city").fadeOut();
                    }
                });

                if (
                    $("#employer_city option:selected")
                    .text()
                    .includes("OTRA COLONIA")
                ) {
                    $(".hide-other-employer-city").fadeIn();
                }

                $("#employer_city").change(function () {
                    let str = $("#employer_city option:selected").text();

                    if (str.includes("OTRA COLONIA")) {
                        $(".hide-other-employer-city").fadeIn();
                    } else {
                        $(".hide-other-employer-city").fadeOut();
                    }
                });
            });






            //alert("mounted en first")
        },
        methods: {
            formSubmit(e) {
                /* e.preventDefault(); */

                axios.post('/flujo-de-prueba/2')
                    .then((response) => {
                        return this.fireEvent();
                    })
                    .catch(function (error) {

                    });
            },

            fireEvent() {
                this.handleClick();
                return this.$emit("updateFlow", this.pasosEnviar);
            },
            SendData: function () {
                var urlLogin = "/banco/cuenta-de-ahorro/4"; //search
                var data = {}
                $("#form").serializeArray().map(function (x) {
                    data[x.name] = x.value;
                })
                axios
                    .post(urlLogin, data)
                    .then(response => {
                        this.datosRespose = response.data;
                        this.pasosEnviar.respuesta = this.datosRespose;
                        return this
                            .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                        /* console.log(response.data)
                                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
                        /* this.$swal({
                        type: 'success',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        }) */
                        /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
                    })
                    .catch(e => {
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            handleClick: function () {
                //alert("hijo");
                this.$emit("EventoHijo", this.pasosEnviar);
            },
            chekear: function () {
                if (this.checked) {
                    this.placeholderText = "Digite: notiene@davivienda.com.hn"
                } else {
                    this.placeholderText = "Ingrese su correo electrónico"
                }
            },
            mostrarData: function () {
                // alert("montrar data")
                if (this.paso) {
                    /*  console.log("original")
                     console.log(this.paso)
                     console.log("original") */
                    this.test = this.paso
                    //alert(typeof (this.test))
                    if (typeof this.test === 'object') {
                        /*         alert("sería de paso") */
                        this.objJson = this.paso.respuesta
                        /*     console.log("desde paso")
                            console.log(this.test)
                            console.log("desde paso") */
                        return true
                    } else if (typeof this.test === 'string') {
                        //this.test = ""
                        this.objJson = JSON.parse(this.paso);
                        // alert("sería de flow")
                        // alert(typeof (this.objJson))
                        /*         console.log("desde flow")
                                console.log(this.test)
                                console.log("desde flow") */
                        return true
                    } else {
                        return false
                    }
                } else if (this.flow) {
                    this.objJson = this.flow
                    //alert("Hubo problemas con flow")
                }

                //var fecha = data.parse("-1484864549")
                //alert(fecha)
            },
            
    handleChange(payload) {
      this.value = payload;
      // alert(this.value)
    }
        }
    };
</script>