<template>
    <div>
        <div class="container-fluid" :style="{ 'background-color' : bg_color ? bg_color : '#EBEBEB' }">
            <div class="container">
                <div :class=" classes ? classes : 'banner'">
                    <div class="banner-image">
                        <img :src=" image ? image : 'design/index/bank_card.png'">
                    </div>
                    <div class="banner-title">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="banner-description">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'classes',
            'bg_color',
            'title',
            'description',
            'image'
        ],
    }
</script>