<template>
    <div>
        <div class="rejection-container">
            <div class="rejection-toggle">
                <button id="rejection-toggle">
                    <!-- <i id="rejection-icon" class="fas fa-plus-circle"></i> -->
                    <a id="rejection-icon" class="fas fa-plus-circle"></a>
                    <span>Rechazar solicitud</span>
                </button>
            </div>

            <div class="rejection-content">
                <div class="row">
                    <div class="col-12">
                        <form class="form-horizontal" role="form" method="POST" action="" id="rejection-form">

                            <!-- @if(isset($options)) -->
                                <div class="row form-group">
                                    <div class="col-12 text-left">
                                        <!-- {{--<label>Motivo*:</label>--}} -->
                                        <single-select-component 
                                            :name="'reject'"
                                            :placeholder="'Seleccione el motivo...'"
                                            :classes="'form-control'"
                                            :options="options"
                                        ></single-select-component>
                                        <!-- @include('modules._singleSelect', [
                                            'name' => 'reject',
                                            'placeholder' => 'Seleccione el motivo...',
                                            'options' => $options
                                        ]) -->
                                    </div>
                                </div>
                            <!-- @endif -->
                            <div class="row text-center">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-davivienda-red btn-loading" id="rejection-submit" style="font-size: 1.2rem; padding: 8px 30px;">
                                        Rechazar solicitud
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                options: {}
            }
        }        
    }
</script>