<template>
    <div >
        <div v-if="steps === 3" class="row">
            <div  v-for="i in steps" :key="i" class="col-4">
                <div class="davivienda-progress-bar">
                    <div v-if="i == step" class="in-progress-step" style="width:0;"></div>
                    <div v-else-if="step > i" class="filled-step"></div>
                    <div v-else class="not-filled-step"></div>
                </div>
            </div>
        </div>
        <div v-else-if="steps === 4" class="row">
            <div v-for="i in steps" :key="i" class="col-3">
                <div class="davivienda-progress-bar">
                    <div v-if="i == step" class="in-progress-step" style="width:0;"></div>
                    <div v-else-if="step > i" class="filled-step"></div>
                    <div v-else class="not-filled-step"></div>
                </div>
            </div>
        </div>
        <div v-else class="row">
            <div v-for="i in steps" :key="i" class="col">
                <div class="davivienda-progress-bar">
                    <div v-if="i == step" class="in-progress-step" style="width:0;"></div>
                    <div v-else-if="step > i" class="filled-step"></div>
                    <div v-else class="not-filled-step"></div>
                </div>
            </div>
        </div>

        <div v-if="title" class="row">
            <div class="col-12 text-center">
                <h2 class="form.title">{{ title }}</h2>
            </div>
        </div>
    </div>
    
</template>

<script>
    export default {
        props: {
            title: String,
            step: Number,
            steps: Number
        }
    }
</script>