<template>
    <!-- <div>
        <form class="form-horizontal" role="form" method="POST"  id="return-form">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn-back">
                        <a class="fas fa-backward i"></a>
                    </button>
                </div>
            </div>
        </form>
    </div> -->
    <div>
        <div v-if="this.p_paso || this.p_flow">
            <form class="form-horizontal" role="form" method="POST" id="return-form">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn-back">
                            <a class="fas fa-backward i"></a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div v-if="!this.p_paso && !this.p_flow">
            <form class="form-horizontal" role="form" method="POST" id="return-form">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn-back">
                            <a class="">Inicio</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>


<script>
export default {
     props: ["paso", "flow"],
     data(){
         return {
             p_paso: this.paso,
             p_flow: this.flow,
         }
     }
}
</script>