.btn {
    &:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
    }
}

.btn-red {
    background-color: $davivienda-red;
    border-radius: 0.7rem;
    font-weight: 100;
    font-size: 1.5rem;
    color: #fff;
    white-space: normal;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($davivienda-red, 3%);
        color: #fff;
    }
}

.btn-davivienda-red,
.btn-davivienda-green,
.btn-davivienda-gray {
    background-color: $davivienda-red;
    border-radius: 0.7rem;
    font-weight: 100;
    font-size: 1.5rem;
    padding: 8px 44px;
    color: #fff;
    white-space: normal;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($davivienda-red, 3%);
        color: #fff;
    }
}

.btn-davivienda-green {
    background-color: #1F6F43;
    &:hover,
    &:active,
    &:focus {
        background-color: darken(#1F6F43, 3%);
    }
}

.btn-davivienda-gray {
    background-color: $davivienda-dark-gray;
    padding: 8px 10px;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($davivienda-dark-gray, 3%);
    }
}

.btn-davivienda-update-gray {
    padding: 4px 15px 0;
}

.btn-resolve-comment {
    font-size: 1rem;
    padding: 2px 10px;
    border-radius: 0.5rem;
}

.btn-query,
.btn-product-document {
    background-color: $davivienda-red;
    border-radius: 0.7rem;
    font-weight: 100;
    font-size: 1rem;
    padding: 8px 10px;
    width: 100%;
    color: #fff;
    white-space: normal;
    margin: 5px 0;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($davivienda-red, 3%);
        color: #fff;
    }
    i {
        margin-right: 10px;
    }
}

.btn-query,
.btn-product-document {
    i {
        margin-right: 0;
    }
}

.btn-table-text {
    color: $davivienda-red;
    text-decoration: none;
    &:hover {
        color: darken($davivienda-red, 5%);
        text-decoration: none;
    }
}

.btn-davivienda-dropdown {
    background-color: $davivienda-gray;
    border-radius: 0.7rem;
    font-weight: 100;
    font-size: 1.1rem;
    padding: 5px 23px;
    -webkit-box-shadow: 0px 6px 0px 0px rgba(109, 110, 114, 1);
    -moz-box-shadow: 0px 6px 0px 0px rgba(109, 110, 114, 1);
    box-shadow: 0px 6px 0px 0px rgba(109, 110, 114, 1);
    color: #fff;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($davivienda-gray, 3%);
        color: #fff;
        -webkit-box-shadow: 0px 6px 0px 0px rgba(109, 110, 114, 1);
        -moz-box-shadow: 0px 6px 0px 0px rgba(109, 110, 114, 1);
        box-shadow: 0px 6px 0px 0px rgba(109, 110, 114, 1);
    }
}

.btn-long {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 8px 40px;
    @include media-breakpoint-up(sm) {
        padding: 8px 120px;
    }
}

.davivienda-add-field,
.davivienda-remove-field {
    background-color: $davivienda-gray;
    color: #fff;
    padding: 0.6rem 1.6rem 0.5rem;
    border-radius: 0.5rem;
    line-height: 1;
    margin-bottom: 1rem;
    &:hover {
        color: darken(#fff, 5%);
    }
}

.davivienda-remove-field {
    background-color: $davivienda-red;
}

.davivienda-file,
.davivienda-upload {
    background-color: #fff;
    color: $davivienda-gray;
    border-radius: 1rem;
    padding: 2rem 1rem 1rem;
    white-space: normal;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    font-weight: 100;
    &:hover {
        color: $davivienda-gray;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    }
    &:active {
        -webkit-box-shadow: inset 0px 0px 15px 1px rgba(237, 28, 39, 0.75);
        -moz-box-shadow: inset 0px 0px 15px 1px rgba(237, 28, 39, 0.75);
        box-shadow: inset 0px 0px 15px 1px rgba(237, 28, 39, 0.75);
    }
    i {
        font-size: 4rem;
        @media screen and(min-width: 400px) {
            font-size: 6rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 7rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 6rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 7rem;
        }
    }
    p {
        font-size: 1.2rem;
        margin-top: 1rem;
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }
    }
}

.davivienda-card {
    cursor: default !important;
    &:hover,
    &:active {
        cursor: default !important;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    }
}

.davivienda-upload {
    background-color: #fff;
    color: $davivienda-red;
    &:hover {
        color: darken($davivienda-red, 5%);
    }
}

.btn-back {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
    background-color: $davivienda-dark-gray;
    padding: 18px 20px;
    display: inline-block;
    border: 0;
    cursor: pointer;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-box-shadow: 0px 8px 15px 1px rgba(149, 149, 149, 0.50);
    -moz-box-shadow: 0px 8px 15px 1px rgba(149, 149, 149, 0.50);
    box-shadow: 0px 8px 15px 1px rgba(149, 149, 149, 0.50);
    &:hover {
        color: darken(#fff, 5%);
        text-decoration: none;
        outline: 0;
    }
    &:active {
        color: darken(#fff, 10%);
        outline: 0;
        -webkit-box-shadow: 0px 8px 15px -1px rgba(149, 149, 149, 0.50);
        -moz-box-shadow: 0px 8px 15px -1px rgba(149, 149, 149, 0.50);
        box-shadow: 0px 8px 15px -1px rgba(149, 149, 149, 0.50);
    }
    &:focus {
        outline: 0;
    }
}

.btn-card {
    padding: 0;
    border-radius: 0.9rem;
    border: 0;
    &:hover {
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    }
    &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    &:active {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(237, 28, 39, 0.75);
        -moz-box-shadow: 0px 0px 15px 1px rgba(237, 28, 39, 0.75);
        box-shadow: 0px 0px 15px 1px rgba(237, 28, 39, 0.75);
        outline: 0;
    }
}