footer {
  background: #000;
  color: #fff;
  padding: 20px;
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .copyright {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    @include media-breakpoint-up(sm) {
      text-align: left;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
  .footer-logo {
    text-align: center;
    img {
      max-width: 200px;
    }
  }
  .return-container {
    position: relative;
    width: 50px;
    margin: 0 auto;
    .return {
      position: absolute;
      bottom: -5px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}