.navbar-container {
    overflow: hidden;
    background-color: $davivienda-light-gray;
    height: 110px;
    //margin-bottom: -60px;
    .navbar {
        padding: 1rem 1rem;
        background: $davivienda-nav-red;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 -100px -15px;
        border-bottom: 10px solid #fff;
        .navbar-brand {
            text-align: center;
            margin: 0 auto;
        }
        .nav-link {
            padding-left: 2.5rem !important;
            margin: 0 10px;
            color: #fff;
            text-transform: uppercase;
        }
    }
    .navbar-motive {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -40px;
        width: 190px;
    }
    .logout-container {
        position: absolute;
        left: 2rem;
        top: 0.7rem;
        @include media-breakpoint-up(xl) {
            left: 10rem;
        }
        .btn-menu {
            background-color: transparent;
            color: #fff;
            text-transform: uppercase;
            &:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            &:hover {
                color: darken(#fff, 5%);
            }
        }
        .dropdown-menu {
            background-color: darken($davivienda-light-gray, 5%);
        }
        .dropdown-item {
            color: $davivienda-nav-red;
            &:hover {
                background-color: $davivienda-nav-red;
                color: #fff;
            }
        }
        .dropdown-divider {
            border-top: 1px solid #fff;
        }
    }
}

.online-help-container {
    padding: 10px 0;
}

.dropdown-menu {
    font-weight: 100;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: $davivienda-light-gray;
    border: none;
    border-radius: 0.7rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #000;
    background-color: darken($davivienda-light-gray, 10%);
}