@charset "UTF-8";

@font-face {
  font-family: "davivienda";
  src:url("/css/fonts/davivienda.eot");
  src:url("/css/fonts/davivienda.eot?#iefix") format("embedded-opentype"),
  url("/css/fonts/davivienda.woff") format("woff"),
  url("/css/fonts/davivienda.ttf") format("truetype"),
  url("/css/fonts/davivienda.svg#davivienda") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "davivienda" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "davivienda" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gps:before {
  content: "\61";
}
.icon-help:before {
  content: "\62";
}
.icon-menu:before {
  content: "\63";
}
.icon-messages:before {
  content: "\64";
}
.icon-success:before {
  content: "\65";
}
.icon-phone:before {
  content: "\66";
}
.icon-id:before {
  content: "\67";
}
.icon-edit:before {
  content: "\68";
}
.icon-motive-down:before {
  content: "\69";
}
.icon-motive-left:before {
  content: "\6a";
}
.icon-motive-right:before {
  content: "\6b";
}
.icon-motive-up:before {
  content: "\6c";
}
.icon-question:before {
  content: "\6d";
}
.icon-eticket:before {
  content: "\6e";
}
.icon-eticket-basic:before {
  content: "\6f";
}
.icon-calendar:before {
  content: "\70";
}
.icon-briefcase:before {
  content: "\71";
}
.icon-card:before {
  content: "\72";
}