/* Mauricio */

// @import "mediaQuery.scss";
// ariables:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;
@mixin media($media) {
    @if $media==xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }
    @else if $media==sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    }
    @else if $media==md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    }
    @else if $media==lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}

.sidebar h1 {
    text-align: center;
    color: #d30221;
    padding-top: 45%;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    padding-top: 50px;
}

.sidebar li {
    padding: 20px;
    transition-property: border;
    transition-duration: all 0.3s;
}

.sidebar li:hover {
    background: rgb(199, 199, 199);
    border-left: 5px solid #d30221;
}

.sidebar a {
    /* display: block; */
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    /* text-align: left; */
}

.hijos {
    display: none;
    transition-duration: 0.3s;
    margin-right: 20px;
}

.desplegar {
    display: block;
    text-align: 50px;
    transition-duration: 0.3s;
}

.contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    padding-top: 100px;
    /* padding-left: -100px; */
    transition-duration: 0.3s;
    -webkit-box-shadow: inset 12px 1px 8px -10px rgba(176, 167, 176, 1);
    -moz-box-shadow: inset 12px 1px 8px -10px rgba(176, 167, 176, 1);
    box-shadow: inset 12px 1px 8px -10px rgba(176, 167, 176, 1);
}

.sidebar {
    // display: block;
    z-index: 0;
    // position: absolute;
    float: left;
    /* left: 0px; */
    width: 250;
    // margin-left: -190px;
    height: 100%;
    background: #fff;
    color: #333;
    transition-duration: 0.3s;
    -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
    -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
    box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
    @include media(sm) {
        .abrir {
            margin-left: -190px;
            transition-duration: 0.3s;
        }
    }
}

.abrir {
    margin-left: -190px;
    transition-duration: 0.3s;
    // width: 250px;
    // @include media(xs) {
    //     .abrir{
    //         margin-left: 50px;
    //         // transition-duration: 0.3s;
    //     }
    // }
    // @include media(sm) {
    //     .abrir{
    //         margin-left: 0px;
    //         // transition-duration: 0.3s;
    //     }
    // }
}

.sombra {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.menu-bar {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    cursor: pointer;
    float: right;
    /* padding-left: 10px;  */
    /* left: 100%; */
    z-index: 3;
    margin-top: -55px;
    margin-right: -16px;
}

.ico {
    float: left;
}

.cinta {
    width: 100%;
    height: 5%;
    background: #d30221;
    float: bottom;
    margin-bottom: 0px;
    position: relative;
}

.rotar {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.rotara {
    margin-right: -10px;
}

.cintaGris {
    height: 10px;
    background: #6D6D71;
    width: 100%;
    margin-left: 15px;
    margin-bottom: -10px
}

.cintaRoja {
    height: 50px;
    background: #D30221;
    width: 100%;
    color: #fff;
    border-radius: 0 0 1rem 1rem;
    /* padding-bottom:  50%; */
    /* padding: 1rem 1rem 1rem 1rem; */
    /* margin-left: 15px; */
    /* margin-bottom: -10px */
}

.margenes {
    padding: 0px!important;
    border: 0px;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/**********
    iPad 3
    **********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* iPhone 6, 7, 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* iPhone 6+, 7+, 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* iPhone XS Max, XR ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .sidebar {
        z-index: 1;
        float: left;
        /* left: 0px; */
        width: 250;
        height: 100%;
        background: #fff;
        color: #333;
        transition-duration: 0.3s;
        -webkit-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        -moz-box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        box-shadow: 12px 1px 8px -10px rgba(176, 167, 176, 1);
        margin-left: -200px;
        transition-duration: 0.3s;
    }
    .abrir {
        margin-left: -20px;
        transition-duration: 0.3s;
        float: right;
    }
    .ico {
        float: left;
    }
}