<template>
    <div class="container">
        <!-- @extends('layouts.app') -->

        <!-- @section('meta') -->
            <!-- <link rel="stylesheet" type="text/css" href="{{ asset('plugins/dropzone/dropzone.css') }}"/> -->
            <link rel="stylesheet" type="text/css" href="../../../../public/plugins/dropzone/dropzone.css"/>
            <!-- <link rel="stylesheet" type="text/css" href="{{ asset('plugins/datatables/datatables.css') }}"/> -->
            <link rel="stylesheet" type="text/css" href="../../../../public/plugins/datatables/datatables.css"/>
        <!-- @stop -->

        <!-- @section('banner') -->
            <div class="container-fluid" style="background-color: #EBEBEB">
                <div class="container">
                    <div class="banner">
                        <div class="banner-image">
                            <!-- <img src="{{ asset('design/index/' . $product->type . '.png') }}"> -->
                            <img src="../../../../public/design/index/assistant.png">
                        </div>
                        <div class="banner-title">
                            <!-- <h1>{{ product_name($product->type) }} {{ $product->identifier }}</h1> -->
                            <h1>Nombre del producto que debe ser cargado de forma dinamica junto la foto de arriba</h1>
                        </div>
                        <div class="banner-description">
                            <!-- <p>Imprima los documentos del cliente {{ $product->customer->name }} con ID No. {{ $product->customer->identifier }} y producto No. {{ $product->identifier }}</p> -->
                            <p>Imprima los documentos del cliente con ID No.  y producto No. </p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- @stop -->

        <!-- @section('back') -->
            <!-- <a href="{{ route('home') }}" class="btn-back"> -->
            <a href="/home" class="btn-back">
                Inicio
            </a>
        <!-- @stop -->

        <!-- @if (isset($productParameters['cross_sell']) && $product->version > '1') -->
            <!-- @section('reject') -->
                <div class="text-right">
                    <!-- <a href="{{ route('cross.sell.index', $product->id) }}" class="btn-back"> -->
                        <a href="/crossSell" class="btn-back">
                        Venta cruzada
                    </a>
                </div>
            <!-- @stop -->
        <!-- @endif -->

        <!-- @section('content-fluid') -->

            <div class="row">
                <div class="col-12 col-sm-9">
                    <bank-account-component></bank-account-component>
                    <upload-component></upload-component>
                    <documents-component></documents-component>
                    <activities-component></activities-component>
                    <!-- @include('modules.product.' . $product->type)

                    @if (count($uploadTypes) > 0)

                        @hasanyrole(env('ROL_GESTOR') . '|' . env('ROL_CIF'))
                            @include('modules.product.upload')
                        @endhasanyrole

                        @include('modules.product.documents')
                    @endif

                    @hasanyrole(env('ROL_CIF') . '|' . env('ROL_FIRMAS'))
                        @include('modules.product.activities')
                    @endhasanyrole -->
                </div>
                <div class="col-12 col-sm-3">
                    <information-component></information-component>
                    <cifStatus-component></cifStatus-component>
                    <comments-component></comments-component>
                    <!-- @include('modules.product.information')

                    @role(env('ROL_CIF'))
                        @include('modules.product.cifStatus')
                    @endrole

                    @include('modules.product.comments') -->
                </div>
            </div>
<!-- 
        @endsection

        @section('scripts')
            @include('modules.product.partials._scripts')
        @stop -->

    </div>
</template>
