<template>
  <div>
    <div
      class="container-fluid"
      style="background-image: url('/design/index/card0.jpeg'); margin-top: -60px;"
    >
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img src="/design/index/bank_account.png" style="margin-top: 50px;">
          </div>
          <div class="banner-title">
            <h1>Formulario de solicitud de Cuenta de Ahorro</h1>
          </div>
          <div class="banner-description">
            <p
              v-if="!this.flow && !this.paso"
            >Complete la información del cliente para terminar el proceso de solicitud de cuenta de ahorro asistida</p>
            <p
              v-if="(this.flow  && this.flow.step == '1' && !this.paso) "
            >pasa1 </p>
          </div>
        </div>
      </div>
      <hr class="cintaGris">
    </div>

    <div class="container" style="position:relative; " :key="componentKey">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6" style="left: -7px;" >
            <div v-if="this.irAtras()" >
              <!-- <form class="form-horizontal" role="form"  > -->
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back" id="btnReturn" v-on:click="regresar();">
                      <a class="fas fa-backward i"></a>
                    </button>
                  </div>
                </div>
              <!-- </form> -->
            </div>
            <div v-if="!this.paso && !this.flow">
              <form class="form-horizontal" role="form" method="POST" id="return-form" v-on:click="home();">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a>Inicio</a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- <return-component
            :paso="this.paso"
            :flow="this.flow"
            ></return-component> -->
          </div>
          <div v-if="this.steps > 0" class="col-6"> <!--   -->
            <exit-component 
              :producto="'bank_account'" 
              :proceso="'exit_process'"
              :parametrosproceso="'exit_process_params'"
              :opciones="this.opciones"
            >
            </exit-component>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding: 50px 15px 8rem">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9">
            <progress-component></progress-component>
           <!--  <pre v-if="this.flow">flow: {{this.flow }}</pre>
            <pre v-if="this.paso">paso: {{this.paso }}</pre> -->
            <flow-account-component
              :lists="lists"
              :flow="flow"
              v-on:EventoPadre="OyenteClickAbuelo"
            ></flow-account-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 

<script>
export default {
  props: ["lists", "flow"],
  data() {
    return {
        steps: 0,
      lista: this.lists,
      ciudades: null,
      paso: this.paso,
      producto: null,
      codigoProducto: null,
      idCliente: null,
      limite: null,
        pasosEnviar: {
          paso: "",
          respuesta: {}
        },
        atras: null,
        opciones : { 
               'TA01': 'Asesor'
          },
          componentKey: 0,
    };
  },
  mounted(){
    /* $("#btnReturn").attr('disabled','disabled'); */
  },
  created: function() {
      
        if (this.paso) {
          /*   console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso)) */
          if (this.paso.respuesta.data) {
            /* if(this.paso.respuesta.data.id){ */
            this.steps = parseInt(this.paso.respuesta.data.step)
            // // // alert("si paso")
          } else {
            // // alert("no paso")
            this.steps = parseInt(this.paso.respuesta.step)
          }
          urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // // alert("id desde paso: " + JSON.stringify(id))
        }else if(this.flow){
            //// alert(JSON.stringify(this.flow.step))
            this.steps = parseInt(this.flow.step)
          }else{
            this.steps = 0
          }
    //this.iniciar();
  },
  computed: {
    iniciar: function() {
      //// alert(this.flow.product_information.original.product.name);
      if (this.flow) {
        //// alert("flow");
        this.lista = this.lists;
        this.ciudades = this.lists.cities;
        this.paso = this.paso;
        this.steps = this.paso.respuesta.step;
        this.producto = this.flow.product_information.original.product.name;
        this.codigoProducto = this.flow.product_information.original.product.code;
        this.idCliente = this.flow.identifier;
        this.limite = this.flow.product_information.original.product.limit;
      } else if (this.paso) {
       // // alert("paso");
        this.lista = this.lists;
        this.ciudades = this.lists.cities;
        this.paso = this.paso;
        this.steps = this.paso.respuesta.step;
        this.producto = this.product_information.original.product.name;
        this.codigoProducto = this.product_information.original.product.code;
        this.idCliente = this.identifier;
        this.limite = this.product_information.original.product.limit;
      }
    }
  },
  methods: {
    OyenteClickAbuelo: function(param1) {
      //// alert("abuelo");
      this.$emit("EventoPadre", param1);
      this.paso = param1;
       
        if (this.paso) {
          /*   console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso)) */
          if (this.paso.respuesta.data) {
            /* if(this.paso.respuesta.data.id){ */
            this.steps = parseInt(this.paso.respuesta.data.step)
            // // alert("si paso")
          } else {
            // // alert("no paso")
            this.steps = parseInt(this.paso.respuesta.step)
          }
         /*  urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin) */
          // // alert("id desde paso: " + JSON.stringify(id))
        }else if(this.flow){
            //// alert(JSON.stringify(this.flow.step))
            this.steps = parseInt(this.flow.step)
          }else{
            this.steps = 0
          }
     //// alert("Aqui llenamos un paso: "+JSON.stringify(this.paso))
    },
      regresar: function () {
        document.getElementById("btnReturn").disabled = true;
        
        var urlLogin = "";
        var id

        if (this.paso) {
            console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso))
          if (this.paso.respuesta.data) {
            id = this.paso.respuesta.data.id
            // alert("si paso")
          } else {
            // alert("no paso")
            id = this.paso.respuesta.id;
          }
          urlLogin = "/regresar-un-paso/" + id; 
          this.back(urlLogin)
          // alert("id desde paso: " + JSON.stringify(id))
        } else if (this.flow) {
          id = this.flow.id;
          var urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // alert("id desde flow: " + id)
        } else {
          // alert("Ocurrio un error con paso y flow.")
        }
      },
      back: function (url) {
        axios
          .post(url)
          .then(response => {
            this.pasosEnviar.respuesta = response.data.data;

            if (response.data.data.step <= 0) {
              //console.log("esto es lo que temos antes de enviar un paso atras: " + JSON.stringify(response))
              // alert("lo enviara aqui")
              this.pasosEnviar.paso = "search"
            } else if (response.data.data.step === 1) {
              this.pasosEnviar.paso = "first"
            } else if (response.data.data.step === 2) {
              this.pasosEnviar.paso = "second"
            } else if (response.data.data.step === 3) {
              this.pasosEnviar.paso = "third"
            } else if (response.data.data.step === 4) {
              this.pasosEnviar.paso = "fourth"
            } else if (response.data.data.step === 5) {
              this.pasosEnviar.paso = "fifth"
            } else {
              console.log("Ocurrio un error")
            }
            this.forceRerender()
            this.steps = this.steps - 1 ;
            // alert(this.steps)
            //// alert(this.pasosEnviar.paso)
            //console.log(JSON.stringify(response.data.data.step))
            this.validated = false;
            document.getElementById("btnReturn").disabled = false;
            this.$emit('update', this.pasosEnviar);
            //return this.atras
          })
          .catch(e => {
            // // alert(e)
          });
      },
      
      home: function(){
        location.href = "/index";
      },
      irAtras: function(){
        // // alert("debería actualzuar para atras")
        if(this.steps > 1){
          //// // alert("mayor")
          return true;
        }else{
          //// // alert("menor")
          return false;
        }
      },
      forceRerender: function() {
        /* // // alert("debería actualziar")
        this.componentKey += 1;   */
      }
  }
};
</script>