<template>
    <div>
        <!-- <menu-component></menu-component> -->
        <div class="container-fluid" style="background-color: #EBEBEB">
            <div class="container">
                <div class="banner">
                    <div class="banner-image">
                        <img src="/design/index/assistant.png">
                    </div>
                    <div class="banner-title">
                        <h1>Bienvenido al Asistente Davivienda</h1>
                    </div>
                    <div class="banner-description">
                        <p>Seleccione el producto que desea solicitar para su cliente</p>
                    </div>
                </div> 
            </div>
            <hr class="cintaGris">
        </div>

        

        <!-- @section('back')
            @if(session()->has('bank_card_id'))
                <a href="{{ route('bank.card.index') }}" class="btn-back">
                    Solicitud en trámite <i class="fas fa-forward" style="margin-left: 20px"></i>
                </a>
            @elseif(session()->has('bank_account_id'))
                <a href="{{ route('bank.account.index') }}" class="btn-back">
                    Solicitud en trámite <i class="fas fa-forward" style="margin-left: 20px"></i>
                </a>
            @endif
        @stop -->
        <div class="container" style="position: relative; min-height: 60px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="container-fluid">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 form-group">
                                                <!-- <h2>Seleccione el producto:</h2> -->
                                            </div>
                                        </div>
                                        
                                        <div class="row justify-content-center" style="margin-bottom: 2rem; margin-top: 2rem">
                                            <div class="col-6" v-if="obRoles.rol1 > 0">
                                                
                                                <a @click="ruta('card')" class="btn davivienda-file  margenes">
                                                    <img src="/design/index/bank_card.png">
                                                    <div class="col-12 cintaRoja"><p>Tarjeta de Crédito</p></div>
                                                    <!-- <p>Tarjeta de Crédito</p> -->
                                                    <!-- <div class="cintaRoja"></div> -->
                                                    
                                                </a>
                                                
                                            </div>

                                            <div class="col-6 " v-if="obRoles.rol2 > 0">
                                                <a @click="ruta('account')" class="btn davivienda-file margenes">
                                                    <img src="/design/index/bank_account.png">
                                                    <div class="col-12 cintaRoja"><p>Cuenta de Ahorro</p></div>
                                                    <!-- <p class=""> Cuenta de Ahorro</p> -->
                                                </a>
                                            </div>

                                            <div class="col-6" v-if="obRoles.rol3 > 0" >
                                                <a @click="ruta('auto')" class="btn davivienda-file margenes" >
                                                    <img src="/design/index/bank_auto.png">
                                                    <div class="col-12 cintaRoja"><p>Préstamo de Auto</p></div>
                                                    
                                                </a>
                                            </div>

                                            

                                            <div class="col-6" v-if="obRoles.rol1 > 0">
                                                <a @click="ruta('family')" class="btn davivienda-file margenes">
                                                    <img src="/design/index/insurance_safe_family.png">
                                                    <div class="col-12 cintaRoja"><p>Familia Segura</p></div>
                                                    <!-- <p>Familia Segura</p> -->
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({

        roles: [],
        exis: Boolean = false,
        obRoles: {
            rol1: 0,
            rol2: 0,
            rol3: 0,
        }
        
    }),
    methods: {
        ruta(dir) {
            this.$router.push({ name: dir });
        },
        load: function(){
            this.roles=JSON.parse(sessionStorage.getItem("datos"))
            for(let x of this.roles){
                if(parseInt(x.id) === 1){
                    this.obRoles.rol1+=1
                }
                if(parseInt(x.id) === 2){
                    this.obRoles.rol2+=1
                }
                if(parseInt(x.id) === 3){
                    this.obRoles.rol3+=1
                }
             }
        }
    },
    created: function(){
        this.load();
    }
}
</script>