<template>
    <div>
            <!-- @extends('layouts.app') -->
        <div class="container-fluid" style="background-color: #EBEBEB">
            <div class="container">
                <div class="banner">
                    <div class="banner-image">
                        <img src="design/index/assistant.png">
                    </div>
                    <div class="banner-title">
                        <h1>Consulta la información de productos</h1>
                    </div>
                    <div class="banner-description">
                        <p>Puede revisar la información de los productos que han sido aprobados por el flujo de cuenta de ahorro asistida</p>
                    </div>
                </div>
            </div>
            <hr class="cintaGris">
        </div>
    <!-- @stop -->

    <!-- @section('banner') -->
        
    <!-- @stop -->

    <!-- @section('back') -->
        <!-- <a href="{{ route('home') }}" class="btn-back"> -->
        <div class="container" style="position: relative; min-height: 60px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <router-link :to="{ name: 'home' }" class="btn-back">
                            Inicio    
                        </router-link>
                    </div>
                    <div class="col-6"></div>
                </div>

                <div class="row" style="padding-top: 30px">
                    <div class="col-12 form-group">
                        <h2>Listado de clientes:</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        Filtros
                    </div>
                </div>

                <form class="form-horizontal" role="form" method="GET" id="form-query">

                    <div class="row">
                        <div class="col-2">
                            <text-input-component
                                :type="'to'"
                                :classes="'date form-control'"
                                :name="'from'"
                                :max="'15'" 
                                :min="'0'"
                                :placeholder="'Desde'"
                            ></text-input-component>
                            <!-- <div class="form-group">
                                @include('modules._textInput', [
                                    'name' => 'from',
                                    'placeholder' => 'Desde',
                                    'value' => $request->from,
                                    'label' => 'Desde',
                                    'classes' => 'date',
                                ]) -->
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <text-input-component
                                    :type="'to'"
                                    :classes="'date form-control'"
                                    :name="'customer'"
                                    :max="'15'" 
                                    :min="'0'"
                                    :placeholder="'Hasta'"
                                ></text-input-component>
                                <!-- @include('modules._textInput', [
                                    'name' => 'to',
                                    'placeholder' => 'Hasta',
                                    'value' => $request->to,
                                    'label' => 'Hasta',
                                    'classes' => 'date',
                                ]) -->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <text-input-component
                                    :type="'text'"
                                    :classes="'form-control validate-num-dash'"
                                    :name="'customer'"
                                    :max="'15'" 
                                    :min="'0'"
                                    :placeholder="'Identidad'"
                                ></text-input-component>
                                <!-- @include('modules._textInput', [
                                    'name' => 'customer',
                                    'placeholder' => 'Identidad',
                                    'value' => $request->customer,
                                    'label' => 'Identidad'
                                ]) -->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <text-input-component
                                    :type="'text'"
                                    :classes="'form-control'"
                                    :name="'product'"
                                    :max="'15'" 
                                    :min="'0'"
                                    :placeholder="'No. del producto'"
                                ></text-input-component>
                            <!-- <div class="form-group">
                                @include('modules._textInput', [
                                    'name' => 'product',
                                    'placeholder' => 'No. del producto',
                                    'value' => $request->product,
                                    'label' => 'Producto'
                                ]) -->
                            </div>
                        </div>
                        <div class="col-2">
                            <!-- @role(env('ROL_CIF')) -->
                            <div class="form-group">
                                <single-select-component 
                                    :name="'audit'"
                                    :placeholder="'Estado del expediente'"
                                    :classes="'form-control'"
                                    :options= datos
                                    :required="true"
                                    :enabled="true"
                                ></single-select-component>
                                <!-- <div class="form-group">
                                    @include('modules._singleSelect', [
                                        'name' => 'audit',
                                        'placeholder' => 'Estado del expediente',
                                        'default' => $request->audit,
                                        'options' => $auditParameters['cif_types'],
                                    ]) -->
                            </div>
                            <!-- @endrole -->
                        </div>
                            <div class="col-2">
                            <div class="row">
                                <div class="col-4 form-group">
                                    <button class="btn btn-davivienda-red btn-davivienda-update-gray" id="submit" style="padding: 4px 11px 0;">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                </div>
                                <div class="col-4 form-group">
                                    <button class="btn btn-davivienda-green btn-davivienda-update-gray" id="export">
                                        <i class="fas fa-file-excel"></i>
                                    </button>
                                </div>

                                <div class="col-4 form-group">
                                    <!-- <a href="{{ route('query.index') }}" class="btn btn-davivienda-gray btn-davivienda-update-gray"> -->
                                    <a href="#" class="btn btn-davivienda-gray btn-davivienda-update-gray">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-12">
                        <table id="account-customers" class="davivienda-datatables table-striped">
                            <thead>
                                <tr>
                                    <th style="width:12%">Identidad</th>
                                    <th style="width:12%">Nombre</th>
                                    <th style="width:12%">Número del producto</th>
                                    <th style="width:12%">Tipo de producto</th>
                                    <th style="width:12%">Fecha de aprobación</th>
                                    <th style="width:12%">Estado del expediente</th>
                                    <th style="width:12%">Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- @foreach($products as $product) -->
                                    <tr>
                                        <td class="text-center">
                                            <!-- {{ $product->customer->identifier }} -->
                                            0801199001234
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $product->customer->name }} -->
                                            Pedro Peréz
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $product->identifier }} -->
                                            0513523651233
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ product_name($product->type) }} -->
                                            Cuenta de Ahorro
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $product->created_at->format('Y/m/d') }} -->
                                            2019/04/10
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $auditParameters['cif_types'][$product->audits()->where('type', 'cif')->first()->name] }} -->
                                            Pendiente
                                        </td>
                                        <td class="text-center" style="padding: 10px">
                                            <!-- <a href="{{ route('show.product', $product->id) }}" class="btn btn-query"> -->
                                                <a href="/product" class="btn btn-query">
                                                <i class="fas fa-address-book"></i> Ver producto
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <!-- {{ $product->customer->identifier }} -->
                                            0801199056329
                                        </td> 
                                        <td class="text-center">
                                            <!-- {{ $product->customer->name }} -->
                                            Juan Lopéz
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $product->identifier }} -->
                                            05135599663
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ product_name($product->type) }} -->
                                            Familia Segura
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $product->created_at->format('Y/m/d') }} -->
                                            2019/02/10
                                        </td>
                                        <td class="text-center">
                                            <!-- {{ $auditParameters['cif_types'][$product->audits()->where('type', 'cif')->first()->name] }} -->
                                            Completo
                                        </td>
                                        <td class="text-center" style="padding: 10px">
                                            <!-- <a href="{{ route('show.product', $product->id) }}" class="btn btn-query"> -->
                                                <a href="/product" class="btn btn-query">
                                                <i class="fas fa-address-book"></i> Ver producto
                                            </a>
                                        </td>
                                    </tr>
                                <!-- @endforeach -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- @stop -->

    <!-- @section('content-fluid')  -->

        

        

    <!-- @endsection -->

    <!-- @section('scripts') -->
        <!-- @include('partials._scripts') -->
        <!-- @include('bank.account.partials._queryScripts') -->
    <!-- @stop -->
    </div>
</template>
<script>
    export default {
        data() {
            return {
                datos: []
            }
        },
        created() {    
            //alert('CInponete creado');
            this.getDia();
        },
        methods: {
            getDia: function(){
                //alert('response')
                /* var url ="../../../../../../app/Core/GetPreFilledData.php" */
                var url = 'http://localhost/js/meses.php'; //"/GetPreFilledData.php"
                axios
                    .get(url)
                    .then(response =>{
                        this.datos = response.data;
                        //alert(JSON.stringify(response.data))
                    })
                    .catch(e => {
                        alert(e)
                    })
            }
        }
    }
/* 
    export default {
        data() {
            return {
                datos: [
                    {
                        id:1,
                        descripcion:'descripcion1'
                    },
                    {
                        id:2,
                        descripcion:'descripcion2'
                    }
                ]
            }
        }   
    } */
</script>