<template>
  <div>
    <div class="content-wrapper">
      <menu-component></menu-component>
      <header-component></header-component>
      <router-view></router-view>
      <footer-component></footer-component>
    </div>
    
  </div>
</template> 