<template>
    <div>
        <div class="rejection-container">
            <div class="rejection-toggle">
                <button id="rejection-toggle">
                    <!-- <i id="rejection-icon" class="fas fa-plus-circle"></i> -->
                    <a id="rejection-icon" class="fas fa-plus-circle"></a>
                    <span>Rechazar solicitud</span>
                </button>
            </div>

            <div class="rejection-content" style="display: none;">
                <div class="row">
                    <div class="col-12">
                        <form 
                            class="form-horizontal" 
                            id="formulario-salir" 
                        >
                                <div class="row form-group">
                                    <div class="col-12 text-left">
                                        <select 
                                        class="form-control" 
                                        name="reject" 
                                        id="reject"
                                        placeholder="Seleccione el motivo..." 
                                        >
                                            <option value="">Seleccione el motivo...</option>
                                            <option v-for="(dato , index) in p_opciones" :key="index" :value="index">
                                                {{ dato }}
                                            </option>
                                        </select>
                                        <span v-show="errors.has('reject')" class="help-block">
                                            <strong>{{ errors.first('reject') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            <!-- @endif -->
                            <div class="row text-center">
                                <div class="col-12">
                                    <button type="button" class="btn btn-davivienda-red "  style="font-size: 1.2rem; padding: 8px 30px;"  v-on:click="SendData();"> <!-- v-on:click="SendData();" -->
                                    <!-- <button type="button" class="btn btn-davivienda-red "  style="font-size: 1.2rem; padding: 8px 30px;" v-on:click="SendData();" > -->
                                        Rechazar solicitud
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'producto',
            'proceso',
            'parametrosproceso',
            'opciones'

        ],
        data() {
            return {
                
                lista: this.lists,
                p_producto: this.producto,
                p_proceso: this.proceso,
                p_parametrosproceso: this.parametrosproceso,
                p_opciones: this.opciones
            } 
        },
        mounted(){
            $(document).ready(function() {

                /* $(".rejection-content").hide(); */
                $( "#rejection-toggle" ).click(function() {
                    $( ".rejection-content" ).slideToggle( "slow" );

                    let icon = $("#rejection-icon");

                    if(icon.hasClass('open-icon')) {
                        icon.removeClass('open-icon');
                        icon.addClass('close-icon');
                    } else {
                        icon.removeClass('close-icon');
                        icon.addClass('open-icon');
                    }
                });
            });
        },
        methods:{
            SendData: function() {

                this.$swal({
                    title: '¿Está seguro?',
                    text: "Una vez rechazada la solicitud debe ingresarla de nuevo",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#ED1C27',
                    cancelButtonColor: '#959595',
                    confirmButtonText: 'Si, rechazarla',
                    cancelButtonText: 'No, cancelar',
                }).then((result) => {
                    //alert(JSON.stringify(result))
                     if (result.value){
                         var id = document.getElementById("reject").value;
                         //alert(id)
                        if(id != ""){
                            var urlLogin = "/salir/" + this.p_producto + "/" + this.p_proceso + "/" + this.p_parametrosproceso;//"/flujo-de-prueba/2"; 
                            axios
                            .post(urlLogin)
                            .then(response => {
                                //console.log(JSON.stringify(response))
                                //alert("salio")
                                location.href = '/index'; 
                            })
                            .catch(e => {
                                /* this.$setErrorsFromResponse(e.response.data.errors); */
                                
                            }); 
                        }  
                        else{
                            this.$swal({
                                title: 'ERROR',
                                text: "Debe seleccionar un motivo",
                                type: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#959595',
                                confirmButtonText: 'Continuar',
                            })
                        }
                    }
                });
           /*      var urlLogin = "/salir/" + this.p_producto + "/" + this.p_proceso + "/" + this.p_parametrosproceso;//"/flujo-de-prueba/2"; 
                //alert(urlLogin)
                 axios
                    .post(urlLogin)
                    .then(response => {
                        //console.log(JSON.stringify(response))
                        //alert("salio")
                        location.href = '/index'; 
                    })
                    .catch(e => {
                        alert(e)
                        
                    });   */
            }
        }    
    }
</script>