<template>
  <component
    :is="flowStep"
    @updateFlow="nextStep"
    :v-model="lists"
    :lista="lists"
    :paso="this.verifica"
    v-on:EventoHijo="OyenteClickPadre"
  />
</template>

<script>
import search from "../views/bank/auto/form/Search.vue";
import first from "../views/bank/auto/form/First.vue";
import second from "../views/bank/auto/form/Second.vue";
import third from "../views/bank/auto/form/Third.vue";
import fourth from "../views/bank/auto/form/Fourth.vue";
import fifth from "../views/bank/auto/form/Fifth.vue";
import calculator from "../views/bank/auto/form/Calculator.vue";
import query from "../views/bank/auto/form/Query.vue";

export default {
  props: [ "lists", "flow"],

  data() {
    return {
      step: "",
      component: search,
      lista: this.lists,
      paso: this.flow,
      verifica: [],
    };
  },
  components: {
    search,
    first,
    second,
    calculator,
    third,
    fourth,
    fifth,
    query
  },
    computed: {
    flowStep() {
      //alert("para saber en que paso estas o iras")
      //this.verifica = this.verifica + 1;
      //alert("Este es verifica: "+this.verifica);
      //alert("Este es flow: "+ JSON.stringify(this.flow));
      //alert("Este es paso: "+ JSON.stringify(this.paso));
      
      if (this.flow && this.verifica == "") {
        //alert("Esto contiene el paso cuando hay flow: "+JSON.stringify(this.flow))
        //console.log("Desde flow: " + JSON.stringify(this.paso))
        this.verifica=JSON.stringify(this.paso);
        if (this.flow.step === "1") {
            ////alert("1: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = first;
          } else if (this.flow.step === "2") {
            ////alert("2: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = second;
          } else if (this.flow.step === "3") {
            //("3: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = third;
          } else if (this.flow.step === "aprobado") {
            ////alert("4: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = query; // aquiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii modifique
          } else if (this.flow.step === "4") {
            //("5: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = fourth;
          }else if (this.flow.step === "5") {
            //("5: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = fifth;
          } else {
            ////alert("search: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = search;
          } 
      }else{
        if(this.verifica != ""){
          ////alert("entro al else: ")
          this.component = this.verifica.paso;
          ////alert("else: verifica asignará: " + JSON.stringify(this.component))
        }else{
          ////alert("ultimo else: deberìa ser search: " + JSON.stringify(this.component))
          return this.component;
        }
      }

      ////alert("parece que no entro a ninguna condiciòn: " + JSON.stringify(this.component))
      return this.component;
    }
  },
  methods: {
    nextStep(step) {
      ////alert("donde era 5, pasara el supuesto paso...... ")
      ////alert(step.paso)
      this.component = step.paso;
      ////alert("donde era 5, pasara el supuesto componente...... ")
      ////alert(this.component)
      return this.component;
    },
    OyenteClickPadre: function(param1) {
     ////alert("Oyente padre")

      this.$emit("EventoPadre", param1);
      ////alert(JSON.stringify(param1))
      if(param1){
        //alert("Esto contiene el paso cuando hay paso: "+JSON.stringify(param1))
        this.verifica = param1;
      }else{
        this.verifica == search;
      }
      ////alert(JSON.stringify(param1))
    },
    setValue: function(value) {
        this.value = value;
       // alert("el valor modificado por el padre es: " + JSON.stringify(this.value))
        this.verifica = this.value
        this.component = this.value.paso
       // alert(this.component)
        return this.component;
    }
  },
  created: function() {
    this.$parent.$on('update', this.setValue);
  }
};
</script> 