<template>
  <component :is="flowStep" :data="data" @updateFlow="nextStep"/>
</template>

<script>
  import search from '../views/test/search.vue';
  import first from '../views/test/first.vue';
  import second from '../views/test/second.vue';
  import third from '../views/test/third.vue';
  import fourth from '../views/test/fourth.vue';

  export default {
    props: ['data'],

    data() {
      return {
        step: '',
        component: search,
      }
    },

    components: {
      search,
      first,
      second,
      third,
      fourth,
    },

    computed: {
      flowStep() {
        return this.component
      }
    },

    methods: {
      nextStep(step) {
        this.component = step;

        return this.component;
      }
    }

    // computed: {
    //   loader() {
    //     if (!this.type) {
    //       return null
    //     }
    //     return () => ''
    //   },
    // },
    // mounted() {
    //   this.loader()
    //     .then(() => {
    //       this.component = () => ''
    //     })
    //     .catch(() => {
    //       this.component = () => ''
    //     })
    // },
  }
</script>