<template>
  <component :is="flowStep" @updateFlow="nextStep" :v-model="lists" :lista="lists" :paso="this.verifica"
    v-on:EventoHijo="OyenteClickPadre" />
</template>

<script>
  import Vue from 'vue'
  import search from "../views/bank/account/form/Search.vue";
  
  import first from "../views/bank/account/form/First.vue";
  
  import second from "../views/bank/account/form/Second.vue";
  
  import third from "../views/bank/account/form/Third.vue";
  
  import fourth from "../views/bank/account/form/Fourth.vue";
  
  import fifth from "../views/bank/account/form/Fifth.vue";
  




  export default {
  props: [
      "lists", 
      "flow", 
    ],

  data() {
    return {
      step: "",
      component: search,
      lista: this.lists,
      paso: this.flow,
      verifica: [],
      planes: this.plans,
      productos: this.products,
      jsonPlans2: this.jsonplans,
      parent2: this.parent,
    };
  },

  components: {
    search,
    first,
    second,
    third,
    fourth,
    fifth,
  },

  computed: {
    flowStep({ updateFlow }) {
      if (this.flow && this.verifica == "") {
        // alert("Esto contiene el paso cuando hay flow: "+JSON.stringify(this.flow))
        // console.log("Desde flow: " + JSON.stringify(this.paso))
        this.verifica=JSON.stringify(this.paso);
        // alert("esto enviaria?: 5"+(this.verifica))
     // alert(JSON.stringify(this.flow))
        if (this.flow.step === "1") {
            // alert("1: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = first;
          } else if (this.flow.step === "2") {
            // alert("2: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = second;
          } else if (this.flow.step === "3") {
            // alert("3: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = third;
          } else if (this.flow.step === "4") {
            // alert("4: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = fourth;
          } else if (this.flow.step === "5") {
            // alert("5: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = fifth;
          } else if(this.flow.step === "0"){
            // alert("search: paso que se asignará: " + JSON.stringify(this.flow.step))
            this.component = search;
          }else{
            this.component = first
          }
      }else{
        if(this.verifica != ""){
          // alert("entro al else: ") 
          this.component = this.verifica.paso;
          // alert("else: verifica asignará: " + JSON.stringify(this.component))
        }else{
          // alert("ultimo else: deberìa ser search: " + JSON.stringify(this.component))
          return this.component;
        }
      }

      // alert("esto enviaria?: "+(this.verifica))
      return this.component;
    }
  },

  methods: {
    nextStep(step) {
      // alert("donde era 5, pasara el supuesto paso...... ")
      // alert(step.paso)
      this.component = step.paso;
      // alert("donde era 5, pasara el supuesto componente...... ")
      // alert(this.component)
      return this.component;
    },
    OyenteClickPadre: function(param1) {
     // alert("Oyente padre")

      this.$emit("EventoPadre", param1);
      // alert(JSON.stringify(param1))
      if(param1){
        // alert("Esto contiene el paso cuando hay paso: "+JSON.stringify(param1))
        this.verifica = param1;
      }else{
        this.verifica == search;
      }
    },
    
    setValue: function(value) {
        this.value = value;
       // console.log("el valor modificado por el padre es: " + JSON.stringify(this.value))
        this.verifica = this.value
        // alert("esto enviaria? 2 : "+(this.verifica))
        this.component = this.value.paso
        // alert(this.component)
        return this.component;
    }
  },
  created: function() {
    this.$parent.$on('update', this.setValue);
  }
};
</script>