<template>
    <footer style="z-index: 2!important;">
        <div class="container">
            <div class="return-container">
                <div class="return">
                    <a href="#logo-container" class="smooth-scroll">
                        <img src="/design/footer/return.png">
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 footer-logo">
                    <img src="/design/header/logo.png">
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        
    }
</script>