<template>
    <div>
        <div class="navbar-container" id="logo-container">
            <div class="navbar-overflow">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a class="navbar-brand">
                            <img src="/design/header/logo.png">
                        </a>
                    </div>
                </nav>
            </div>
            <div class="navbar-motive">
                <img src="/design/header/_motive.png" style="z-index: 2;">
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>