<template>
  <div>
    <banner-component></banner-component>

    <div class="container" style="position:relative; min-height: 60px">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <return-component></return-component>
          </div>
          <div class="col-6">
            <exit-component></exit-component>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding: 50px 15px 8rem">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9">
            <progress-component></progress-component>

            <flow-component></flow-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      }
    }
  }
</script>