<template>

    <div>
		<div class="sidebar ">
            <h1>Menú</h1>
            <img src="/design/favicon/ico2.ico" alt="" class="menu-bar">
            <ul>
                <li class="padre"><img src="/design/nav/Solicitarproductos32x32.ico" class="imgPadre"><a>Solicitar Productos</a><img src="/design/favicon/motive_right.png" class="rotara"></li>
        
                <li class="hijos"><img src="/design/favicon/motive_right.png"><router-link :to="{ name: 'card' }"><a>Tarjetas de Crédito</a></router-link></li>
                <li class="hijos"><img src="/design/favicon/motive_right.png"><router-link :to="{ name: 'account' }"><a>Cuentas de Ahorro</a></router-link></li>
                <li class="hijos"><img src="/design/favicon/motive_right.png"><router-link :to="{ name: 'auto' }"><a>Préstamos</a></router-link></li>
                <li class="hijos"><img src="/design/favicon/motive_right.png"><router-link :to="{ name: 'family' }"><a>Familia Segura</a></router-link></li>
                
                <li><img src="/design/nav/Misclientes32x32.ico" class="imgPadre"><router-link :to="{ name: 'query' }"><a>Mis Clientes</a></router-link></li>
                <li><img src="/design/nav/Mispendientes32x32.ico" class="imgPadre"><router-link :to="{ name: 'query' }"><a>Mis Pendientes</a></router-link></li> 
                <li><img src="/design/nav/Consultas32x32.ico" class="imgPadre"><router-link :to="{ name: 'query' }"><a>Consultas</a></router-link></li>
            </ul>
        </div> 
	</div>
</template>

 
<script>
 import $ from "jquery";

export default {
    name: 'welcome',
    data() {
        return 0;
       
  //Call the function on load and resize
//   $(window).on('ready load resize orientationchange',function(){responsive();});
        // $(window).resize(function(){     

        // if ($('header').width() == 360 ){

        //         $('.sidebar').toggleClass('abrir');
        //         $('.iconos').toggleClass('ico');

        // }

        // });
    },
    mounted: function() {
        $('.menu-bar').on('click', function(){
            $('.sidebar').toggleClass('abrir');
            $('.imgPadre').toggleClass('ico');
        });
        
        $('.padre').on('click', function(){
            $('.hijos').toggleClass('desplegar');
            $('.rotara').toggleClass('rotar');
        });

        //  $(function() {

            // $(window).resize(function(){

            //     if ($(window).width() <= 1024) {  

            //         $('.sidebar').toggleClass('abrir');
            //             $('.iconos').toggleClass('ico');

            //     }     

            // });
            // window.responsive = function responsive() {
            //     //get the width of the window
            //     var width = $(window).width();

            //     if (width > 400 && width < 360) {
            //             $('.sidebar').toggleClass('abrir');
            //             $('.iconos').toggleClass('ico');
            //     }
            // }

        // });
    } 

    
}

</script>



