<template>
    <div class="row mb-4">
        <div class="col-12">
            <select v-model="cif_audit.name" v-on:change="update(product.id, cif_audit.id)" class="product-attribute-update">
                <option v-for="(type, index) in cif_audit_types" :value="index">
                    {{ type }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'cif_audit',
            'product',
            'cif_audit_types',
        ],

        data() {
            return {
            }
        },

        methods: {
            update: function (product, cif_audit) {
                axios.post('/productos/actualizar-status', {
                    product: product,
                    audit: cif_audit,
                    name: this.cif_audit.name
                })
                    .then(response => {
                        this.$toasted.show('<i class="fas fa-check"></i> Se actualizó el estatus', {
                            type: 'success'
                        })
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        this.$toasted.show('<i class="fas fa-times"></i>' + e, {
                            type: 'error'
                        })
                    })
            }
        },
    }
</script>
