<template>
    <div class="row">
        <div class="col-12">
            <select v-model="upload.type" v-on:change="update(product.id, upload.id)" class="product-attribute-update">
                <option v-for="(type, index) in upload_types" :value="index">
                    {{ type }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'upload',
            'product',
            'upload_types',
        ],

        data() {
            return {
            }
        },

        methods: {
            update: function (product, upload) {
                axios.post('/productos/actualizar-tipo-de-archivo', {
                    product: product,
                    upload: upload,
                    type: this.upload.type
                })
                    .then(response => {
                        this.$toasted.show('<i class="fas fa-check"></i> Se actualizó el tipo de producto', {
                            type: 'success'
                        })
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        this.$toasted.show('<i class="fas fa-times"></i>' + e, {
                            type: 'error'
                        })
                    })
            }
        },
    }
</script>
