<template>
    <div class="row">
        <div class="col-12">
            <select v-model="upload_audit.name" v-on:change="update(upload.id, upload_audit.id)" class="product-attribute-update" :disabled="disabled">
                <option v-for="(type, index) in upload_audit_types" :value="index">
                    {{ type }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'upload_audit',
            'upload',
            'upload_audit_types',
        ],

        data() {
            return {
                disabled: false
            }
        },

        methods: {
            update: function (upload, upload_audit) {
                axios.post('/productos/actualizar-status-de-archivo', {
                    upload: upload,
                    audit: upload_audit,
                    name: this.upload_audit.name
                })
                    .then(response => {
                        this.$toasted.show('<i class="fas fa-check"></i> Se actualizó el estatus del documento', {
                            type: 'success'
                        });

                        if (this.upload_audit.name === 'subido') {
                            this.disabled = true;
                        }
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        this.$toasted.show('<i class="fas fa-times"></i>' + e, {
                            type: 'error'
                        })
                    })
            }
        },
    }
</script>
