<template>
    <div style="width: 100%;
        min-height: 100%;
        height: auto !important;
        position: fixed;
        top:0; 
        left:0;
        background: white;
        z-index:1;
        overflow-y: scroll !important;">
        <progress-component :steps=4 :step=2 :title="'Datos de la cotización'"> </progress-component>
         <!-- <pre v-if="this.paso">paso desde calculadora: {{this.paso }}</pre> -->
        <div class="row">
            <div class="col-12 identity-form" id="calculator_form_container">
                <form class="form-horizontal" role="form" id="form">
                    <div class="row">
                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon fas fa-building"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'concessionaire'"
                                                :placeholder="'Concesionaria...'"
                                                :classes="'form-control davivienda-select'"
                                                :options="lista.concessionaireOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('concessionaire')" class="help-block">
                                                <strong>{{ errors.first('concessionaire') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'seller'" :placeholder="'Vendedor...'"
                                                :classes="'form-control davivienda-select'"
                                                :options="lista.sellerOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('seller')" class="help-block">
                                                <strong>{{ errors.first('seller') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Vehículo</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon fas fa-car"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'type_auto'"
                                                :placeholder="'Tipo de vehículo...'"
                                                :classes="'form-control davivienda-select'"
                                                :options="lista.typeAutoOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('type_auto')" class="help-block">
                                                <strong>{{ errors.first('type_auto') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'status_auto'"
                                                :placeholder="'Estado de vehículo...'" :classes="'form-control'"
                                                :options="lista.statusAutoOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('status_auto')" class="help-block">
                                                <strong>{{ errors.first('status_auto') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'year_auto'"
                                                :placeholder="'Año del vehículo...'" :classes="'form-control'"
                                                :options="lista.yearAutoOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('year_auto')" class="help-block">
                                                <strong>{{ errors.first('year_auto') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'auto_brand'"
                                                :placeholder="'Marca del vehículo...'"
                                                :classes="'form-control davivienda-select'"
                                                :options="lista.autoBrandOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('auto_brand')" class="help-block">
                                                <strong>{{ errors.first('auto_brand') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'auto_model'" :max="'40'" :min="'0'"
                                            :placeholder="'Modelo de vehículo'"></text-input-component>
                                        <span v-show="errors.has('auto_model')" class="help-block">
                                            <strong>{{ errors.first('auto_model') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Préstamo</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon fas fa-money-check"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'sale_price'" :min="'0'" :placeholder="'Digite el precio'">
                                        </text-input-component>
                                        <span v-show="errors.has('sale_price')" class="help-block">
                                            <strong>{{ errors.first('sale_price') }}</strong>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'premium'" :max="'9'" :min="'0'"
                                            :placeholder="'Digite la prima'"></text-input-component>
                                        <span v-show="errors.has('premium')" class="help-block">
                                            <strong>{{ errors.first('premium') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row " id="hide-appraisal" style="display: none">
                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'appraisal'" :min="'0'" :placeholder="'Digite el precio de avalúo'">
                                        </text-input-component>
                                        <span v-show="errors.has('appraisal')" class="help-block">
                                            <strong>{{ errors.first('appraisal') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'financing_term'"
                                                :placeholder="'Plazo de financiamiento...'" :classes="'form-control'"
                                                :options="lista.financingTermOptions" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('financing_term')" class="help-block">
                                                <strong>{{ errors.first('financing_term') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'closing_costs'"
                                                :placeholder="'Gastos de cierre...'" :classes="'form-control'"
                                                :options="lista.confirmation" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('closing_costs')" class="help-block">
                                                <strong>{{ errors.first('closing_costs') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <single-select-component :name="'grace_period'"
                                                :placeholder="'Período de gracia...'" :classes="'form-control'"
                                                :options="lista.confirmation" :required="true" :enabled="true">
                                            </single-select-component>
                                            <span v-show="errors.has('grace_period')" class="help-block">
                                                <strong>{{ errors.first('grace_period') }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                                v-on:click="SendData();">CALCULAR</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div id="calculator_result_container" style="display: none">
                  <resultado-auto-component :lista="lista" :paso="this.datosEnviar" v-on:EventoRespuesta="OyenteCalculadora"></resultado-auto-component>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as mylib from "../../../../validation";
export default {
        props: ['lista', 'paso'],
        data() {
            return {
                /* errors: {}, */
                datos: {},

                datosEnviar: {
                    mensaje: "",
                    respuesta: {}
                },
                datosRespose: {},
                test: {},
                objJson: {}
            };
        },
        mounted() {
            $(document).ready(function () {
                $(".davivienda-select").select2({
                    language: "es"
                });

                let type = $('#type_auto');
                let year = $('#year_auto');
                let concessionaire = $('#concessionaire');
                let seller = $('#seller');
                let status = $('#status_auto');
                let term = $('#financing_term');

                term.prop('disabled', 'disabled');
                year.prop('disabled', 'disabled');
                seller.prop('disabled', 'disabled');

                if (term.val().length > 0) {
                    term.prop('disabled', false);
                }

                if (year.val().length > 0) {
                    year.prop('disabled', false);
                }

                type.change(function () {
                    return getOptions(type, year, status);
                });

                year.change(function () {
                    return getOptions(type, year, status);
                });

                concessionaire.change(function () {
                    return getList('sellerConcessionarie', seller, concessionaire.val());
                });

                status.change(function () {
                    getYearOptions(status);

                    return getOptions(type, year, status);
                });

                function getYearOptions(status) {
                    if (status.val().length > 0) {
                        if (status.val() == '016') {
                            getList('yearAutoOptions', year, '', 'Seleccione el año');
                        } else {
                            getList('usedYearAutoOptions', year, '', 'Seleccione el año');
                        }

                        return year.prop('disabled', 'disabled');
                    }
                }

                function getOptions(type, year, status) {
                    if (type.val().length > 0 && year.val().length > 0 && status.val().length > 0) {
                        let d = new Date();
                        let n = d.getFullYear();

                        if (status.val() === '016') {
                            // Si estado nuevo = 72 meses
                            getList('financingTermOptions', term, '', 'Seleccione el plazo');
                        } else if (status.val() === '017' && year.val() >= (n - 4)) {
                            // Si estado usado && 5 año recientes = 60 meses
                            getList('financingTermOptionsFive', term, '', 'Seleccione el plazo');
                        } else {
                            // Si estado usado && 5 año viejos = 48 meses
                            getList('financingTermOptionsFour', term, '', 'Seleccione el plazo');
                        }

                        return term.prop('disabled', 'disabled');
                    }
                }


                function getList(list, element, key = null, placeholder = null) {

                    element.prop('disabled', true);
                    $.ajax({
                        url: 'generar-lista',
                        type: 'GET',
                        data: {
                            flow: 'bank_auto',
                            list_key: list,
                            key: key,
                            placeholder: placeholder
                        },
                        element: element,
                        dataType: 'json',
                        success: onSuccessApprovalProcess,
                        error: onErrorApprovalProcess
                    });
                }

                function onSuccessApprovalProcess(data, status, request) {

                    this.element.html(data.list);

                    return this.element.prop('disabled', false);
                }

                function onErrorApprovalProcess(json) {
                    let status = json.status;

                    let data = json.responseJSON;

                    //console.log('no hay lista')
                }




            });
        },
  methods: {
    fireEvent() {
      return this.$emit("updateFlow", "third");
    },
    SendData: function() {
////alert("entro");
      var urlLogin = "/banco/prestamo-de-auto/calculate";//"/banco/prestamo-de-auto/calculate";
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
        //alert(JSON.stringify(data))
        //console.log(data)
        //console.log(JSON.stringify(data))
      axios
        .post(urlLogin, data) 
        .then(response => {
           this.datosEnviar.mensaje = response.data.message;
            this.datosEnviar.respuesta = response.data.data;
          //console.log(JSON.stringify(this.datosEnviar))

          //console.log(response.data.message)
          //return this.fireEvent();
          ////alert("pasoooooo")
          this.mostrarResultado()
        })
        .catch(e => {
          ////alert("hubo un error: " + e)
         // this.$setErrorsFromResponse(e.response.data.errors);
        });
    },
    mostrarResultado: function(){
      document.getElementById("calculator_form_container").style.display = "none"
      document.getElementById("calculator_result_container").style.display = "flex"
    },
    ocultarResultado: function(){
      document.getElementById("calculator_form_container").style.display = "flex"
      document.getElementById("calculator_result_container").style.display = "none"
    },
    
    OyenteCalculadora: function(param1) {
     //////alert("Oyente padre")

      this.$emit("EventoCalculadora", param1);
      //////alert(JSON.stringify(param1))
      if(param1 == "1"){
        //alert("Esto viene de respuesta: "+param1)
        document.getElementById("calculator_form_container").style.display = "flex"
        document.getElementById("calculator_result_container").style.display = "none"
        ////alert("deberia de mostrar el segundo y ocultar el resultado")
      }else if(param1 == "2"){
          //alert("Saldria")
          //alert(JSON.stringify(this.datosEnviar))
          //console.log("ver si es lo mismo o viene más: " + JSON.stringify(this.datosEnviar.respuesta))
          return this.$emit("EventoCalcularRespuesta", this.datosEnviar.respuesta);
      }else{
          //alert("mando otra cosa, erroooooooooooooooooor")
        document.getElementById("calculator_form_container").style.display = "flex"
        document.getElementById("calculator_result_container").style.display = "none"
      }



    },
  }
}; 
</script>