    <template>
    <div>
        <progress-component :steps="4" :step="4" :title="'Observaciones'"></progress-component>
        <div class="row">
        <div class="col-12 identity-form">
            <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.auto.traditional') }}" id="form"> -->
            <form class="form-horizontal" id="form">
                <div class="row">
                    <div class="col-12 form-group">
                        <h2>Ingrese Observaciones:</h2>
                    </div>

                    <div class="col-2 form-group text-center">
                        <span class="davivienda-icon far fa-comment"></span>
                    </div>

                    <div class="col-10">
                        <div class="form-group">
                            <text-area-component
                            :name="'notes'"
                            :placeholder="'Ingrese las observaciones que considere necesarios para esta solicitud'"
                            :label="'Comentarios adicionales'"
                            :classes="'form-control'"
                            :max="240"
                            :min="0"
                            :enabled="true"
                            ></text-area-component>
                            <span v-show="errors.has('notes')" class="help-block">
                                <strong>{{ errors.first('notes') }}</strong>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-12">
                    <button 
                        type="button"
                        class="btn btn-davivienda-red btn-loading"
                        id="submit"
                        v-on:click="SendData();"
                    >FINALIZAR SOLICITUD</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    </template>

    <script>
        import * as mylib from "../../../../validation";
        export default {
            props: ["lista", "flow"],
            data() {
                return {                    
      datosRespose: {},
      pasosEnviar: {
        paso: "search",
        respuesta: ""
      }
                };
            },
            methods: {
                fireEvent() {
                /* alert("cambiarà?") */
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
                },
                SendData: function() {
                var urlLogin = "/banco/prestamo-de-auto/traditional"; //"/banco/prestamo-de-auto/calculate";
                var data = {};
                $("#form")
                    .serializeArray()
                    .map(function(x) {
                    data[x.name] = x.value;
                    });
                axios
                    .post(urlLogin, data)
                    .then(response => {
//          alert(JSON.stringify(response.data.flow));
          this.datosRespose = response.data.flow;
          this.pasosEnviar.respuesta = this.datosRespose;
          //console.log(response.data);
          return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                    /* console.log(response.data)
                    let status = response.data.status
                    let msg = response.data.msg
                    if(status == 200){
                        return this.fireEvent(); */
                        /* this.$swal({
                        type: 'success',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        }) */
                    /*  }else if(status == 500){
                        this.$swal({
                        type: 'error',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        })
                    }else if(status == 403){
                        this.$swal({
                        type: 'error',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        })
                    }
                    // */
                    })
                    .catch(e => {
                    /* alert("fallo") */
                    this.$setErrorsFromResponse(e.response.data.errors);
                    });
                },
    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    }
            }
        };
    </script>