<template>
    <div class="container">
        <progress-component :steps=4 :step=1 :title="'INFORMACIÓN GENERAL'"> </progress-component>
        
        <!-- <pre v-if="this.paso">paso desde FORMULARIO: {{this.paso }}</pre> -->
        <form class="form-horizontal" role="form" id="form">

            <div class="row">
                <div class="col-12 form-group">
                    <h2>Fecha de nacimiento de cliente</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <span class="davivienda-icon icon-calendar"></span>
                </div>

                <div class="col-10">
                    <div class="form-group">
                        <div class="row birth-container">
                            <div class="col-4 birth-day">
                                <single-select-component :name="'day'" :placeholder="'Día'" :classes="'form-control'"
                                    :options="lista.dayOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('day')"
                                    class="help-block"><strong>{{ errors.first('day') }}</strong></span>
                            </div>
                            <div class="col-4 birth-month">
                                <single-select-component :name="'month'" :placeholder="'Mes'" :classes="'form-control'"
                                    :options="lista.monthOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('month')"
                                    class="help-block"><strong>{{ errors.first('month') }}</strong></span>
                            </div>
                            <div class="col-4 birth-year">
                                <single-select-component :name="'year'" :placeholder="'Año'" :classes="'form-control'"
                                    :options="lista.yearOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('year')"
                                    class="help-block"><strong>{{ errors.first('year') }}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 form-group">
                    <h2>Nombres</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <a class="davivienda-icon fas fa-user"></a>
                </div>

                <div class="col-5 first-name-field">
                    <div class="form-group">
                        <text-input-component :type="'text'" :classes="'form-control '" :name="'first_name'" :max="'15'"
                            :min="'0'" :placeholder="'Primer nombre'"></text-input-component>
                        <span v-show="errors.has('first_name')"
                            class="help-block"><strong>{{ errors.first('first_name') }}</strong></span>
                    </div>
                </div>

                <div class="col-5 middle-name-field">
                    <div class="form-group">

                        <text-input-component :type="'text'" :classes="'form-control '" :name="'middle_name'"
                            :max="'15'" :min="'0'" :placeholder="'Segundo nombre'"></text-input-component>
                        <span v-show="errors.has('middle_name')"
                            class="help-block"><strong>{{ errors.first('middle_name') }}</strong></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 form-group">
                    <h2>Apellidos</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <a class="davivienda-icon fas fa-user"></a>
                </div>

                <div class="col-5 last-name-field">
                    <div class="form-group">
                        <text-input-component :type="'text'" :classes="'form-control '" :name="'last_name'" :max="'15'"
                            :min="'0'" :placeholder="'Primer apellido'"></text-input-component>
                        <span v-show="errors.has('last_name')"
                            class="help-block"><strong>{{ errors.first('last_name') }}</strong></span>
                    </div>
                </div>
                <div class="col-5 second-last-name-field">
                    <div class="form-group">
                        <text-input-component :type="'text'" :classes="'form-control '" :name="'second_last_name'"
                            :max="'15'" :min="'0'" :placeholder="'Segundo apellido'"></text-input-component>
                        <span v-show="errors.has('second_last_name')"
                            class="help-block"><strong>{{ errors.first('second_last_name') }}</strong></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 form-group">
                    <h2>Números de contacto</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <span class="davivienda-icon icon-phone"></span>
                </div>

                <div class="col-5">
                    <div class="form-group">
                        <text-input-component :type="'text'" :classes="'form-control '" :name="'phone'" :max="'9'"
                            :min="'0'" :placeholder="'Teléfono de domicilio'"></text-input-component>
                        <span v-show="errors.has('phone')"
                            class="help-block"><strong>{{ errors.first('phone') }}</strong></span>
                    </div>
                </div>

                <div class="col-5">
                    <div class="form-group">
                        <text-input-component :type="'text'" :classes="'form-control '" :name="'mobile'" :max="'9'"
                            :min="'0'" :placeholder="'Celular'"></text-input-component>
                        <span v-show="errors.has('mobile')"
                            class="help-block"><strong>{{ errors.first('mobile') }}</strong></span>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-12 form-group">
                    <h2>Información financiera</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <span class="davivienda-icon fas fa-money-bill"></span>
                </div>

                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <single-select-component :name="'job'" :placeholder="'Tipo de empleo...'"
                                    :classes="'form-control davivienda-select'" :options="lista.jobOptions" :required="true"
                                    :enabled="true"></single-select-component>
                                <span v-show="errors.has('job')"
                                    class="help-block"><strong>{{ errors.first('job') }}</strong></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'income'"
                                    :max="'12'" :min="'0'" :placeholder="'Salario mensual bruto'"></text-input-component>
                                <span v-show="errors.has('income')"
                                    class="help-block"><strong>{{ errors.first('income') }}</strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="form-group">
                                <single-select-component :name="'job_type'"
                                    :placeholder="'Seleccione su actividad comercial...'"
                                    :classes="'form-control davivienda-select'" :options="lista.jobTypeOptions"
                                    :required="true" :enabled="true"></single-select-component>
                                <span v-show="errors.has('job_type')"
                                    class="help-block"><strong>{{ errors.first('job_type') }}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row " id="hide_deduction" style="display: none">
                <div class="col-12 form-group">
                    <h2>Deducciones</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <span class="davivienda-icon fas fa-money-bill"></span>
                </div>

                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'isr_deduction'"
                                    :min="'0'" :placeholder="'Impuesto Sobre la Renta'"></text-input-component>
                                <span v-show="errors.has('isr_deduction')"
                                    class="help-block"><strong>{{ errors.first('isr_deduction') }}</strong></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'rap_deduction'"
                                    :min="'0'" :placeholder="'Régimen de Aportación Privada'"></text-input-component>
                                <span v-show="errors.has('rap_deduction')"
                                    class="help-block"><strong>{{ errors.first('rap_deduction') }}</strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'ihss_deduction'"
                                    :min="'0'" :placeholder="'Instituto Hondureño de Seguridad Social'">
                                </text-input-component>
                                <span v-show="errors.has('ihss_deduction')"
                                    class="help-block"><strong>{{ errors.first('ihss_deduction') }}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                        v-on:click="SendData();">
                        SIGUIENTE
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import * as mylib from "../../../../validation";
    import { AnnoyingBackground } from "../../../../Directivas";
    import Form from "../../../../Form.js";
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                /* errors: {}, */
                datos: {},

                pasosEnviar: {
                    paso: "second",
                    respuesta: ""
                },
                datosRespose: {},
                test: {},
                objJson: {}
            };
        },
        mounted() {
            $('.davivienda-select').select2({
                language: "es"
            });
            //alert("mounted en first")
        },
        methods: {
            fireEvent() {
                this.handleClick();
                return this.$emit("updateFlow", this.pasosEnviar);
            },
            SendData: function () {

                var urlLogin = "/banco/prestamo-de-auto/2"; //"/banco/prestamo-de-auto/2"; //search
                var data = {}
                $("#form").serializeArray().map(function (x) {
                    data[x.name] = x.value;
                })
                console.log(data)
                axios
                    .post(urlLogin, data)
                    .then(response => {
                        //alert(JSON.stringify(response.data.flow));
                        this.datosRespose = response.data;
                        this.pasosEnviar.respuesta = this.datosRespose;
                        //console.log(response.data);
                        return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                        /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
                        /* this.$swal({
                        type: 'success',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        }) */
                        /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
                    })
                    .catch(e => {
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            handleClick: function () {
                //  alert("hijo");
                this.$emit("EventoHijo", this.pasosEnviar);
            }
        }
    };
</script>