<template>
  <div>
    <progress-component :steps="4" :step="4" :title="'Información auto'"></progress-component>
    <!-- <pre v-if="this.paso">paso desde cuarto: {{this.paso }}</pre> -->
    <!-- <pre v-if="this.lista">lista desde cuarto: {{this.lista }}</pre> -->

    <div class="row">
      <div class="col-12 identity-form">
        <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.auto.fifth') }}" id="form"> -->
        <form class="form-horizontal" id="form">
          <div class="row">
            <div class="col-2 form-group text-center">
              <span class="davivienda-icon fas fa-building"></span>
            </div>

            <div class="col-10">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <single-select-component :name="'concessionaire'" :placeholder="'Concesionaria...'"
                      :classes="'form-control davivienda-select'" :options="lista.concessionaireOptions" :required="true" :enabled="true">
                    </single-select-component>
                    <span v-show="errors.has('concessionaire')" class="help-block">
                      <strong>{{ errors.first('concessionaire') }}</strong>
                    </span>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <single-select-component :name="'seller'" :placeholder="'Vendedor...'" :classes="'form-control davivienda-select'"
                      :options="lista.sellerOptions" :required="true" :enabled="true"></single-select-component>
                    <span v-show="errors.has('seller')" class="help-block">
                      <strong>{{ errors.first('seller') }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Vehículo</h2>
            </div>

            <div class="col-2 form-group text-center">
              <a class="davivienda-icon fas fa-car"></a>
            </div>

            <div class="col-4">
              <div class="form-group">
                <single-select-component :name="'auto_brand'" :placeholder="'Marca del vehículo...'"
                  :classes="'form-control davivienda-select'" :options="lista.autoBrandOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('auto_brand')" class="help-block">
                  <strong>{{ errors.first('auto_brand') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'auto_model'" :max="'40'"
                  :min="'0'" :placeholder="'Modelo de vehículo'"></text-input-component>
                <span v-show="errors.has('auto_model')" class="help-block">
                  <strong>{{ errors.first('auto_model') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'status_auto'" :max="'40'"
                  :min="'0'" :placeholder="'Estado de vehículo'"></text-input-component>
                <span v-show="errors.has('status_auto')" class="help-block">
                  <strong>{{ errors.first('status_auto') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2 form-group text-center"></div>

            <div class="col-4">
              <div class="form-group">
                <single-select-component :name="'auto_type'" :placeholder="'Seleccione tipo de vehículo...'"
                  :classes="'form-control'" :options="lista.typeAutoOptions" :required="true" :enabled="true">
                </single-select-component>
                <span v-show="errors.has('auto_type')" class="help-block">
                  <strong>{{ errors.first('auto_type') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'auto_color'" :max="'40'"
                  :min="'0'" :placeholder="'Color de vehículo'"></text-input-component>
                <span v-show="errors.has('auto_color')" class="help-block">
                  <strong>{{ errors.first('auto_color') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'auto_year'" :max="'40'"
                  :min="'0'" :placeholder="'Año del vehículo...'"></text-input-component>
                <span v-show="errors.has('auto_year')" class="help-block">
                  <strong>{{ errors.first('auto_year') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2 form-group text-center"></div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'auto_displacement'" :max="'40'"
                  :min="'0'" :placeholder="'Cilindraje de vehículo'"></text-input-component>
                <span v-show="errors.has('auto_displacement')" class="help-block">
                  <strong>{{ errors.first('auto_displacement') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'motor_numbers'" :max="'40'"
                  :min="'0'" :placeholder="'Número de serie de motor'"></text-input-component>
                <span v-show="errors.has('motor_numbers')" class="help-block">
                  <strong>{{ errors.first('motor_numbers') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2 form-group text-center"></div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'vin_numbers'" :max="'40'"
                  :min="'0'" :placeholder="'Número de serie del VIN'"></text-input-component>
                <span v-show="errors.has('vin_numbers')" class="help-block">
                  <strong>{{ errors.first('vin_numbers') }}</strong>
                </span>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group">
                <text-input-component :type="'text'" :classes="'form-control '" :name="'chassis_numbers'" :max="'40'"
                  :min="'0'" :placeholder="'Número de serie del chasis'"></text-input-component>
                <span v-show="errors.has('chassis_numbers')" class="help-block">
                  <strong>{{ errors.first('chassis_numbers') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <h2>Ingrese Observaciones:</h2>
            </div>

            <div class="col-2 form-group text-center">
              <span class="davivienda-icon far fa-comment"></span>
            </div>

            <div class="col-10">
              <div class="form-group">
                <text-area-component :name="'notes'"
                  :placeholder="'Ingrese las observaciones que considere necesarios para esta solicitud'"
                  :label="'Comentarios adicionales'" :classes="'form-control'" :max="240" :min="0" :enabled="true">
                </text-area-component>
                <span v-show="errors.has('notes')" class="help-block">
                  <strong>{{ errors.first('notes') }}</strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-12">
              <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                v-on:click="SendData();">FINALIZAR SOLICITUD</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import * as mylib from "../../../../validation";
  export default {
    props: ['lista', 'paso'],
    data() {
      return {
        datosRespose: {},
        pasosEnviar: {
          paso: "search",
          respuesta: ""
        }
      };
    },
  mounted() {
    $('.davivienda-select').select2({
      language: "es"
    });
    //alert("mounted en first")
  },
    methods: {
      fireEvent() {
        /* alert("cambiarà?") */
        this.handleClick();
        return this.$emit("updateFlow", this.pasosEnviar);
      },
      SendData: function () {
        var urlLogin = "/banco/prestamo-de-auto/5"; //"prestamo-de-auto/5";
        var data = {};
        $("#form")
          .serializeArray()
          .map(function (x) {
            data[x.name] = x.value;
          });
        axios
          .post(urlLogin, data)
          .then(response => {
            /* alert("entro") */
            //alert(JSON.stringify(response.data.flow));
            this.datosRespose = response.data.flow;
            this.pasosEnviar.respuesta = this.datosRespose;
            //console.log(response.data);
            return this
          .fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
            /* console.log(response.data)
            let status = response.data.status
            let msg = response.data.msg
            if(status == 200){
              return this.fireEvent(); */
            /* this.$swal({
              type: 'success',
              title: msg,
              showConfirmButton: true,
              timer: 3000,
              confirmButtonText: 'Continuar'
            }) */
            /*  }else if(status == 500){
               this.$swal({
                 type: 'error',
                 title: msg,
                 showConfirmButton: true,
                 timer: 3000,
                 confirmButtonText: 'Continuar'
               })
             }else if(status == 403){
               this.$swal({
                 type: 'error',
                 title: msg,
                 showConfirmButton: true,
                 timer: 3000,
                 confirmButtonText: 'Continuar'
               })
             }
             // */
          })
          .catch(e => {
            /* alert("fallo") */
            this.$setErrorsFromResponse(e.response.data.errors);
          });
      },
      handleClick: function () {
        // alert("hijo");
        this.$emit("EventoHijo", this.pasosEnviar);
      }
    }
  };
</script>