<template>
    <div class="row">
        <div class="col-12">
           <!--  <pre>dato desde lista respuesta_motor_decisiones_credito: {{this.listaQuery.data.lists[0].respuesta_motor_decisiones_credito}}</pre> -->
           <!--  <pre>dato desde lista correlativo_escenario: {{this.listaQuery.data.lists[0].correlativo_escenario}}</pre> -->
            <!-- <pre>dato desde lista: {{this.listaQuery.data.data.id}}</pre> -->
   <!--          <div class="col-sm-3 " style=".ALineadoImagen{
            position: absolute;
            bottom: 5%;
            left: 8%;
            transform: translate(-10%, -60%);
            padding: 6px;
            font-size: 15px

            }">
                <img class="card-img-top img-fluid rounded" src="../../../../../../../public/design/Asistente.png">
                <div class="ALineadoImagen"> texto del div</div>


            </div> -->

<!-- <h1>Lista de los query -----------------------------------------------------------------------</h1>
            <pre v-if="this.listaQuery"> {{ listaQuery }}</pre>
            <h1>Lista de los query -----------------------------------------------------------------------</h1> -->
            <table id="auto-flows-in-transit" class="davivienda-datatables">
                <thead>
                    <tr>

                        <th>Solicitud No.</th>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Estado</th>
                        <th>Año</th>
                        <th>Valor a financiar</th>
                        <th>Precio</th>
                        <th>Fecha</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <!--   @foreach($lists as $list)-->
                    <tr v-for="(item, index) in  this.listaQuery.data.lists" :key="index">

                        <td class="text-center">{{ item.numero_solicitud }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.tipo_auto }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.marca_auto }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.modelo_auto }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.estado_auto }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.anho_auto }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.valor_financiar }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.precio_venta }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center">{{ item.fecha_escenario.date }} </td> <!-- {{ $list[''] }} -->
                        <td class="text-center" style="padding: 5px 20px;">
                            <form class="form-horizontal" role="form">
                                <!-- method="POST" action="{{ route('bank.auto.continue', [$flow->id, $list['correlativo_escenario'], $list['respuesta_motor_decisiones_credito']]) }}" -->
                                <!-- @if( $list['respuesta_motor_decisiones_credito'] == "T") -->
                                <!-- v-if="this.listaQuery.data.lists[0].respuesta_motor_decisiones_credito == 'T'"  -->
                                <!-- <h1>{{this.listaQuery.data.lists[0].respuesta_motor_decisiones_credito}}</h1> -->
                                <button v-if='validar()' type="button" class="btn btn-query"
                                    v-on:click="tradicional();">
                                    Completar Tradicional <a class="fas fa-chevron-right"></a>
                                    <!-- <i class="fas fa-chevron-right"></i> -->
                                </button>
                                <!-- v-if="this.listaQuery.data.lists[0].respuesta_motor_decisiones_credito == 'A'"  -->
                                <button v-if='!validar()' type="button" class="btn btn-query" v-on:click="preforma();">
                                    Completar Proforma <a class="fas fa-chevron-right"></a>
                                    <!-- <i class="fas fa-chevron-right"></i> -->
                                </button>
                            </form>
                        </td>
                    </tr>
                    <!--   @endforeach -->
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <form class="form-horizontal" role="form" id="form">
                <!-- method="POST" action="{{ checkStep($flow, ['1']) ? route('bank.auto.start') : route('bank.auto.new') }}" -->
                <!--     {!! csrf_field() !!} -->

                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-davivienda-red btn-loading"
                            v-on:click="nuevaCotizacion();">
                            Crear nueva cotización
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    /* import * as mylib from "../../../../../../public/plugins/datatables/datatables.js"; */
    import * as mylib from "../../../../validation";
    import {
        AnnoyingBackground
    } from "../../../../Directivas";
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                listaQuery: {},
                datosRespose: {},
                pasosEnviar: {
                    paso: "",
                    respuesta: ""
                },
                test: {},
                objJson: {},
                id: "",
                correlativo_escenario: "",
                respuesta_motor_decisiones_credito: "",

                data: {
                    id: "",
                    correlativo_escenario: "",
                    respuesta_motor_decisiones_credito: "",
                }
            };
        },
        mounted: function () {
            this.cargarListaQuery();


            setTimeout(() => {
                $('#auto-flows-in-transit').DataTable();
            }, 1000);
        },
        computed: {

        },
        methods: {
            mostrarData: function () {
                if (this.paso) {
                    /*   console.log("original")
                      console.log(this.paso)
                      console.log("original") */
                    this.test = this.paso
                    // alert(typeof (this.test))
                    if (typeof this.test === 'object') {
                        // alert("sería de paso")
                        this.objJson = this.paso.respuesta
                        /*   console.log("desde paso")
                          console.log(this.test)
                          console.log("desde paso") */
                        return true
                    } else if (typeof this.test === 'string') {
                        //this.test = ""
                        this.objJson = JSON.parse(this.paso);

                        /*  alert("sería de flow")
                         alert(typeof (this.objJson)) */
                        /*  console.log("desde flow")
                         console.log(this.test)
                         console.log("desde flow") */
                        return true
                    } else {
                        return false
                    }
                } else {
                    // alert("Hubo problemas con flow")
                }
            },
            cargarListaQuery: function () {
                // alert("enrotrasdasd")
                let queryUrl = "/banco/prestamo-de-auto/solicitudes-en-tramite"
                axios
                    .get(queryUrl)
                    .then(response => {
                        /* alert("entro") */
                        //alert(JSON.stringify(response));
                        this.datosRespose = response.data.flow;
                        console.log("esto trae el query: " + JSON.stringify(response));
                        this.listaQuery = response;
                        //alert(typeof (this.listaQuery))
                        this.correlativo_escenario = JSON.stringify(this.listaQuery.data.lists[0]
                            .correlativo_escenario);
                        // alert(this.correlativo_escenario)
                        this.respuesta_motor_decisiones_credito = this.listaQuery.data.lists[0]
                            .respuesta_motor_decisiones_credito;
                        //alert(this.respuesta_motor_decisiones_credito)
                        this.id = JSON.stringify(this.listaQuery.data.data.id);
                        this.data.id = this.id;
                        this.data.correlativo_escenario = this.correlativo_escenario;
                        this.data.respuesta_motor_decisiones_credito = this.respuesta_motor_decisiones_credito;
                        //alert(JSON.stringify(this.data))
                        //alert(this.id)
                        /*  this.id = this.paso.data.lists[0].respuesta_motor_decisiones_credito
                         alert("this.id" +this.id)
                         this.correlativo_escenario = this.paso.data.lists[0].correlativo_escenario
                         alert("this.correlativo_escenario" +this.correlativo_escenario)
                         this.respuesta_motor_decisiones_credito = this.paso.data.data.id
                         alert("this.respuesta_motor_decisiones_credito" +this.respuesta_motor_decisiones_credito) */
                    })
                    .catch(e => {
                        //alert("error de query")
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            nuevaCotizacion: function () {
                var urlLogin = "/banco/prestamo-de-auto/nueva-cotizacion";
                axios
                    .post(urlLogin)
                    .then(response => {
                        this.pasosEnviar.paso = "first"
                        this.pasosEnviar.respuesta = response.data;
                        return this.fireEvent();
                    })
                    .catch(e => {
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            validar: function () {
                if (this.respuesta_motor_decisiones_credito == "T") {
                    return true
                } else if (this.respuesta_motor_decisiones_credito == "A") {
                    return false
                } else {
                    return false
                }
            },
            preforma: function () {
                this.pasosEnviar.respuesta = this.listaQuery.data.data;
                this.pasosEnviar.paso = "fourth"
                this.SendData();
            },
            tradicional: function () {
                this.pasosEnviar.respuesta = this.listaQuery.data.data;
                this.pasosEnviar.paso = "fifth"
                this.SendData();
            },
            handleClick: function () {
                //alert("handleClick")
                // alert(JSON.stringify(this.pasosEnviar))
                this.$emit("EventoHijo", this.pasosEnviar);
            },
            fireEvent() {
                this.handleClick();
                /*   alert("fireEvent")
                  alert(JSON.stringify(this.pasosEnviar)) */
                return this.$emit("updateFlow", this.pasosEnviar);
            },
            SendData: function () {
                var url = "banco/prestamo-de-auto/continuar";
                var id = this.data.id;
                var correlative = this.data.correlativo_escenario;
                var response_motor = this.data.respuesta_motor_decisiones_credito;
                var urlLogin = "/" + url + "/" + id + "/" + correlative + "/" + response_motor;
                axios
                    .post(urlLogin)
                    .then(response => {
                        console.log("esta es la respuesta despues de la grilla: " + JSON.stringify(response));
                        return this.fireEvent();
                    })
                    .catch(e => {
                        /* alert("fallo") */
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
        }
    };
</script>