<template>
  <div>
    <form class="form-horizontal" role="form" id="form">
      <div class="row">
        <div class="col-12 form-group">
          <h2>Información de identificación</h2>
        </div>

        <div class="col-2 form-group text-center">
          <span class="davivienda-icon icon-id"></span>
        </div>
 
        <div class="col-10">
          <div class="form-group">
            <text-input-component
              :type="'text'"
              :classes="'form-control validate-num-dash'"
              :name="'identity'"
              :max="13"
              :min="0"
              :placeholder="'Ingrese el número de identificación'"
              :req="false"
              v-validate-num
            ></text-input-component>
            <span v-show="errors.has('identity')" class="help-block">
              <strong>{{ errors.first('identity') }}</strong>
            </span>
          </div>
        </div>
      </div>
      <checkbox-component
        :name="'bureau'"
        :placeholder="'Autorizo a que el banco revise mi buró de crédito'"
        :type="'checkbox'"
      ></checkbox-component>

      <div class="row text-center">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-davivienda-red btn-loading"
            id="submit"
            v-on:click="SendData();"
          >SIGUIENTE</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import * as mylib from "../../../../validation";
import { AnnoyingBackground } from "../../../../Directivas";
import Form from "../../../../Form.js";
export default {
  props: ["lists", "flow"],
  data() {
    return {
      datosRespose: {},
      pasosEnviar: {
        paso: "first",
        respuesta: ""
      }
    };
  },
  methods: {
    fireEvent() {
      this.handleClick();
      return this.$emit("updateFlow", this.pasosEnviar);
    },
    SendData: function() {
      /*  form=new Form($("#form").serializeArray());
                let url=""
                form.post(url)
 */

      var urlLogin = "/banco/prestamo-de-auto/";
      var data = {};
      $("#form")
        .serializeArray()
        .map(function(x) {
          data[x.name] = x.value;
        });
      //alert(JSON.stringify(data));
      axios
        .post(urlLogin, data)
        .then(response => {
//          alert(JSON.stringify(response.data));
          console.log(response);
          this.datosRespose = response.data;
          this.pasosEnviar.respuesta = this.datosRespose;
          console.log("LO QUE ENVIA AL FLOW" + JSON.stringify(this.pasosEnviar));
          return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
          /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
          /* this.$swal({
                            type: 'success',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            }) */
          /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
        })
        .catch(e => {
          this.$setErrorsFromResponse(e.response.data.errors);
        });
    },
    handleClick: function() {
      //alert("hijo");
      this.$emit("EventoHijo", this.pasosEnviar);
    }
  }
}; 
</script>