<template>
    <div>
        <!-- <pre v-if="this.paso">paso desde segundo: {{this.paso }}</pre> -->
        <calculator-auto-component :lista="lista" :paso="paso" v-on:EventoCalcularRespuesta="OyenteSegundo"></calculator-auto-component>
        <div class="row">
            <div class="col-12 text-center">
                <div id="calculator-result-container" style="display: none"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as mylib from "../../../../validation";
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                /* errors: {}, */
                datos: {},

                pasosEnviar: {
                    paso: "second",
                    respuesta: ""
                },
                datosRespose: {
                    paso: "third",
                    respuesta: {}
                },
                test: {},
                objJson: {}
            };
        },
        mounted() {
           



        },
        methods: {
            fireEvent() {
               // alert("cambiarà?")
                this.handleClick();
                return this.$emit("updateFlow", this.datosRespose);
            },
            SendData: function () {
                var urlLogin = "/banco/prestamo-de-auto/calculate"; //"/banco/prestamo-de-auto/calculate";
                var data = {};
                $("#form")
                    .serializeArray()
                    .map(function (x) {
                        data[x.name] = x.value;
                    });
                axios
                    .post(urlLogin, data)
                    .then(response => {
                        /* alert("entro") */
                        //alert(JSON.stringify(response.data.flow));
                        this.datosRespose = response.data.flow;
                        this.pasosEnviar.respuesta = this.datosRespose;
                        ////console.log(response.data);
                        return this.fireEvent();
                        //return this.fireEvent();// Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                        /* ////console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                          return this.fireEvent(); */
                        /* this.$swal({
                          type: 'success',
                          title: msg,
                          showConfirmButton: true,
                          timer: 3000,
                          confirmButtonText: 'Continuar'
                        }) */
                        /*  }else if(status == 500){
                           this.$swal({
                             type: 'error',
                             title: msg,
                             showConfirmButton: true,
                             timer: 3000,
                             confirmButtonText: 'Continuar'
                           })
                         }else if(status == 403){
                           this.$swal({
                             type: 'error',
                             title: msg,
                             showConfirmButton: true,
                             timer: 3000,
                             confirmButtonText: 'Continuar'
                           })
                         }
                         // */
                    })
                    .catch(e => {
                         //alert("Fallo al entrar al tercer paso")
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            handleClick: function () {
                //      alert("hijo");
                this.$emit("EventoHijo", this.datosRespose);
            },
    
            OyenteCalculadora: function(param1) {
            //alert("Oyente padre")

            this.$emit("EventoCalculadora", param1);
            //alert(JSON.stringify(param1))
            if(param1){
                //alert("Esto contiene el paso cuando hay paso: "+param1)
                 return this.$emit("updateFlow", this.pasosEnviar);
            }



            },
            OyenteCalculadora: function(param1) {
                //////alert("Oyente padre")

                this.$emit("EventoCalculadora", param1);
                //////alert(JSON.stringify(param1))
                if(param1 == "1"){
                    ////alert("Esto viene de respuesta: "+param1)
                    document.getElementById("calculator_form_container").style.display = "flex"
                    document.getElementById("calculator_result_container").style.display = "none"
                    ////alert("deberia de mostrar el segundo y ocultar el resultado")
                }else if(param1 == "2"){
                   // alert("Saldria")
                    return this.$emit("EventoCalculadora", "second");
                }else{
                    //alert("mando otra cosa, erroooooooooooooooooor")
                    document.getElementById("calculator_form_container").style.display = "flex"
                    document.getElementById("calculator_result_container").style.display = "none"
                }



            },
            OyenteSegundo: function(param1) {
               // alert("viene de calcular e iria al tercer formulario")

                this.$emit("EventoCalculadora", param1);
                this.datosRespose.respuesta = param1
                //alert(JSON.stringify(this.datosRespose))
                
                var urlLogin = "/banco/prestamo-de-auto/3"; //"/banco/prestamo-de-auto/calculate";
               
                axios
                    .post(urlLogin, )
                    .then(response => {
                        /* alert("entro") */
                       // alert(JSON.stringify(response));
                        //console.log("esto tendría que ir al tercer paso: " + JSON.stringify(response));
                        ////console.log(response.data);
                        //return this.fireEvent();
                        return this.fireEvent();// Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                        /* ////console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                          return this.fireEvent(); */
                        /* this.$swal({
                          type: 'success',
                          title: msg,
                          showConfirmButton: true,
                          timer: 3000,
                          confirmButtonText: 'Continuar'
                        }) */
                        /*  }else if(status == 500){
                           this.$swal({
                             type: 'error',
                             title: msg,
                             showConfirmButton: true,
                             timer: 3000,
                             confirmButtonText: 'Continuar'
                           })
                         }else if(status == 403){
                           this.$swal({
                             type: 'error',
                             title: msg,
                             showConfirmButton: true,
                             timer: 3000,
                             confirmButtonText: 'Continuar'
                           })
                         }
                         // */
                    })
                    .catch(e => {
                        /* alert("fallo") */
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });


            },
        }
    };
</script>