<template>
    <div>
        <progress-component :steps=4 :step=3 :title="'Información general'"> </progress-component>
        <!-- <pre v-if="this.paso">paso desde tercero: {{this.paso }}</pre>

        <pre>{{this.objJson.customer_information.employer.job.status.code}}</pre> -->
<!--         <pre>{{this.objJson.user_information.concessionaire.code}}</pre>
        <pre>{{this.objJson.user_information.seller.code}}</pre> -->
        <div class="row">
            <div class="col-12 identity-form">
                <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('bank.auto.fourth') }}" id="form"> -->
                <form class="form-horizontal" role="form" id="form">

                    <div class="row">
                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon fas fa-building"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                       <!--  <div><label 
                                            style="visibility: hidden;"> </label> 
                                            <select 
                                            class="form-control" 
                                            name="concessionaire" 
                                            id="concessionaire"
                                            >
                                                <option value="{{ this.objJson.user_information.concessionaire.code }} ">{{ this.objJson.user_information.seller.code }}</option>
                                            </select>
                                        </div> -->
                                        <div>
                                            <input type="text" :value="this.objJson.user_information.seller.code" style="visibility: hidden;" name="concessionaire" >
                                            <select 
                                            class="form-control" disabled
                                            >
                                                <option >{{ this.objJson.user_information.seller.value }}</option>
                                            </select>
                                        </div>
                                      <!--   <single-select-component :name="'concessionaire'"
                                            :placeholder="'Concesionaria...'"
                                            :classes="'form-control davivienda-select'"
                                            :options="lista.concessionaireOptions" :required="true" :enabled="true">
                                        </single-select-component> -->
                                        <span v-show="errors.has('concessionaire')" class="help-block">
                                            <strong>{{ errors.first('concessionaire') }}</strong>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        
                                        <div>
                                            <input type="text" :value="this.objJson.user_information.concessionaire.code" style="visibility: hidden;" name="seller" >
                                            <select 
                                            class="form-control" disabled
                                            >
                                                <option >{{ this.objJson.user_information.concessionaire.value }}</option>
                                            </select>
                                        </div>
                                        <!-- <single-select-component :name="'seller'" :placeholder="'Vendedor...'"
                                            :classes="'form-control davivienda-select'" :options="lista.sellerOptions"
                                            :required="true" :enabled="true"></single-select-component> -->
                                        <span v-show="errors.has('seller')" class="help-block">
                                            <strong>{{ errors.first('seller') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de correo electrónico</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-messages"></span>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'email'"
                                    :max="'40'" :min="'0'" :placeholder="placeholderText"></text-input-component>
                                <span v-show="errors.has('email')" class="help-block">
                                    <strong>{{ errors.first('email') }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <label for="checkbox" style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
                        </div>
                        <div class="col-1 text-center davivienda-checkbox">
                            <input type="checkbox" id="checkbox" v-model="checked" v-on:change="chekear()">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Colonia de domicilio</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-gps"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-opt-component :name="'city'" :placeholder="'Seleccione la colonia...'"
                                    :classes="'form-control davivienda-select'" :options="lista.cities"
                                    :required="false" :enabled="true">
                                </single-opt-component>
                                <span v-show="errors.has('city')" class="help-block">
                                    <strong>{{ errors.first('city') }}</strong>
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="row hide-other-city">
                        <div class="col-2 form-group"></div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'other_city'"
                                    :max="'40'" :min="'0'" :placeholder="'Nombre de la otra colonia'">
                                </text-input-component>
                                <span v-show="errors.has('other_city')" class="help-block">
                                    <strong>{{ errors.first('other_city') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de domicilio</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-gps"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'address_1'" :max="'120'" :min="'0'"
                                            :placeholder="'Avenida, Calle, Bloque, Casa'"></text-input-component>
                                        <span v-show="errors.has('address_1')" class="help-block">
                                            <strong>{{ errors.first('address_1') }}</strong>
                                        </span>
                                    </div>
                                </div>



                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'address_2'" :max="'120'" :min="'0'"
                                            :placeholder="'Punto de referencia de la dirección'"></text-input-component>
                                        <span v-show="errors.has('address_2')" class="help-block">
                                            <strong>{{ errors.first('address_2') }}</strong>
                                        </span>
                                    </div>
                                </div>



                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control '"
                                            :name="'address_3'" :max="'120'" :min="'0'"
                                            :placeholder="'Segundo punto de referencia de la dirección'">
                                        </text-input-component>
                                        <span v-show="errors.has('address_3')" class="help-block">
                                            <strong>{{ errors.first('address_3') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Información Laboral</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-briefcase"></a>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'employer_name'"
                                    :max="'40'" :min="'0'" :placeholder="'Nombre de la empresa'"></text-input-component>
                                <span v-show="errors.has('employer_name')" class="help-block">
                                    <strong>{{ errors.first('employer_name') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'profession'"
                                    :placeholder="'Seleccione la profesión...'"
                                    :classes="'form-control davivienda-select'" :options="lista.professionOptions"
                                    :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('profession')" class="help-block">
                                    <strong>{{ errors.first('profession') }}</strong>
                                </span>
                            </div>
                        </div>


                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'job_name'"
                                    :max="'20'" :min="'0'" :placeholder="'Nombre del puesto actual de trabajo'">
                                </text-input-component>
                                <span v-show="errors.has('job_name')" class="help-block">
                                    <strong>{{ errors.first('job_name') }}</strong>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'employer_phone'"
                                    :max="'9'" :min="'0'" :placeholder="'Ingrese el telefono del trabajo'">
                                </text-input-component>
                                <span v-show="errors.has('employer_phone')" class="help-block">
                                    <strong>{{ errors.first('employer_phone') }}</strong>
                                </span>
                            </div>
                        </div>

                        <!-- @if (get_json($flow->customer_information, ['employer', 'job', 'status', 'code']) == '1') -->
                        <div v-if="this.objJson.customer_information.employer.job.status.code === '1'" class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'job_contract'"
                                    :placeholder="'Seleccione su situación laboral...'" :classes="'form-control'"
                                    :options="lista.jobContractOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('job_contract')" class="help-block">
                                    <strong>{{ errors.first('job_contract') }}</strong>
                                </span>
                            </div>
                        </div>
                        <!-- @endif -->
                    </div>

                    <!-- @if (get_json($flow->customer_information, ['employer', 'job', 'status', 'code']) == '1') -->
                    <!--  <div class="row hide-job-contract">
                        <div class="col-12 form-group">
                            <h2>Situación Laboral</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-briefcase"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-select-component :name="'job_contract'"
                                    :placeholder="'Seleccione su situación laboral...'" :classes="'form-control'"
                                    :options="lista.jobContractOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('job_contract')" class="help-block">
                                    <strong>{{ errors.first('job_contract') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div> -->




                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de correo electrónico laboral</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-messages"></span>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '" :name="'job_email'"
                                    :max="'40'" :min="'0'" :placeholder="placeholderTextJob"></text-input-component>
                                <span v-show="errors.has('job_email')" class="help-block">
                                    <strong>{{ errors.first('job_email') }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <label for="checkboxJob" style="font-size: 1.4rem; line-height: 1;">No tiene correo</label>
                        </div>
                        <div class="col-1 text-center davivienda-checkbox">
                            <input type="checkbox" id="checkedJob" v-model="checkedJob" v-on:change="chekearJob()">
                        </div>
                    </div>

                    <div class="row show-if-independent">
                        <div class="col-12 form-group">
                            <h2>Tipo de empresa</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-building"></a>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-select-component :name="'employer_type'"
                                    :placeholder="'Seleccione el tipo de empresa...'" :classes="'form-control'"
                                    :options="lista.employeeTypes" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('employer_type')" class="help-block">
                                    <strong>{{ errors.first('employer_type') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Colonia de trabajo</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-gps"></span>
                        </div>

                        <div class="col-10">
                            <!-- <div class="form-group{{ $errors->has('employer_city') ? ' has-error' : '' }}"> -->
                            <div class="form-group">
                                <single-opt-component :name="'employer_city'" :placeholder="'Seleccione la colonia...'"
                                    :classes="'form-control davivienda-select'" :options="lista.cities"
                                    :required="false" :enabled="true">
                                </single-opt-component>
                                <span v-show="errors.has('employer_city')" class="help-block">
                                    <strong>{{ errors.first('employer_city') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row hide-other-employer-city">
                        <div class="col-2 form-group"></div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'other_employer_city'" :max="40" :min="0"
                                    :placeholder="'Nombre de la otra colonia'" 
                                >
                                </text-input-component>
                                <span v-show="errors.has('other_employer_city')" class="help-block">
                                    <strong>{{ errors.first('other_employer_city') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Dirección de trabajo</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-gps"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control'"
                                            :name="'employer_address_1'" :max="40" :min="0"
                                            :placeholder="'Avenida, Calle, Bloque, Casa'"></text-input-component>
                                        <span v-show="errors.has('employer_address_1')" class="help-block">
                                            <strong>{{ errors.first('employer_address_1') }}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control'"
                                            :name="'employer_address_2'" :max="40" :min="0"
                                            :placeholder="'Punto de referencia de la dirección'"></text-input-component>
                                        <span v-show="errors.has('employer_address_2')" class="help-block">
                                            <strong>{{ errors.first('employer_address_2') }}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <text-input-component :type="'text'" :classes="'form-control'"
                                            :name="'employer_address_3'" :max="40" :min="0"
                                            :placeholder="'Segundo punto de referencia de la dirección'">
                                        </text-input-component>
                                        <span v-show="errors.has('employer_address_3')" class="help-block">
                                            <strong>{{ errors.first('employer_address_3') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Antiguedad laboral</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-calendar"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <div class="row birth-container ">
                                    <div class="col-4 birth-day">

                                        <single-select-component :name="'employer_day'" :placeholder="'Día'"
                                            :options="lista.dayOptions" :required="true" :enabled="true"
                                            :classes="'form-control '"></single-select-component>
                                        <span v-show="errors.has('employer_day')" class="help-block">
                                            <strong>{{ errors.first('employer_day') }}</strong>
                                        </span>
                                    </div>
                                    <div class="col-4 birth-month">

                                        <single-select-component :name="'employer_month'" :placeholder="'Mes'"
                                            :options="lista.monthOptions" :required="true" :enabled="true"
                                            :classes="'form-control '"></single-select-component>
                                        <span v-show="errors.has('employer_month')" class="help-block">
                                            <strong>{{ errors.first('employer_month') }}</strong>
                                        </span>
                                    </div>
                                    <div class="col-4 birth-year">

                                        <single-select-component :name="'employer_year'" :placeholder="'Año'"
                                            :options="lista.yearOptions" :required="true" :enabled="true"
                                            :classes="'form-control '"></single-select-component>
                                        <span v-show="errors.has('employer_year')" class="help-block">
                                            <strong>{{ errors.first('employer_year') }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Información personal</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'gender'" :placeholder="'Seleccione su género...'"
                                    :classes="'form-control'" :options="lista.genderOptions" :required="true"
                                    :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('gender')" class="help-block">
                                    <strong>{{ errors.first('gender') }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'marital_status'"
                                    :placeholder="'Seleccione su estado civil...'" :classes="'form-control'"
                                    :options="lista.maritalStatusOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('marital_status')" class="help-block">
                                    <strong>{{ errors.first('marital_status') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="spouseI" style="display:none;">
                        <div class="col-12 form-group">
                            <h2>Cónyuge</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="row">
                                <div class="form-group col-6">
                                    <single-select-component :name="'spouse_id_type'"
                                        :placeholder="'Seleccione el tipo de identificación...'" :classes="'form-control'"
                                        :options="lista.idOptions" :required="true" :enabled="true">
                                    </single-select-component>
                                    <span v-show="errors.has('spouse_id_type')" class="help-block">
                                        <strong>{{ errors.first('spouse_id_type') }}</strong>
                                    </span>
                                </div>
                                <div class="form-group col-6">
                                    <text-input-component :type="'text'" :classes="'form-control validate-num-dash'" :name="'spouse_identity'"
                                        :max="13" :min="0" :placeholder="'No. de identificación'" v-validate-num>
                                    </text-input-component>
                                    <span v-show="errors.has('spouse_identity')" class="help-block">
                                        <strong>{{ errors.first('spouse_identity') }}</strong>
                                    </span>
                                </div>
                                <div class="form-group col-12">
                                    <text-input-component :type="'text'" :classes="'form-control '" :name="'spouse'"
                                        :max="40" :min="0" :placeholder="'Nombre completo del cónyuge'">
                                    </text-input-component>
                                    <span v-show="errors.has('spouse')" class="help-block">
                                        <strong>{{ errors.first('spouse') }}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Nacionalidad</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-globe-americas"></a>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-select-component :name="'nationality'"
                                    :placeholder="'Seleccione su nacionalidad...'" :classes="'form-control davivienda-select'"
                                    :options="lista.nations" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('nationality')" class="help-block">
                                    <strong>{{ errors.first('nationality') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>




















                    

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>¿Tiene ciudadanía, residencia o pasaporte estadounidense?</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <a class="davivienda-icon fas fa-flag-usa"></a>
                        </div>

                        <div class="col-10 form-group">
                            <single-select-component :name="'fatca'" :placeholder="'Seleccione la respuesta...'"
                                :classes="'form-control'" :options="lista.confirmation" :required="true"
                                :enabled="true"></single-select-component>
                            <span v-show="errors.has('fatca')" class="help-block">
                                <strong>{{ errors.first('fatca') }}</strong>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Referencia familiar</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_1_name'" :max="'40'" :min="'0'"
                                    :placeholder="'Nombre de la referencia familiar'"></text-input-component>
                                <span v-show="errors.has('reference_1_name')" class="help-block">
                                    <strong>{{ errors.first('reference_1_name') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <single-select-component :name="'reference_1_relationship'"
                                    :placeholder="'Seleccione el parentesco...'" :classes="'form-control'"
                                    :options="lista.referenceOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('reference_1_relationship')" class="help-block">
                                    <strong>{{ errors.first('reference_1_relationship') }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_1_mobile'" :max="'9'" :min="'0'" :placeholder="'Celular'">
                                </text-input-component>
                                <span v-show="errors.has('reference_1_mobile')" class="help-block">
                                    <strong>{{ errors.first('reference_1_mobile') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_1_phone'" :max="'9'" :min="'0'" :placeholder="'Teléfono'">
                                </text-input-component>
                                <span v-show="errors.has('reference_1_phone')" class="help-block">
                                    <strong>{{ errors.first('reference_1_phone') }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_1_work_phone'" :max="'9'" :min="'0'"
                                    :placeholder="'Teléfono de trabajo'"></text-input-component>
                                <span v-show="errors.has('reference_1_work_phone')" class="help-block">
                                    <strong>{{ errors.first('reference_1_work_phone') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Referencia personal</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_2_name'" :max="'40'" :min="'0'"
                                    :placeholder="'Nombre de la referencia personal'"></text-input-component>
                                <span v-show="errors.has('reference_2_name')" class="help-block">
                                    <strong>{{ errors.first('reference_2_name') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_2_mobile'" :max="'9'" :min="'0'" :placeholder="'Celular'">
                                </text-input-component>
                                <span v-show="errors.has('reference_2_mobile')" class="help-block">
                                    <strong>{{ errors.first('reference_2_mobile') }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_2_phone'" :max="'9'" :min="'0'" :placeholder="'Teléfono de domicilio'">
                                </text-input-component>
                                <span v-show="errors.has('reference_2_phone')" class="help-block">
                                    <strong>{{ errors.first('reference_2_phone') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-5">
                            <div class="form-group">
                                <text-input-component :type="'text'" :classes="'form-control '"
                                    :name="'reference_2_work_phone'" :max="'9'" :min="'0'"
                                    :placeholder="'Teléfono de trabajo'"></text-input-component>
                                <span v-show="errors.has('reference_2_work_phone')" class="help-block">
                                    <strong>{{ errors.first('reference_2_work_phone') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div v-if="this.objJson.user_information.dealership_is_connected.code === 'S'" class="row">
                        <div class="col-12 form-group">
                            <h2>Ejecutivo de auto</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-briefcase"></span>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <single-select-component :name="'auto_executive'"
                                    :placeholder="'Seleccione el ejecutivo de auto...'" :classes="'form-control'"
                                    :options="lista.agentOptions" :required="true" :enabled="true">
                                </single-select-component>
                                <span v-show="errors.has('auto_executive')" class="help-block">
                                    <strong>{{ errors.first('auto_executive') }}</strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr style="border: none;" class="mb-3">

                    <checkbox-component v-if="!checked" :name="'receive_emails'"
                        :placeholder="'Acepto envíos de estados de cuenta a mi correo electrónico personal'"
                        :type="'checkbox'"></checkbox-component>

                    <checkbox-component v-if="!checkedJob" :name="'receive_emails_job'"
                        :placeholder="'Acepto envíos de estados de cuenta a mi correo electrónico laboral'"
                        :type="'checkbox'"></checkbox-component>





                    <div class="row text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-davivienda-red btn-loading" id="submit"
                                v-on:click="SendData();">
                                EVALUAR
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import * as mylib from "../../../../validation";
import { AnnoyingBackground } from "../../../../Directivas";
    export default {
        props: ['lista', 'paso'],
        data() {
            return {
                datosRespose: {},
                pasosEnviar: {
                    paso: "fourth",
                    respuesta: ""
                },
                datosQuery: {
                    paso: "query",
                    respuesta: {},
                    listaGrilla: {},
                },
                checked: false,
                placeholderText: "Ingrese su correo electrónico",
                checkedJob: false,
                placeholderTextJob: "Ingrese su correo electrónico laboral",
                
                test: {},
                objJson: {}
            };
        },
    mounted() {
        this.mostrarData();
      $(document).ready(function () {
        $(".davivienda-select").select2({
          language: "es"
        });

        $(".hide-other-city").hide();
        $(".hide-other-employer-city").hide();

        if (
          $("#city option:selected")
          .text()
          .includes("OTRA COLONIA")
        ) {
          $(".hide-other-city").fadeIn();
        }

        $("#city").change(function () {
          let str = $("#city option:selected").text();

          if (str.includes("OTRA COLONIA")) {
            $(".hide-other-city").fadeIn();
          } else {
            $(".hide-other-city").fadeOut();
          }
        });

        if (
          $("#employer_city option:selected")
          .text()
          .includes("OTRA COLONIA")
        ) {
          $(".hide-other-employer-city").fadeIn();
        }

        $("#employer_city").change(function () {
          let str = $("#employer_city option:selected").text();

          if (str.includes("OTRA COLONIA")) {
            $(".hide-other-employer-city").fadeIn();
          } else {
            $(".hide-other-employer-city").fadeOut();
          }
        });
      });
      //alert("mounted en first")
    },
        methods: {
            fireEvent() {
                /* alert("cambiarà?") */
                this.handleClick();
                return this.$emit("updateFlow", this.datosQuery);
            },
            SendData: function () {
                var urlLogin = "/banco/prestamo-de-auto/4"; //"//banco/prestamo-de-auto/4";
                var data = {};
                $("#form")
                    .serializeArray()
                    .map(function (x) {
                        data[x.name] = x.value;
                    });
                axios
                    .post(urlLogin, data)
                    .then(response => {
                        /* alert("entro") */
                        // alert(JSON.stringify(response));
                        this.datosRespose = response.data.flow;
                        this.pasosEnviar.respuesta = this.datosRespose;
                        //console.log("esto trae el cuarto paso que me deberia enviar al query: " + JSON.stringify(response));

                        
                        //console.log(response) 
                        let queryUrl = "/banco/prestamo-de-auto/solicitudes-en-tramite"
                        axios
                            .get(queryUrl)
                            .then(response => {
                                /* alert("entro") */
                               // alert(JSON.stringify(response));
                                this.datosRespose = response.data.flow;
                                this.pasosEnviar.respuesta = this.datosRespose;
                                //console.log("esto trae el query: " + JSON.stringify(response));

                                //console.log("-----------------------------------")
                                //console.log(response) 
                                this.datosQuery.respuesta = response.data.data;
                                this.datosQuery.listaGrilla = response.data.list;
                                //console.log("ESTO SE VA A ENVIAR AL QUERY: " + JSON.stringify(this.datosQuery))
                                return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet alert que esta abajo comentado
                                /* console.log(response.data)
                                let status = response.data.status
                                let msg = response.data.msg
                                if(status == 200){
                                    return this.fireEvent(); */
                                /* this.$swal({
                                type: 'success',
                                title: msg,
                                showConfirmButton: true,
                                timer: 3000,
                                confirmButtonText: 'Continuar'
                                }) */
                                /*  }else if(status == 500){
                                    this.$swal({
                                    type: 'error',
                                    title: msg,
                                    showConfirmButton: true,
                                    timer: 3000,
                                    confirmButtonText: 'Continuar'
                                    })
                                }else if(status == 403){
                                    this.$swal({
                                    type: 'error',
                                    title: msg,
                                    showConfirmButton: true,
                                    timer: 3000,
                                    confirmButtonText: 'Continuar'
                                    })
                                }
                                // */
                            })
                            .catch(e => {
                                // alert("error de query")
                                this.$setErrorsFromResponse(e.response.data.errors);
                            });
                        //return this.fireEvent(); // Se mantiene mientras se reciban las respuestas correctas para utlizaiar sweet // alert que esta abajo comentado
                        /* console.log(response.data)
                        let status = response.data.status
                        let msg = response.data.msg
                        if(status == 200){
                            return this.fireEvent(); */
                        /* this.$swal({
                        type: 'success',
                        title: msg,
                        showConfirmButton: true,
                        timer: 3000,
                        confirmButtonText: 'Continuar'
                        }) */
                        /*  }else if(status == 500){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }else if(status == 403){
                            this.$swal({
                            type: 'error',
                            title: msg,
                            showConfirmButton: true,
                            timer: 3000,
                            confirmButtonText: 'Continuar'
                            })
                        }
                        // */
                    })
                    .catch(e => {
                        //// alert("Error de paso 4")
                        this.$setErrorsFromResponse(e.response.data.errors);
                    });
            },
            handleClick: function () {
                //  // alert("hijo");
                this.$emit("EventoHijo", this.datosQuery);
            },
            chekear: function () {
                if (this.checked) {
                    this.placeholderText = "Digite: notiene@davivienda.com.hn"
                } else {
                    this.placeholderText = "Ingrese su correo electrónico"
                }
            },
            chekearJob: function () {
                if (this.checkedJob) {
                    this.placeholderTextJob = "Digite: notiene@davivienda.com.hn"
                } else {
                    this.placeholderTextJob = "Ingrese su correo electrónico laboral"
                }
            },
            mostrarData: function(){
                if(this.paso){
                   /*  console.log("original") 
                    console.log(this.paso) 
                    console.log("original")  */
                    this.test = this.paso
                 /*     alert(typeof(this.test)) */
                    if (typeof this.test === 'object'){
                   /*    alert("sería de paso") */
                      this.objJson = this.paso.respuesta
                  /*     console.log("desde paso") 
                      console.log(this.test) 
                      console.log("desde paso") */
                      return true 
                     }else if (typeof this.test === 'string'){
                       //this.test = ""
                        this.objJson = JSON.parse(this.paso);
                /*         alert("sería de flow")
                        alert(typeof(this.objJson))
                        console.log("desde flow") 
                        console.log(this.test) 
                        console.log("desde flow")  */
                        return true
                     }else{
                       return false
                     } 
                }else{
                    // alert("Hubo problemas con flow")
                } 
            } 
        }
    };
</script>