<template>
  <div>
    <div class="container-fluid" style="background-image: url('/design/index/card0.jpeg'); margin-top: -60px;">
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img v-if="!this.flow && !this.paso" src="/design/index/bank_card.png" style="margin-top: 50px;">
            <img
              v-if="(this.flow  && this.flow.step == '1' &&  this.flow.product_information.original.product.code == 'DDP' && !this.paso)  || (this.paso && this.paso.respuesta.step == '1' &&  this.paso.respuesta.product_information.original.product.code == 'DDP')"
              src="/design/index/DPT.png" style="margin-top: 110px;">
            <img
              v-if="(this.flow  && this.flow.step == '1' &&  this.flow.product_information.original.product.code == 'DPT' && !this.paso)  || (this.paso && this.paso.respuesta.step == '1' &&  this.paso.respuesta.product_information.original.product.code == 'DPT')"
              src="/design/index/DDP.png" style="margin-top: 110px;">
            <img
              v-if="(this.flow  && this.flow.step == '2' && !this.paso)  || (this.paso && this.paso.respuesta.step == '2')"
              src="/design/index/success.png" style="padding-bottom: 0px; padding-top: 40px;">
            <!-- <img src="/design/index/bank_card.png"> -->
          </div>
          <div class="banner-title">
            <h1 v-if="!this.flow && !this.paso">Formulario de solicitud de Tarjeta de Crédito</h1>
            <h1
              v-if="(this.flow  && this.flow.step == '1' && !this.paso)  || (this.paso && this.paso.respuesta.step == '1')">
              Formulario de solicitud de Tarjeta de Crédito</h1>
            <h1
              v-if="(this.flow  && this.flow.step == '2' && !this.paso)  || (this.paso && this.paso.respuesta.step == '2')">
              Su solicitud de Tarjeta de Crédito ha sido aprobada</h1>
          </div>

          <div class="banner-description">
            <p v-if="!this.flow && !this.paso">Para ingresar una nueva solicitud de Tarjeta de Crédito completa la
              siguiente información</p>
            <p
              v-if="(this.flow  && this.flow.step == '1' && !this.paso)  || (this.paso && this.paso.respuesta.step == '1')">
              Complete el formulario de solicitud de la con los datos del cliente </p>
            <p v-if="(this.flow  && this.flow.step == '2' && !this.paso)  || (this.paso && this.paso.respuesta.step == '2')"
              style="font-size: 2.5rem">
              Se ha aprobado una
              <b>{{ producto }}</b> con un límite de
              <span style="white-space: nowrap">L {{ limite }}</span> del cliente
              <br>

            </p>
          </div>
        </div>
      </div>
      <hr class="cintaGris">
    </div>
    <!-- <div class="container-fluid" style="background-image: url('/design/index/card0.jpeg'); margin-top: -60px;">
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img v-if="!this.flow && this.paso" src="/design/index/bank_card.png" style="margin-top: 50px;">
            <img v-if="this.flow && this.flow.step == '1' &&  this.flow.product_information.original.product.code == 'DDP'" src="/design/index/DPT.png" style="margin-top: 110px;">
            <img v-if="this.flow && this.flow.step == '1' &&  this.flow.product_information.original.product.code == 'DPT'" src="/design/index/DDP.png" style="margin-top: 110px;">
            <img v-if="this.flow && this.flow.step == '2'" src="/design/index/success.png" style="padding-bottom: 0px; padding-top: 40px;">
            
          </div>
          <div class="banner-title">
            <h1 v-if="!this.flow" >Formulario de solicitud de Tarjeta de Crédito</h1>
            <h1 v-if="this.flow && this.flow.step =='1'">Formulario de solicitud de Tarjeta de Crédito</h1>
            <h1 v-if="this.flow && this.flow.step == '2'">Su solicitud de Tarjeta de Crédito ha sido aprobada</h1>
          </div>

        <div class="banner-description">
            <p v-if="!this.flow">Para ingresar una nueva solicitud de Tarjeta de Crédito completa la siguiente información</p>
            <p v-if="this.flow && this.flow.step == '1'">Complete el formulario de solicitud de la {{ producto}} con los datos del cliente ID No. {{ this.flow.customer}}</p>
            <p  v-if="this.flow && this.flow.step == '2'" style="font-size: 2.5rem">Se ha aprobado una <b>{{ producto }} </b> con un límite de <span style="white-space: nowrap">L {{ limite }} </span> del cliente con <br> ID No. {{idCliente}}</p>
          </div>
        </div>
      </div>
      <hr class="cintaGris"> 
    </div> -->


    <div class="container" style="position:relative; min-height: 30px">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6" style="left: -200px;" >
            <div v-if="this.steps === 2" >
              <form class="form-horizontal" role="form" id="return-form" v-on:click="regresar();">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a class="fas fa-backward i"></a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div v-if="!this.paso && !this.flow">
              <form class="form-horizontal" role="form" method="POST" id="return-form" v-on:click="home();">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a>Inicio</a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- <return-component
            :paso="this.paso"
            :flow="this.flow"
            ></return-component> -->
          </div>
          <div v-if="this.steps > 0" class="col-6"> <!--   -->
            <exit-component 
              :producto="'bank_card'" 
              :proceso="'exit_process'"
              :parametrosproceso="'exit_process_params'"
              :opciones="this.opciones"
            >
            </exit-component>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding: 50px 15px 8rem">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9">
            <!-- <pre v-if="this.steps">{{this.steps}}</pre> -->
            <!-- 
            <pre v-if="paso">{{paso}}</pre> -->
            <!-- <h1>{{this.steps}}</h1> -->

            <!-- <pre>lista: {{this.lists }}</pre>  -->
            <progress-component></progress-component>
            <!--  <pre>el paso: {{ objJson }}</pre> -->
            <flow-card-component 
              :lists="lists" 
              :flow="flow" 
              v-on:EventoPadre="OyenteClickAbuelo"
              
              >
            </flow-card-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ["lists", "flow", "msg"],
    data() {
      return {
        steps: 0,
        lista: this.flow,
        ciudades: null,
        paso: this.paso,
        producto: null,
        codigoProducto: null,
        idCliente: null,
        limite: null,
        identidad: "",

        test: {},
        objJson: {},
        pasosEnviar: {
          paso: "",
          respuesta: {}
        },
        atras: null,
        opciones: {
          'hola':'hola2'
        },
      };
    },
    created: function () {
      if(this.paso){
        if(this.paso.respuesta){
          if(this.paso.respuesta.data){
            this.steps = parseInt(this.paso.respuesta.data.step)
          }else{
            this.steps = parseInt(this.paso.respuesta.step)
          }
        }
          //alert(JSON.stringify(this.paso.respuesta.step))
        }else if(this.flow){
          //alert(JSON.stringify(this.flow.step))
          this.steps = parseInt(this.flow.step)
        }else{
          this.steps = 0
        }
        if(this.steps === 1){
          this.opciones = { 
               'TA01': 'Asesor'
          }
        }else if(this.steps === 2){
          this.opciones = {
            'TU15' : 'Solicitado por el cliente',
            'TA01' : 'Asesor'
          }
        }
      //this.iniciar;
    },
    mounted() {
      $(document).ready(function () {
        if ($("#public_job option:selected").val() == "S") {
          $('.hide-public-job').fadeIn();
          //alert("desde INDEX: S")
        } else {
          $('.hide-public-job').fadeOut();
          //alert("desde INDEX: N")
        }
      });







      //alert("mounted en first")
    },
    computed: {
      iniciar: function () {
        this.mostrarData();
        if(this.steps === 1){
          this.opciones = { 
               'TA01': 'Asesor'
          }
        }else if(this.steps === 2){
          this.opciones = {
            'TU15' : 'Solicitado por el cliente',
            'TA01' : 'Asesor'
          }
        }
        //alert("iniciar?")
        //alert(this.flow.product_information.original.product.name);
        if (this.flow) {
          //alert("flow")
          this.lista = this.lists;
          this.ciudades = this.lists.cities;
          this.paso = this.paso;
          this.steps = this.paso.respuesta.step;
          this.producto = this.flow.product_information.original.product.name;
          this.codigoProducto = this.flow.product_information.original.product.code;
          this.idCliente = this.flow.identifier;
          this.limite = this.flow.product_information.original.product.limit;
        } else if (this.paso) {
          //alert("paso")
          this.lista = this.lists;
          this.ciudades = this.lists.cities;
          this.paso = this.paso;
          this.steps = this.paso.respuesta.step;
          this.producto = this.paso.respuesta.product_information.original.product.name;
          this.codigoProducto = this.product_information.original.product.code;
          this.idCliente = this.identifier;
          this.limite = this.product_information.original.product.limit;
          this.identidad = this.paso
        }
      }
    },
    methods: {
      OyenteClickAbuelo: function (param1) {
        //alert("abuelo");
        this.$emit("EventoPadre", param1);
        this.paso = param1
        this.mostrarData();
        if(this.paso){
          //alert(JSON.stringify(this.paso.respuesta.step))
          this.steps = parseInt(this.paso.respuesta.step)
        }else if(this.flow){
          //alert(JSON.stringify(this.flow.step))
          this.steps = parseInt(this.flow.step)
        }else{
          this.steps = 0
        }

        if(this.steps === 1){
          this.opciones = { 
               'TA01': 'Asesor'
          }
        }else if(this.steps === 2){
          this.opciones = {
            'TU15' : 'Solicitado por el cliente',
            'TA01' : 'Asesor'
          }
        }
        //(this.paso.respuesta.step > 1 || this.flow.step > 1)
        /*  alert("Viene desde flow a mostrar en index: " + JSON.stringify(this.paso))
         console.log("Viene desde flow a mostrar en index: " + JSON.stringify(this.paso)) */
      },
      mostrarData: function () {
        if (this.paso) {
          /*  console.log("original")
           console.log(this.paso)
           console.log("original") */
          this.test = this.paso
          //alert(typeof (this.test))
          if (typeof this.test === 'object') {
            /*         alert("sería de paso") */
            this.objJson = this.paso.respuesta
            /*     console.log("desde paso")
                console.log(this.test)
                console.log("desde paso") */
            return true
          } else if (typeof this.test === 'string') {
            //this.test = ""
            this.objJson = JSON.parse(this.paso);
            // alert("sería de flow")
            // alert(typeof (this.objJson))
            /*         console.log("desde flow")
                    console.log(this.test)
                    console.log("desde flow") */
            return true
          } else {
            return false
          }
        } else if (this.flow) {
          this.objJson = this.flow
          //alert("Hubo problemas con flow")
        }

        //var fecha = data.parse("-1484864549")
        //alert(fecha)
      },
      regresar: function () {
        var urlLogin = "";
        var id
        
        if (this.paso) {
          id = this.paso.respuesta.id;
          var urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // alert("id desde paso: " + id)
        } else if (this.flow) {
          id = this.flow.id;
          var urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // alert("id desde flow: " + id)
        } else {
           // alert("Ocurrio un error con paso y flow.")
        }
      },
      back: function (url) {
        axios
          .post(url)
          .then(response => {
            this.atras = response.data.data.step
            //alert(JSON.stringify(response.data.data))
            //console.log(JSON.stringify(response.data))
            //alert(JSON.stringify(response.data.data.step))
            this.pasosEnviar.respuesta = response.data.data;
            if(response.data.data.step <= 0){
              this.pasosEnviar.paso = "search"
            }else if(response.data.data.step === 1){
              this.pasosEnviar.paso = "first"
            }else if(response.data.data.step === 2){
              this.pasosEnviar.paso = "second"
            }else{
              console.log("Ocurrio un error")
            }
            //console.log(JSON.stringify(response.data.data.step))
            this.$emit('update', this.pasosEnviar);
            //return this.atras
          })
          .catch(e => {
            // alert(e)
          });
      },
      home: function(){
        location.href = "/index";
      }
    }
  };
</script>