<template>
  <div>
    <div class="container-fluid" style="background-image: url('/design/index/card0.jpeg'); margin-top: -60px;">
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img src="/design/index/insurance_safe_family.png" style="margin-top: 50px;">
          </div>
          <div class="banner-title">
            <h1>Formulario de Solicitud de Familia Segura</h1>
          </div>
          <div class="banner-description">
            <p v-if="!this.flow && !this.paso">Complete la información del cliente para terminar el proceso de solicitud
              del seguro Familia Segura</p>
            <p
              v-if="(this.flow  && this.flow.step == '1' && !this.paso)  || (this.paso && this.paso.respuesta.step >= '1' )">
              Continúe completando la información del cliente con ID No. y póliza No. </p>
          </div>
        </div>
      </div>
      <hr class="cintaGris">
    </div>
    <!-- <div class="container-fluid" style="background-image: url('/design/index/Artboard3_4x.png');">
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img src="/design/index/insurance_safe_family.png">
          </div>
          <div class="banner-title">
            <h1>Bienvenido al Asistente Davivienda</h1>
          </div>
          <div class="banner-description">
            <p>Complete la información del cliente para terminar el proceso de solicitud del seguro Familia Segura</p>
          </div>
        </div>
      </div>
      <hr class="cintaGris">
    </div> -->

    <div class="container" style="position:relative; min-height: 60px">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <div v-if="this.irAtras()" >
              <form class="form-horizontal" role="form" id="return-form" v-on:click="regresar();">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a class="fas fa-backward i"></a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div v-if="this.steps === 1">
              <form class="form-horizontal" role="form">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a>Regresar a los contratos</a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- <return-component
            :paso="this.paso"
            :flow="this.flow"
            ></return-component> -->
          </div>
          <div class="col-6">
            <!-- <exit-component :producto="'insurance_safe_family'" :proceso="'exit_process'"
              :parametrosproceso="'exit_process_params'"></exit-component> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding: 50px 15px 8rem">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9">
            <progress-component></progress-component>
            <!-- <h1 v-if="parent">---------------------------------parent: {{ parent }}</h1> -->
            <!-- <h1>parent2: {{ parent2 }}</h1>  -->
            <!-- <h1 v-if="paso === {}">{{ paso.step }}</h1>  -->
            <flow-flowSafeFamily-component :lists="lists" :flow="flow" :plans="plans" :products="products"
              :jsonplans="jsonPlans2" :parent="parent2" v-on:EventoPadre="OyenteClickAbuelo">
            </flow-flowSafeFamily-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      "lists",
      "flow",
      "plans",
      "products",
      "jsonplans",
      "parent",
    ],
    data() {
      return {
        steps: null,
        lista: this.lists,
        ciudades: null,
        paso: this.paso,
        producto: null,
        codigoProducto: null,
        idCliente: null,
        limite: null,
        planes: this.plans,
        productos: this.products,
        jsonPlans2: this.jsonplans,
        parent2: this.parent,
        pasosEnviar: {
          paso: "",
          respuesta: {}
        },
        atras: null,
      };
    },
  created: function() {
      
        if (this.paso) {
          /*   console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso)) */
          if (this.paso.respuesta.data) {
            /* if(this.paso.respuesta.data.id){ */
            this.steps = parseInt(this.paso.respuesta.data.step)
            // // alert("si paso")
          } else {
            // // alert("no paso")
            this.steps = parseInt(this.paso.respuesta.step)
          }
          urlLogin = "/regresar-un-paso/" + id;
          //this.back(urlLogin)
          // // alert("id desde paso: " + JSON.stringify(id))
        }else if(this.flow){
            //// alert(JSON.stringify(this.flow.step))
            this.steps = parseInt(this.flow.step)
          }else{
            this.steps = 0
          }
    //this.iniciar();
  },
    computed: {
      iniciar: function () {
        //// alert(this.flow.product_information.original.product.name);
        if (this.flow) {
          //// alert("flow");
          this.lista = this.lists;
          this.ciudades = this.lists.cities;
          this.paso = this.paso;
          this.steps = this.paso.respuesta.step;
          this.producto = this.flow.product_information.original.product.name;
          this.codigoProducto = this.flow.product_information.original.product.code;
          this.idCliente = this.flow.identifier;
          this.limite = this.flow.product_information.original.product.limit;
        } else if (this.paso) {
          //// alert("paso");
          this.lista = this.lists;
          this.ciudades = this.lists.cities;
          this.paso = this.paso;
          this.steps = this.paso.respuesta.step;
          this.producto = this.product_information.original.product.name;
          this.codigoProducto = this.product_information.original.product.code;
          this.idCliente = this.identifier;
          this.limite = this.product_information.original.product.limit;
        }
      }
    },
    methods: {
      OyenteClickAbuelo: function (param1) {
      //// alert("abuelo");
      this.$emit("EventoPadre", param1);
      this.paso = param1;
       
        if (this.paso) {
          /*   console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso)) */
          if (this.paso.respuesta.data) {
            /* if(this.paso.respuesta.data.id){ */
            this.steps = parseInt(this.paso.respuesta.data.step)
            // // alert("si paso")
          } else {
            // // alert("no paso")
            this.steps = parseInt(this.paso.respuesta.step)
          }
          //urlLogin = "/regresar-un-paso/" + id;
         // this.back(urlLogin)
          // // alert("id desde paso: " + JSON.stringify(id))
        }else if(this.flow){
            //// alert(JSON.stringify(this.flow.step))
            this.steps = parseInt(this.flow.step)
          }else{
            this.steps = 0
          }
      },
      regresar: function () {
        var urlLogin = "";
        var id

        if (this.paso) {
          if (this.paso.respuesta.data) {
            id = this.paso.respuesta.data.id
           // // alert("si paso")
          } else {
            //// alert("no paso")
            id = this.paso.respuesta.id;
          }
          urlLogin = "/regresar-un-paso/" + id; 
          // alert("id desde paso: " + JSON.stringify(id))
          this.back(urlLogin)
        } else if (this.flow) {
          id = this.flow.id;
          var urlLogin = "/regresar-un-paso/" + id;
          // alert("id desde flow: " + id)
          this.back(urlLogin)
        } else {
         // // alert("Ocurrio un error con paso y flow.")
        }
      },
      back: function (url) {
        axios
          .post(url)
          .then(response => {
            this.atras = response.data.data.step
            this.pasosEnviar.respuesta = response.data.data;
            if (response.data.data.step <= 0) {
              this.pasosEnviar.paso = "search"
            } else if (response.data.data.step === 1) {
              this.pasosEnviar.paso = "first"
            } else if (response.data.data.step === 2) {
              this.pasosEnviar.paso = "second"
            } else if (response.data.data.step === 3) {
              this.pasosEnviar.paso = "third"
            } else if (response.data.data.step === 4) {
              this.pasosEnviar.paso = "fourth"
            } else if (response.data.data.step === 5) {
              this.pasosEnviar.paso = "fifth"
            } else {
              console.log("Ocurrio un error")
            }
            // alert("vamos para atras")
            this.steps = this.steps - 1 ;
            this.$emit('update', this.pasosEnviar);
          })
          .catch(e => {
            alert(e)
          });
      },
      
      irAtras: function(){
        // // alert("debería actualzuar para atras " + this.steps)
        if(this.steps >= 2){
          // // alert("mayor")
          return true;
        }else{
          // alert("menor")
          return false;
        }
      },
    }
  };
</script>