<template>
    <div class="col-6 col-sm-4">
        <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('insurance.safe.family.first', [$product->id]) }}" id="get-insurance-safe-family"> -->
        <form class="form-horizontal" role="form" id="get-insurance-safe-family">
            <!-- {!! csrf_field() !!} -->
                <button type="submit" class="btn davivienda-file">
                    <!-- <img src="{{ asset('design/index/insurance_safe_family.png') }}"> -->
                    <img src="../../../../../public/design/index/insurance_safe_family.png">
                    <p>Solicitar Familia Segura</p>
                </button>
        </form>
    </div>
</template>
