<template>
  <div>
    <div class="container-fluid" style="background-image: url('/design/index/card0.jpeg'); margin-top: -60px;">
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img src="/design/index/bank_auto.png" style="margin-top: 50px;">
          </div>
          <div class="banner-title">
            <h1>Formulario de Solicitud de Auto</h1>
          </div>
          <div class="banner-description">
            <p v-if="!this.flow && !this.paso">Complete la información del cliente para terminar el proceso de solicitud
              de auto asistido</p>
            <p
              v-if="(this.flow  && this.flow.step == '1' && !this.paso)  || (this.paso && this.paso.respuesta.step == '1')">
              Continúe completando la información del cliente NOMBREDECLIENTE con ID No. IDENTIDADDELCLIENTE</p>
          </div>
        </div>
      </div>
      <hr class="cintaGris">
    </div>

    <div class="container" style="position:relative; ">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6" style="left: 10%;">
            <div v-if="this.irAtras()">
              <form class="form-horizontal" role="form" id="return-form" v-on:click="regresar();">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a class="fas fa-backward i"></a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div v-if="!this.paso && !this.flow">
              <form class="form-horizontal" role="form" method="POST" id="return-form" v-on:click="home();">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-back">
                      <a>Inicio</a>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- <return-component
            :paso="this.paso"
            :flow="this.flow"
            ></return-component> -->
          </div>
          <div v-if="this.steps > 0" class="col-6" style="left: 30%;">
            <!--   -->
            <!-- <exit-component 
              :producto="'bank_account'" 
              :proceso="'exit_process'"
              :parametrosproceso="'exit_process_params'"
              :opciones="this.opciones"
            >
            </exit-component> -->
            <!-- <div class="rejection-container"> -->

              <div class="rejection-content" >
                  <div class="row">
                      <div class="col-12">
                          <form class="form-horizontal" role="form" method="POST" id="return-form" v-on:click="salir();">
                            <div class="row">
                              <div class="col-12">
                                <button type="button" class="btn-back">
                                  <a>Salir</a>
                                </button>
                              </div>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          <!-- </div> -->
          
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding: 50px 15px 8rem">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9">
            <progress-component></progress-component>
            <!-- <h1>{{this.steps}}</h1> -->
            <!-- <pre v-if="this.flow">flow desde index: {{this.flow }}</pre>
            <pre v-if="this.paso">paso desde index: {{this.paso }}</pre> -->
            <flow-auto-component :lists="lists" :flow="flow" v-on:EventoPadre="OyenteClickAbuelo">
            </flow-auto-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ["lists", "flow"],
    data() {
      return {
        steps: 0,
        lista: this.lists,
        ciudades: null,
        paso: this.paso,
        producto: null,
        codigoProducto: null,
        idCliente: null,
        limite: null,
        pasosEnviar: {
          paso: "",
          respuesta: {}
        },
        atras: null,
      };
    },
    created: function () {
      if (this.paso) {
        // alert("1111")
        if (this.paso.respuesta) {
          // alert("2222")
          if (this.paso.respuesta.data) {
            // alert("3333")
            this.steps = parseInt(this.paso.respuesta.data.step)
          } else {
            // alert("4444")
            this.steps = parseInt(this.paso.respuesta.step)
          }
        }
        //// alert(JSON.stringify(this.paso.respuesta.step))
      } else if (this.flow) {
        //// alert(JSON.stringify(this.flow.step))
        this.steps = parseInt(this.flow.step)
      } else {
        this.steps = 0
      }
      if (this.steps === 1) {
        this.opciones = {
          'TA01': 'Asesor'
        }
      }
      //this.iniciar();
    },
    computed: {
      iniciar: function () {
        // // alert(this.flow.product_information.original.product.name);
        if (this.flow) {
          // // alert("flow");
          this.lista = this.lists;
          this.ciudades = this.lists.cities;
          this.paso = this.paso;
          this.steps = this.paso.respuesta.step;
          this.producto = this.flow.product_information.original.product.name;
          this.codigoProducto = this.flow.product_information.original.product.code;
          this.idCliente = this.flow.identifier;
          this.limite = this.flow.product_information.original.product.limit;
        } else if (this.paso) {
          // // alert("paso");
          this.lista = this.lists;
          this.ciudades = this.lists.cities;
          this.paso = this.paso;
          this.steps = this.paso.respuesta.step;
          this.producto = this.product_information.original.product.name;
          this.codigoProducto = this.product_information.original.product.code;
          this.idCliente = this.identifier;
          this.limite = this.product_information.original.product.limit;
        }
      }
    },
    methods: {
      OyenteClickAbuelo: function (param1) {
        //      // alert("abuelo");
        this.$emit("EventoPadre", param1);
        this.paso = param1;
        this.mostrarData();
        if (this.paso) {
          /*   console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso)) */
          if (this.paso.respuesta.data) {
            /* if(this.paso.respuesta.data.id){ */
            this.steps = parseInt(this.paso.respuesta.data.step)
            // // alert("si paso")
          } else {
            // // alert("no paso")
            this.steps = parseInt(this.paso.respuesta.step)
          }
          urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // // alert("id desde paso: " + JSON.stringify(id))
        } else if (this.flow) {
          //// alert(JSON.stringify(this.flow.step))
          this.steps = parseInt(this.flow.step)
        } else {
          this.steps = 0
        }
        /* 
                if(this.paso){
                  // alert("1111")
                  if(this.paso.respuesta){
                    // alert("2222")
                    if(this.paso.respuesta.data){
                      // alert("3333")
                      this.steps = parseInt(this.paso.respuesta.data.step)
                    }else{
                      // alert("4444")
                      this.steps = parseInt(this.paso.respuesta.step)
                    }
                  }
                    //// alert(JSON.stringify(this.paso.respuesta.step))
                  }else if(this.flow){
                    //// alert(JSON.stringify(this.flow.step))
                    this.steps = parseInt(this.flow.step)
                  }else{
                    this.steps = 0
                  } */
      },
      mostrarData: function () {
        if (this.paso) {
          /*  console.log("original")
           console.log(this.paso)
           console.log("original") */
          this.test = this.paso
          //// alert(typeof (this.test))
          if (typeof this.test === 'object') {
            /*         // alert("sería de paso") */
            this.objJson = this.paso.respuesta
            /*     console.log("desde paso")
                console.log(this.test)
                console.log("desde paso") */
            return true
          } else if (typeof this.test === 'string') {
            //this.test = ""
            this.objJson = JSON.parse(this.paso);
            // // alert("sería de flow")
            // // alert(typeof (this.objJson))
            /*         console.log("desde flow")
                    console.log(this.test)
                    console.log("desde flow") */
            return true
          } else {
            return false
          }
        } else if (this.flow) {
          this.objJson = this.flow
          //// alert("Hubo problemas con flow")
        }

        //var fecha = data.parse("-1484864549")
        //// alert(fecha)
      },
      regresar: function () {
        var urlLogin = "";
        var id

        if (this.paso) {
          /*   console.log(JSON.stringify(this.paso))
            console.log(JSON.stringify(this.paso)) */
          if (this.paso.respuesta.data) {
            /* if(this.paso.respuesta.data.id){ */
            id = this.paso.respuesta.data.id
            // // alert("si paso")
          } else {
            // // alert("no paso")
            id = this.paso.respuesta.id;
          }
          urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // // alert("id desde paso: " + JSON.stringify(id))
        } else if (this.flow) {
          id = this.flow.id;
          var urlLogin = "/regresar-un-paso/" + id;
          this.back(urlLogin)
          // // alert("id desde flow: " + id)
        } else {
          // // alert("Ocurrio un error con paso y flow.")
        }
      },
      back: function (url) {
        axios
          .post(url)
          .then(response => {
            // // alert(JSON.stringify(response))
            console.log(JSON.stringify(response))
            this.atras = response.data.data.step
            this.pasosEnviar.respuesta = response.data.data;
            console.log(" la respuesta antes de regresar un paso atras: " + JSON.stringify(response))




            if (response.data.data.step <= 0) {
              // console.log("esto es lo que temos antes de enviar un paso atras: " + JSON.stringify(response))
              // // alert("lo enviara aqui")
              this.pasosEnviar.paso = "search"
            } else if (response.data.data.step === 1) {
              this.pasosEnviar.paso = "first"
            } else if (response.data.data.step === 2) {
              this.pasosEnviar.paso = "second"
            } else if (response.data.data.step === 3) {
              this.pasosEnviar.paso = "third"
            } else if (response.data.data.step === 4) {
              this.pasosEnviar.paso = "query"
            } else if (response.data.data.step === 5) {
              this.pasosEnviar.paso = "query"
            } else if (response.data.data.step === 'aprobado') {
              this.pasosEnviar.paso = "query"
            } else {
              console.log("Ocurrio un error")
            }
            //console.log(JSON.stringify(response.data.data.step))
            this.$emit('update', this.pasosEnviar);
            //return this.atras
          })
          .catch(e => {
            // alert(e)
          });
      },

      home: function () {
        location.href = "/index";
      },
      irAtras: function () {
        // alert("debería actualzuar para atras " + this.steps)
        if (this.steps > 1) {
          // alert("mayor")
          return true;
        } else {
          // alert("menor")
          return false;
        }
      },
      salir: function () {
        var urlLogin = "/salir/bank_auto/exit_process/exit_process_params"; // + this.p_proceso + "/" + this
        axios
          .post(urlLogin)
          .then(response => {
            //console.log(JSON.stringify(response))
            //alert("salio")
            location.href = '/index';
          })
          .catch(e => {
            /* this.$setErrorsFromResponse(e.response.data.errors); */

          });
      }
    }
  };
</script>