<template>
    <div class="container">
        <!-- <form class="form-horizontal" role="form" method="POST" action="{{ route('search.customer', ['bank_account']) }}" id="form"> -->
        <form class="form-horizontal" role="form" id="form" @submit="formSubmit">
        <!-- {!! csrf_field() !!} -->

            <div class="row">
                <div class="col-12 form-group">
                    <h2>Primer formulario</h2>
                </div>

                <div class="col-2 form-group text-center">
                    <span class="davivienda-icon icon-id"></span>
                </div>

                <div class="col-10">
                    <div class="form-group">
                        <text-input-component
                            :type="'text'"
                            :classes="'form-control validate-num-dash'"
                            :name="'identity'"
                            :max="13"
                            :min="0"
                            :placeholder="'Ingrese otro número'"
                        ></text-input-component>
                        <h3 id="e_identity" class="help-block" ></h3>
                    <!-- <div class="form-group{{ $errors->has('identity') ? ' has-error' : '' }}">
                        @include('modules._textInput', [
                            'name' => 'identity',
                            'placeholder' => 'Ingrese el número de identificación',
                            'label' => 'Identidad',
                            'length' => '13',
                            'classes' => 'validate-num-dash',
                            'required' => 'required'
                        ]) -->
                    </div>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-12">
                    <button class="btn btn-davivienda-red btn-loading">
                        SIGUIENTE
                    </button>
                </div>
                <!-- <h3 id="error" class="help-block"></h3> -->
            </div>
        </form>
    </div>
</template>
<script>
    export default {  
        data() {
            return {
                errors: {},
                datos: []

            }
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();

                axios.post('/flujo-de-prueba/2')
                    .then((response) => {
                        return this.fireEvent();
                    })
                    .catch(function (error) {

                    });
            },

            fireEvent()
            {
                return this.$emit('updateFlow', 'second');
            }
        }
    };
</script>