<template>
  <div>
    <header-component></header-component>
    <div class="container-fluid" style="background-color: #EBEBEB">
      <div class="container">
        <div class="banner">
          <div class="banner-image">
            <img src="/design/index/assistant.png">
          </div>
          <div class="banner-title">
            <h1>Ingresa al Asistente Davivienda</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="position: relative; min-height: 60px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6"></div>
          <div class="col-6"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding: 50px 15px 8rem;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <form autocomplete="off" v-on:submit.prevent="PostLogin(sessionLogin)">
                    <div class="form-group row">
                      <div class="col-12 form-group">
                        <label class="control-label" for="peopleSoft">PeopleSoft</label>
                      </div>
                      <div class="col-2 form-group text-center">
                        <span class="davivienda-icon icon-id"></span>
                      </div>
                      <div class="col-10">
                        <input
                          id="peopleSoft"
                          type="text"
                          class="form-control"
                          name="peopleSoft"
                          v-model="sessionLogin.peopleSoft"
                          placeholder="PeopleSoft"
                          required
                          autofocus
                        >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 form-group">
                        <label class="control-label" for="password">Contraseña</label>
                      </div>
                      <div class="col-2 form-group text-center">
                        <span class="davivienda-icon icon-edit"></span>
                      </div>
                      <div class="col-10">
                        <input
                          id="password"
                          type="password"
                          class="form-control"
                          name="password"
                          v-model="sessionLogin.password"
                          placeholder="Contraseña"
                          required
                        >
                      </div>
                    </div>
                    <div class="row davivienda-checkbox form-group terms align-items-center">
                      <div class="col-2 text-center">
                        <input id="remember" name="remember" type="checkbox">
                      </div>
                      <div class="col-10">
                        <label class="standard-label" for="remember">Recordar mi sesión</label>
                      </div>
                    </div>
                    <div class="form-group row justify-content-center">
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-davivienda-red btn-loading">Ingresar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12"></div>
        </div>
      </div>
    </div>
    <footer-component></footer-component>
  </div>
</template>

<script>
// sessionStorage.setItem('datos', JSON.stringify([]))
// this.location.reload();
// src="https://code.jquery.com/jquery-3.4.0.min.js">

export default {  
  data() {
    var fill = sessionStorage.getItem('datos')
    // if (fill == "[]") {
    //   // alert("si")
      
    // }else{
    //   alert(sessionStorage.getItem('datos'))
    //   // location.reload()
    // }
    
    // $( window ).on( "load", function() {
    //     sessionStorage.removeItem("datos");
        
    //     alert("hola")
    //     var refresh = $window.localStorage.getItem('refresh'); console.log(refresh); if (refresh===null){ window.location.reload(); $window.localStorage.setItem('refresh', "1"); } 
    //     // window.location.reload();
    // });
    
    return {
      
      // Model to login
      
      sessionLogin: {
        peopleSoft: "",
        password: ""
      }
    };
  },
  created() {    
    // document.cookie = 'asistente_davivienda_session';
    // document.cookie = 'asistente_davivienda_session' + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "asistente_davivienda_session= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
    sessionStorage.removeItem('datos');
    window.onload = function() {
    // if(!window.location.hash) {
    //     window.location = window.location + '#loaded';
    //     window.location.reload();
    // }
    }
    // location.reload()
    // console.log(document.cookie);
  },
  methods: {
      PostLogin: function(dataLogin) {
      var urlLogin = "/login";
      axios
        .post(urlLogin, dataLogin)
        .then(response => {
            //console.log(response.data.role);
            
          if(response.data.status == 200) {
            console.log(response.data)  // de prueba.
            var todo = response.data  // de prueba.
            sessionStorage.setItem('todo', JSON.stringify(todo))
            var miObjeto = response.data.role
              sessionStorage.setItem('datos', JSON.stringify(miObjeto))
              this.$router.push({ name: "home" });
              location.reload();
          } else if(response.data.status == 404) {
            console.log('Usuario o contraseña incorrectos!');
            sessionStorage.setItem('datos', JSON.stringify([]))
          } else if(response.data.status == 401) {
            console.log('No autorizado');
            sessionStorage.setItem('datos', JSON.stringify([]))
          } else if(response.data.status == 500) {
            sessionStorage.setItem('datos', JSON.stringify([]))
            console.log(response);
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    
  }
};
</script>