body {
  font-size: 15px;
}

.logo img {
  max-width: 200px;
}

.policy-signatures {
  margin: -2rem auto;
  tr {
    td {
      padding: 0rem 2rem;
      text-align: center;
      p {
        margin: 0;
      }
      .policy-signature-img {
        img {
          max-width: 8rem;
        }
      }
    }
  }
}

.fluid-4-column-table {
  table-layout: fixed;
  width: 100%;
  td {
    width: 25%;
  }
}

.fluid-2-column-table {
  table-layout: fixed;
  width: 100%;
  td {
    width: 50%;
  }
}